/**
 * Default Look and Feel
 */
.alertify,
.alertify-log {
	font-family: sans-serif;
}
.alertify {
	background: #FFF;
	border: 10px solid #333; /* browsers that don't support rgba */
	border: 10px solid rgba(0,0,0,.7);
	border-radius: 8px;
	box-shadow: 0 3px 3px rgba(0,0,0,.3);
	-webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
	   -moz-background-clip: padding;     /* Firefox 3.6 */
	        background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
	.alertify-text {
		padding: 10px;
	}
	.alertify-button {
		border-radius: 4px;
		color: #FFF;
		font-weight: bold;
		padding: 6px 15px;
		text-decoration: none;
		background:#ED5664;
	}
	.alertify-button:hover,
	.alertify-button:focus {
		outline: none;
		background:#ED5664;
	}
	.alertify-button:active {
		position: relative;
	}
		.alertify-button-cancel,
		.alertify-button-cancel:hover,
		.alertify-button-cancel:focus {
			background-color: #ED5664;
		}
		.alertify-button-ok,
		.alertify-button-ok:hover,
		.alertify-button-ok:focus {
			background-color: #5CB811;
		}

.alertify-log {
	background: #1F1F1F;
/*	background: rgba(0,0,0,.9);*/
	padding: 15px;
	border-radius: 4px;
	color: #FFF;
}
	.alertify-log-error {
		background: #ED5664;
/*		background: rgba(254,26,0,.9);*/
	}
	.alertify-log-success {
		background: #00a79d;
	/*	background: rgba(92,184,17,.9);*/
	}