/*CSS FOR LOADER*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.loader {
	  display: block;
    position: relative;
    left: 0%;
    top: 20%;	
  font-size: 20px;
  margin: 5em auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ed5664, 2em -2em 0 0em #ed5664, 3em 0em 0 -0.5em #ed5664, 2em 2em 0 -0.5em #ed5664, 0em 3em 0 -0.5em #ed5664, -2em 2em 0 -0.5em #ed5664, -3em 0em 0 -0.5em #ed5664, -2em -2em 0 0em #ed5664;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ed5664, 2em -2em 0 0.2em #ed5664, 3em 0em 0 0em #ed5664, 2em 2em 0 -0.5em #ed5664, 0em 3em 0 -0.5em #ed5664, -2em 2em 0 -0.5em #ed5664, -3em 0em 0 -0.5em #ed5664, -2em -2em 0 -0.5em #ed5664;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ed5664, 2em -2em 0 0em #ed5664, 3em 0em 0 0.2em #ed5664, 2em 2em 0 0em #ed5664, 0em 3em 0 -0.5em #ed5664, -2em 2em 0 -0.5em #ed5664, -3em 0em 0 -0.5em #ed5664, -2em -2em 0 -0.5em #ed5664;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ed5664, 2em -2em 0 -0.5em #ed5664, 3em 0em 0 0em #ed5664, 2em 2em 0 0.2em #ed5664, 0em 3em 0 0em #ed5664, -2em 2em 0 -0.5em #ed5664, -3em 0em 0 -0.5em #ed5664, -2em -2em 0 -0.5em #ed5664;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ed5664, 2em -2em 0 -0.5em #ed5664, 3em 0em 0 -0.5em #ed5664, 2em 2em 0 0em #ed5664, 0em 3em 0 0.2em #ed5664, -2em 2em 0 0em #ed5664, -3em 0em 0 -0.5em #ed5664, -2em -2em 0 -0.5em #ed5664;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ed5664, 2em -2em 0 -0.5em #ed5664, 3em 0em 0 -0.5em #ed5664, 2em 2em 0 -0.5em #ed5664, 0em 3em 0 0em #ed5664, -2em 2em 0 0.2em #ed5664, -3em 0em 0 0em #ed5664, -2em -2em 0 -0.5em #ed5664;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ed5664, 2em -2em 0 -0.5em #ed5664, 3em 0em 0 -0.5em #ed5664, 2em 2em 0 -0.5em #ed5664, 0em 3em 0 -0.5em #ed5664, -2em 2em 0 0em #ed5664, -3em 0em 0 0.2em #ed5664, -2em -2em 0 0em #ed5664;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ed5664, 2em -2em 0 -0.5em #ed5664, 3em 0em 0 -0.5em #ed5664, 2em 2em 0 -0.5em #ed5664, 0em 3em 0 -0.5em #ed5664, -2em 2em 0 0em #ed5664, -3em 0em 0 0em #ed5664, -2em -2em 0 0.2em #ed5664;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ed5664, 2em -2em 0 0em #ed5664, 3em 0em 0 -0.5em #ed5664, 2em 2em 0 -0.5em #ed5664, 0em 3em 0 -0.5em #ed5664, -2em 2em 0 -0.5em #ed5664, -3em 0em 0 -0.5em #ed5664, -2em -2em 0 0em #ed5664;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ed5664, 2em -2em 0 0.2em #ed5664, 3em 0em 0 0em #ed5664, 2em 2em 0 -0.5em #ed5664, 0em 3em 0 -0.5em #ed5664, -2em 2em 0 -0.5em #ed5664, -3em 0em 0 -0.5em #ed5664, -2em -2em 0 -0.5em #ed5664;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ed5664, 2em -2em 0 0em #ed5664, 3em 0em 0 0.2em #ed5664, 2em 2em 0 0em #ed5664, 0em 3em 0 -0.5em #ed5664, -2em 2em 0 -0.5em #ed5664, -3em 0em 0 -0.5em #ed5664, -2em -2em 0 -0.5em #ed5664;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ed5664, 2em -2em 0 -0.5em #ed5664, 3em 0em 0 0em #ed5664, 2em 2em 0 0.2em #ed5664, 0em 3em 0 0em #ed5664, -2em 2em 0 -0.5em #ed5664, -3em 0em 0 -0.5em #ed5664, -2em -2em 0 -0.5em #ed5664;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ed5664, 2em -2em 0 -0.5em #ed5664, 3em 0em 0 -0.5em #ed5664, 2em 2em 0 0em #ed5664, 0em 3em 0 0.2em #ed5664, -2em 2em 0 0em #ed5664, -3em 0em 0 -0.5em #ed5664, -2em -2em 0 -0.5em #ed5664;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ed5664, 2em -2em 0 -0.5em #ed5664, 3em 0em 0 -0.5em #ed5664, 2em 2em 0 -0.5em #ed5664, 0em 3em 0 0em #ed5664, -2em 2em 0 0.2em #ed5664, -3em 0em 0 0em #ed5664, -2em -2em 0 -0.5em #ed5664;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ed5664, 2em -2em 0 -0.5em #ed5664, 3em 0em 0 -0.5em #ed5664, 2em 2em 0 -0.5em #ed5664, 0em 3em 0 -0.5em #ed5664, -2em 2em 0 0em #ed5664, -3em 0em 0 0.2em #ed5664, -2em -2em 0 0em #ed5664;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ed5664, 2em -2em 0 -0.5em #ed5664, 3em 0em 0 -0.5em #ed5664, 2em 2em 0 -0.5em #ed5664, 0em 3em 0 -0.5em #ed5664, -2em 2em 0 0em #ed5664, -3em 0em 0 0em #ed5664, -2em -2em 0 0.2em #ed5664;
  }
}

