#site-wrapper {
  width:1000px;
  position:relative;
  margin:0 auto;
}

main {
 *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
}

main:before, main:after {
  content: '';
  display: table;
}

main:after { clear: both; }

/* Navbar Menu Component */

.menu {
  width: 300px;
  height: 100%;
  background: #333;
  position: fixed;
  top: 0;
  right: -300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  z-index: 10;
}

.menu.show-nav {
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px);
  -webkit-transform: translateX(-300px) tranlateZ(0);
  -ms-transform: translateX(-300px) tranlateZ(0);
  transform: translateX(-300px) tranlateZ(0);
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu ul li {
  position: relative;
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding: 20px 10px;
  text-align: center;
  box-shadow: 0 -1px 1px -1px #fff;
}

.menu ul li:first-child {
  margin-top: 20px;
  border: 0;
  box-shadow: none;
}

.menu ul li a {
  position: relative;
  font-weight: 300;
  padding: 8px 10px;
  color: rgba(255, 255, 255, 0.7);
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.menu ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ed5664;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
  transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}

.no-touch .menu ul li a:hover:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  visibility: visible;
}

.menu p {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 86%;
  left: 20px;
  font-size: 0.875em;
  text-align: center;
}

.menu p a {
  color: rgba(243, 139, 0, 0.6);
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu p a:hover {
  color: #f38b00;
  text-decoration: underline;
}

.nav-toggle {
  position:absolute;
  top: 30px;
  right: 30px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transform: translateX(0) translateZ(0);
  transform: translateX(0) translateZ(0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.32, 1.25, 0.375, 1.15);
  transition: all 0.4s cubic-bezier(0.32, 1.25, 0.375, 1.15);
  z-index: 11;
}

.nav-toggle span.fa-cog {
  color: #fff;
  padding: 5px 8px;
  font-size: 1.5em;
   background:#ed5664;
}

.no-touch .nav-toggle span:hover { color: black; }

.nav-toggle span.fa-times { color: #fff; }

.nav-toggle span.fa-times:hover { color: #fff; }

/*.nav-toggle.show-nav {
  top: 12px;
  right: 12px;
}*/

.menu-toogle-close {position:absolute; right:15px; top:15px; z-index:9999;}
.menu-toogle-close .fa-times{color:#fff; font-size:1.5em;}

.nav-toogle-right{position:fixed; right:0; top:0; width:300px;}

.setting-back>span.fa-times{display:none !important;}
