
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*------ utiltity classes -----*/
.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}

.wrapper {
    
}
.pricing-table {
    width: 80%;
    margin: 0px auto;
    text-align: center;
    padding-right: 0;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    width: 30.8%;    
    margin: 0 15px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
/*    border: 1px solid red;*/
    display:inline-block;
}
/*Shared properties*/
.title,.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}
.content{
    position: relative;
    color: #FEFEFE;
    padding: 20px 0 30px 0;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
	border-color: rgba(136, 183, 213, 0);	
	border-width: 5px;
	margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{    
    font-size: 6rem;
    letter-spacing: 8px;
    font-weight: bold;        
}
.price sup{
    font-size: 1.5rem;    
    position: absolute;    
    top: 12px;
    left: -12px;
}
.hint{
    font-style: italic;
    font-size: 0.9rem;
}
.features{
    list-style-type: none;    
    background: #f2f2f2;
    text-align: left;
    color: #9C9C9C;
    padding:20px 15%;
    font-size: 0.9rem;
}
.features li{
    padding:15px 0;
    width: 100%;
	color:#5a5a5a;
	font-size:15px;
}
.features li a{
	color:#5a5a5a;
}
.features li span{
   padding-right: 0.4rem; 
}
.pt-footer{
    font-size: 0.95rem;
    text-transform: capitalize;
	padding:30px 0;
}

/*PERSONAL*/
.personal .title{        
    background: #0ab1a7;    
}
.personal .content,.personal .pt-footer{
    background: #06c5ba;
}
.personal .content:after{	
	border-top-color: #06c5ba;	
}
.personal .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*PROFESSIONAL*/
.professional .title{
    background: #009f95;
}
.professional .content,.professional .pt-footer{
    background: #07bfb4;
}
.professional .content:after{	
	border-top-color: #009f95;	
}
.professional .pt-footer:after{
    border-top-color: #FFFFFF;
}
/*BUSINESS*/
.business .title{
    background: #db3a49;
}
.business .content,.business .pt-footer{
    background: #e55360;
}
.business .content:after{	
	border-top-color: #e55360;	
}
.business .pt-footer:after {	
	border-top-color: #FFFFFF;	
}

.professional .pt-footer p a{ 
    background: #009f95;
    color: #fff;
	font-size:16px;
    padding: 10px 20px;
	border:1px solid #fff;
    text-decoration: none;}
.business .pt-footer p a{ 
    background: #db3a49;
    color: #fff;
	font-size:16px;
    padding: 10px 20px;
	border:1px solid #fff;
    text-decoration: none;}
.personal .pt-footer p a{ 
    background: #0ab1a7;
    color: #fff;
	font-size:16px;
    padding: 10px 20px;
	border:1px solid #fff;
    text-decoration: none;}
.professional .pt-footer p a:hover{background:#07bfb4; border:1px solid #fff;}	
.business .pt-footer p a:hover{background:#e55360; border:1px solid #fff;}	
.personal .pt-footer p a:hover{background:#06c5ba; cborder:1px solid #fff;}	
.package-wrap{text-align:center;}
.package-wrap p.price{color:#fff; font-size:26px;}
.package-wrap .block p.hint{font-size:18px; color:#fff;}
.package-wrap .block h2.title{ font-size:20px;}

.package-wrap p.success{line-height:22px; margin:40px auto 30px auto;}
.package-wrap a.dashboard-return{background: #ed5664 none repeat scroll 0 0;
    display:inline-block;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;}