.tree.tree1 {
	color: #333;
}

#banner { padding: 15px; background-color: #06b; color: white; font-size: large; border-bottom: 1px solid #ccc;
    background: url(bg.gif) repeat-x; text-align: center }
#banner a { color: white; }

#main { padding: 1em; }

a img { border: none; }

.treeview ul li h4{color:#4a4a4a; font-size:15px; margin-bottom:0;}
#sidetreecontrol{ border-bottom:1px solid #ccc; color:#4a4a4a;}
#sidetreecontrol a{   border-right: 1px solid rgb(204, 204, 204);
    color: #ed5664;
    display: inline-block;
    font-size: 14px;
    padding: 12px 25px;}
#sidetreecontrol a:last-child{border-right:none;}
.network-customer h3{  color: #00a69e;
    font-size: 18px;
    padding: 20px 0 20px 5px;}
.treeview  ul li ul{margin-top:10px; padding-left:10px;}
.treeview  ul li ul li{padding-bottom:10px;}
.treeview  ul li ul li.last{padding-bottom:0;}
.treeview ul li h4 span{ margin-left:20px; display:inline-block; background:url("../images/connect-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); width:16px; height:16px;}

.message .message-open ul li a{ background: none repeat scroll 0 0 #ed5664;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
    clear: both;
    color: #fff;
    display: inline-block;
    float: left;
    font-size: 14px;
    margin-left: 22%;
    margin-top: 7px;
    padding: 10px 12px;}
#send_message_form_from_notification  .cust-fancy-label-input{margin-bottom:10px;} 	
#send_message_form_from_notification  .cust-fancy-label-input label{ width:auto; min-width:100px;}
#send_message_form_from_notification  .cust-fancy-label-input  div div{float:left; margin-left:40px; color:#ed5664;}
#send_message_form_from_notification  .cust-fancy-label-input textarea{margin-top:5px;}
.cust-fancy-label-input button.button_connect{margin-top:20px;}
.all-post .delet{z-index:9999;}
	
@media screen and (max-width: 767px) {
.message .message-open ul li a{margin-left:21%;}
}	
	
	
	
	