/* custom style */

*{
	margin: 0;
	padding: 0;
}

body, html {
	/* font-family: 'Open Sans', sans-serif; */
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
	list-style: none;
}

a, a:hover, a:focus{
	color: inherit;
	text-decoration: none;
}



.clearfix {clear:both;}

.header-section {
	padding: 12px 0 0 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1000;
	border-bottom: 1px solid #dfdfdf;
}

.contact-number {
	background: #ff8528;
    color: #fff;
    float: right;
    font-size: 14px;
    margin: 8px 0 23px;
    padding: 6px 7px;
    text-align: right;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.enquiry-online {
	background: #2a6496;
    color: #fff;
    float: right;
    font-size: 14px;
    margin: 8px 12px 23px 12px;
    padding: 6px 7px;
    text-align: right;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.callus{
	/* background: #ff8528; */
    color: #000;
    float: right;
    font-size: 16px;
    margin: 8px 0 23px;
    padding: 6px 7px;
    text-align: right;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.menu-container {
	float: right;
	margin: 0;
}
.menu-container li { 
float:left;
display: block;
font-size: 16px;
color: #2A6496;
} 
.menu-container li a { 
	padding: 10px 17px;
	display: block;
	}
	
/* .menu-container li a:hover, .active { 
	background: #ff8528;
	border-radius: 5px 5px 0 0;
	text-decoration: none;
	color: #fff !important; 
} */

.active { 
	background: #ff8528;
	border-radius: 5px 5px 0 0;
	text-decoration: none;
	color: #fff !important; 
}

.menu-container li ul {
	position:absolute;
	display: none;
	z-index:9999; 
	border-bottom:2px solid #2a6496; 
	/* margin:1px 0 0 0;  */
	padding:0;
	/*background: #ececec;*/
	background:#fff;
	left: 0;
	box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.5);
	width: 100%;
}

/* .menu-container li ul li {border-bottom: 1px solid #fff; border-radius:0; }
.menu-container li ul li a:link, .visited { background-color:#ececec; width:auto; border-radius:0; } 
.menu-container li ul li a:hover { background-color:#2a6daf; border-radius:0; }  */

.menu-title {
	font-size: 14px;
	color: #2a6496;
	font-weight: 600;
	margin: 0;
}

.menu-title a {
	border-bottom: 1px solid #fff;
	/* padding-left: 0 !important;
	padding-right: 0 !important; */
	
}

.menu-title a:hover {
	background-color:#2a6daf !important; 
	border-radius:0 !important;
	color: #fff;
}

.menu-title a span {
	position: absolute;
    right: 30px;
}

.menu-content {
	text-transform: none;
	min-height: 40px;
	overflow: hidden;
	font-size: 13px;
	margin-bottom: 5px;
	padding: 0 15px;
	color: #5d5d5d;
	
}

/*.menu-item a:hover, .active {
	background: #16be00;
	border-radius: 5px 5px 0 0;
	text-decoration: none;
	color: #fff;
}*/

.menuitem-cont {
	width: 80%;
	float: left;
}

.menuform-cont {
	width: 20%;
	float: left;
}

.banner-section {
	position: relative;
	margin-top: 120px;
	padding-bottom: 0;
}

.contactus-btn {
	/* width: 37px; */
	height: 50%;
	max-height: 127px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.banner-content {
	/* height: 190px;
	position: relative;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%; */
	
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.banner-content .container {
	position: relative;
}

.banner-assesform {
	width: 410px;
	float: right;
}

.banner-text h1 {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align:center;
	font-size: 40px;
	visibility: hidden;
}

.banner-text {float: right;}
.banner-text p {
	font-size: 24px;
	color: #524f4f;
	text-align: center;
	line-height: 1;
	font-style: italic;
	visibility: hidden;
}

.learn-more {
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	background: #ff8528;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	margin: 20px auto 0 auto;
	display: block;
}

.learn-more:hover {background: #2A6496;}

.feature-nav-section {width: 100%; padding: 10px 0 0 0;}

.seperator {	width: 100%; margin: 10px 0 0 0;}

.featute-nav-container li {
	color: #2A6496;
	font-size: 15px;
	line-height: 18px;
	/* text-align: center;
	font-weight: bold;
	float: left;
	padding: 12px 45px 8px; */
}

.feature-item {
	display: table-row;
}

.featute-nav-container li img{
	width: 39px;
	height: 39px;
	/* margin-right: 8px; */
	display: table-cell;
	
}

.featute-nav-container li a {
	display: table-cell;
	padding: 0 0 0 10px;
	vertical-align: middle;
}

.section-heading {
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	color: #2a6496;
	text-align: center;
	margin-bottom: 20px;
}

.sub-section {
	font-size: 24px;
}

.section-heading.white {
	color: #fff;
}

.section-heading span {
	color: #ff8528;
	/* font-weight: 700; */
}

.inner-page-section-heading {
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	color: #2a6496;
	text-align: center;
	margin-bottom: 20px;
	margin-top:50px;
}

.inner-page-section-heading.white {
	color: #fff;
}

.inner-page-section-heading span {
	color: #f0b246;
	font-weight: normal;
}

.howitworks-content {
	font-size: 15px;
}

.vertical-seperator-small {
	margin: 0 auto;
	max-width: 491px;
	width: 100%;
}

.section-intro-1 {
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

.section-intro-2 {
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}

.howitworks-content li {
	background: url(../images/listing-img.png) no-repeat 0 4px;
	padding: 0 0 0 30px;
	margin: 0 0 20px 0;
}

.try-it-btn, .next-btn, .view-more, .register-btn, .univ-btn, .dash-getme {
	display: block;
	background: #FF8528;
	padding: 10px 30px;
	border: none;
	margin: 20px auto;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	/* text-transform: uppercase; */
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.next-btn {margin: 10px auto;}

.view-more {	padding: 8px 10px;}

.left-arrow {
	background: url(../images/left-arrow.png) no-repeat 0 0;
	width: 11px;
	height: 22px;
	float: left;
	cursor: pointer;
}

.bullet-container {
	float: left;
	margin: 5px 0 0 0;
}

.bullet-container li {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #8a8a8a;
	float: left;
	margin: 0 5px;
	cursor: pointer;
}

.right-arrow {
	background: url(../images/right-arrow.png) no-repeat 0 0;
	width: 11px;
	height: 22px;
	float: left;
	cursor: pointer;
}

.slider-nav {
	margin: 20px auto;
	width: 140px;
}

.bullet-container li.bull-active {
	background: #3a3a3a;
}

.feature-icon {
	width: 43px;
	height: 38px;
	display: block;
	margin: 0 auto;
}

.feature-title {
	text-align: center;
	/* font-family: 'Raleway', sans-serif; */
	font-size: 16px;
	font-weight: bold;
	color: #2A6496;
}

.feature-content {
	/* font-family: 'Raleway', sans-serif; */
	font-size: 14px;
	color: #2A6496;
	text-align: center;
}

.featuresyoulove li {
    margin: 20px 0;
    min-height: 160px;
}

.loveus-section {
	background: #2A6496;
	padding: 20px 0 ;
	margin: 20px 0;
}

.slider-cont {
	overflow: hidden;
}

.slider-item {
	float: left;
	width: 100%;
}

.slider-container {
	position: relative;
	margin: 20px auto;
	overflow: hidden;
}

.slider-holder {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1000px;
	width: 85%;
}

.slider-img-cont {
	border-radius: 8px;
	overflow: hidden;
	max-width: 220px;
	width: 100%;
	margin: 0 auto;
}

.slider-holder li {
	float: left;
	padding: 0 15px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.partners-section .slider-holder li {
	float: left;
	width: 25%;
	
	padding: 0 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
}

.partners-section .slider-img-cont{
	width: 100%;
	height: 100px;
	overflow: hidden;
	position: relative;
}

.partners-section .slider-img-cont img {
	bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.slider-content-title {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	margin: 10px 0 0 0;
}

.slider-content-subtitle {
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.left-arrow-big {
	background: url(../images/big-left-arrow.png) no-repeat 0 0;
	bottom: 0;
    height: 45px;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
	cursor: pointer;
}

.right-arrow-big {
	background: url(../images/big-right-arrow.png) no-repeat 0 0;
	bottom: 0;
    height: 45px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
	cursor: pointer;
}

.getstarted-holder {
	width: 82px;
	height: 82px;
	border: 1px solid #c6c6c6;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.getstarted-holder img {
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	position: absolute;
}

.letstart-btn {
	border: none;
	background: #3682a6;
	padding: 10px 25px;
	font-size: 14px;
	display: block;
	margin: 20px auto 40px auto;
	color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.letstart-btn:hover {
	background: #FF8528;
}

.bottom-nav{
	background:#2A6496;
	padding: 20px 0;
	margin: 20px 0 0 0;
}

.bottom-nav-col {
	/* width: 20%;
	padding: 0 15px;
	float: left; */
}

.bot-nav-col-title {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

.bottom-nav li {
	color: #fff;
	font-size: 13px;
}
.bottom-nav li a:hover{
	color: #92c2eb;
	text-decoration:none;
}

.subscribe-input {
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 5px;
	border: none;
	background: #fff;
	color:#000;
}

.subscribe-btn {
	background: #f08904;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 20px;
	border: none;
	margin: 20px auto 0 auto;
	border-radius: 5px;
	display: block;
}

.subscribe-btn:hover {background: #ba6b05;}
.social-btn {
	cursor: pointer;
    float: left;
    height: 30px;
    margin: 0 4px;
    width: 30px;
}

.sharebtn-group {
	position: fixed;
	left: 0;
	top: 50%;
	z-index:2000;
	display: block;
}

.sharebtn-group .social-btn {
	float: none;
	margin: 0;
	padding: 10px;
}

.testimonial-content {
	color: #fff;
	font-size: 16px;
	text-align: center;
}

.testimonial-author {
	color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 0;
    text-align: center
}

.testimonial-bullets ul li {
	background: #fff;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	float: left;
	margin: 0 3px;
}

.testimonial-bullets {
	margin: 0 auto;
    width: 55px;
}

.testimonial-bullets li.bull-active {
	background: #ff8528;
}

.loveus-section .slider-holder {
	width: 100%;
	overflow: hidden;
}

.loveus-section .slider-holder ul li {
	float: left;
	/* width: 100%;
	padding: 0 20px; */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.fb-icon {background: url(../images/fb-icon-n.png) no-repeat 0 0;}
.linkdn-icon {background: url(../images/link-din-icon.png) no-repeat 0 0;}
.twitter-icon {background: url(../images/twitter-icon.png) no-repeat 0 0;}/*
.youtube-icon {background: url(../images/youtube-icon.png) no-repeat 0 0;}*/
.gplus-icon{background: url(../images/g-plus-icon.png) no-repeat 0 0;}

/*.social-btn:hover {
	background-position: 0 100%;
}*/

.mfaa-logo {
	width: 50%;
	background: #fff;
	min-width: 125px;
	padding:5px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 10px;
}

.social-btn-cont {
	width: 156px;
	height: 30px;
	margin: 0 auto 20px;
	display: block;
}

.footer {padding: 10px 0;}

.copyright {font-size: 12px;}

.copyright span {
	margin: 0 10px;
}

.navbar-toggle {	
	border: 1px solid #ccc; 
	margin-right: 0;
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 5000;
}
.icon-bar{background: #272626;}

/* -------- 5 equal column in full width */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
    float: left;
}
.col-lg-6ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 33%;
    float: left;
}

.form-section {
	position: relative;
	margin-top: 120px;
	
}
.form-area {
	margin: 0 0 10px 0;
	border: 1px solid #dfdfdf;
	padding: 18px;
} 

.form-area input[type="text"], select {
	width: 100%;
	height: 40px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 8px 0;
	padding:6px;
	color: #000;
}

.form-area .password {
	width: 100%;
	height: 40px;
	border: 1px solid #a2a2a2;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 8px 0;
	padding:6px;
	color: #000;
}

.form-area .email {
	width: 100%;
	height: 40px;
	border: 1px solid #a2a2a2;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 8px 0;
	padding:6px;
	color: #000;
}
.form-area textarea {
	width: 100%;
	height: 110px;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 8px 0;
	padding:6px;
}
.form-area .submit-button {
	margin: 10px auto;
	display: block;
	padding: 8px 15px;
	color: #fff;
	background: #2a6496;
	font-size: 15px;
	text-transform: uppercase;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: none;
}

.link a {
	margin: 35px auto 55px auto;
	display: block;
	padding: 19px 30px;
	color: #fff;
	background: #FF8528;
	font-size: 15px;
	text-transform: uppercase;
	/*border: 1px solid #171717;*/
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:254px;
	text-align:center;
}

.innerpage-con-section {
	position: relative;
	margin-top : 120px;
}

.inner-page-context-text {
	line-height: 24px;
}

label.errorfield{ color:#FF0000;}

.err_msg {
	color:#FF0000;
	/*display: none;*/
}
.succ_msg{
	color:#009900;
	/*display: none;*/
}
 
 .footer-bottom {
	margin: 30px 0 0 0;
 }
 
 .footer-bottom .bot-nav-col-title {
	margin-top: 0;
	text-align: center;
 }
 
.needs-form, .assess-needs-form {
	background: #f5f5f5;
	border-radius: 5px;
	width: 100%;
	/* max-height: 375px; */
	padding: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 20px 0 40px;
 }
 
 .needs-form .form-title {
	color: #2A6496;
	font-weight: 600;
	font-size: 14px;
	margin-top:0;
 }
 
.needs-form .form-container {
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 0;
	width: 100%;
	max-height: 300px;
	overflow: auto;
 }
 
 .needs-form .form-area {
	border: 0;
    margin: 0;
    padding: 0;
 }
 
.needs-form .form-area input[type="text"], .needs-form .form-area .password, .needs-form .form-area textarea{
	border: 1px solid #ccc;
	margin: 5px 0;
	height: 30px;
 }
 
.needs-form .form-area textarea {
	height: 100px;
}

.menu-section {z-index: 100;}

.selectbox {color: #757575; border: 1px solid #cccccc;}

.selectbox option {color: #000;}

.form-section .section-heading {
	margin: 50px 0 20px 0
	}

.form-section .section-heading-log-refer {
	margin: 40px 0 15px 0 !important;
	text-align: left !important;
	font-size: 26px !important;
	color: #2a6496;
	font-family: "Raleway",sans-serif;
}

.form-section .section-heading-log-refer span {
	color: #ff8528;
}

.form-title {
	color: #2a6496;
	margin-top: 0;
}

.form-area h4 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}

.map-container {
	width: 100%;
}

.container-form {
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    margin: 0;
    overflow: auto;
    padding: 10px;
    width: 100%;
}

.container-form .form-area input[type="text"], .container-form .form-area select {
	display: inline-block;
	max-width: 40%;
}

.container-form label {
	width: 59%;
}

.nav-btns {
	font-size: 14px;
	font-weight: 700;
	border-radius: 5px;
	float: left;
	background: #ff8528;
	padding: 8px 16px;
	color: #fff;
	cursor: pointer;
}

.assess-next-btn {float: right;}

.buying-prop, .refinance-prop, .own-prop, .savings-available{display: none;}

.free-assesform-cont {
	padding-left: 0;
	padding-right: 0;
}

.assess-needs-form {	margin: 20px 0;}

.assess-needs-form-nav {	margin-bottom: 30px;}

.assementform-error {
	font-size: 14px;
	color: #f00;
	padding: 0 0 0 59%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0 0 10px 0;
	display: none;
}

#comment_error {
	padding: 0;
}

#freeasses-form, #carloan-form, #assetform, #personal_loan {
	padding: 0;
	border: none;
	display: none;
}

.register-btn, .univ-btn {
	padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 170px;
}

/* -------- dashboard-section ---------- */

.section-head-left {	float: left;}

.section-side-heading {
	color: #2a6496;
    font-size: 24px;
    padding: 5px 15px 10px;
	/* border-bottom: 1px solid #dddddd; */
	margin: 0;
}

.dashboard-btn-container {float: right;}
.dashboard-btn{
	float: left;
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 0;
}

.dashboard-heading-panel {border-bottom: 1px solid #dddddd; padding: 35px 0 10px;}

.profile-section {
	padding: 20px 0;
}

.dashboard-container {
	border-left: 1px solid #dddddd;
	padding: 5px 5px;
	margin: 0 -15px;
}

.dashboard-container .col-lg-9 {
	padding-left: 0;
}

.dashboard-container .col-lg-3  {
	padding-left: 0;
	padding-right: 0;
}

.dashboard-toppanel {
	width: 100%;
	background: #2a6496;
	/* height: 100px; */
	padding: 20px 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.dashboard-toppanel .dropdown {
	display: inline-block;
	padding: 10px 0;
}

.dashboard-toppanel .dropdown #dropdownMenu1{
	width: 200px;
	text-align: left;
}

.dashboard-toppanel label {
	color: #fff;
	font-weight:normal;
	margin: 0 10px 0 0;
}

.dropdown .btn .caret {
	margin-left: 100px;
}

.dashboard-container table {
	border-collapse: collapse;
}

.dashboard-container table th {
	background: #ff8518;
    border-left: 1px solid #c8c8c8;
    padding: 10px 0px;
    text-align: center;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
}

.dashboard-container .table th:nth-child(1) {
	 background: #ff8518;
}

.dashboard-container .table th:nth-child(5) {
	 color: #ff8518;
}

.dashboard-container .table td {
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
	padding: 10px 0;
}

.dashboard-container .table td:nth-child(2), .dashboard-container .table td:nth-child(3){
	text-align: center;
}

.dashboard-container .table td:last-child {
	padding-left: 0;
	padding-right: 0;
}

.icon-cont {
	float: left;
    padding: 0 5px;
    width: 33.33%;
	max-width: 40px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
}

.dashboard-banner {
	/* background: #2a6496;
	width: 100%;
	padding: 15px; */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #2a6496;
	overflow: hidden;
	text-align: center;
}

.dashboard-banner .dash-ban-content {
	color: #fff;
	font-size: 16px;
	margin: 0 0 20px 0;
}

.dash-ban-title {
	padding: 8px 10px;
	text-align: center;
	background: #ff8518;
	color: #fff;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
}

.dash-ban-free-quote {
	background: #ff8518;
    color: #fff;
    margin: 70px -15px 0;
    padding: 3px 10px;
    text-align: center;
}

.dashboard-for-input {
    border-radius: 5px;
    height: 35px;
    max-width: 125px;
    padding: 5px 10px;
    width: 40%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 5px;
	border:none;
}

.dash-getme {
	display: inline-block;
	padding: 8px 12px;
	margin: 0 0 0 5px;
}

.dashboard-for-label {
	margin: 0 10px 0 15px !important;
}

.dashboard-title {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin: 10px 0;
	color: #fff;
}

.dashboard-menu-title {
	font-size: 16px !important;
	color: #2a6496;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 6px;
	background: url(../images/triangle-right.png) no-repeat 100% 40%;
	cursor: pointer;
}

.active-dashmenu {
	background: url(../images/triangle-down.png) no-repeat 100% 40%;
}

.dashboard-menu {margin-bottom: 20px; display: none;}
.dashboard-menu-item {
	font-size: 14px;
	color: #5d5d5d;
	background: url(../images/triangle-right.png) no-repeat 0 50%;
	padding: 0 0 0 20px;
}

.dd-cont{text-align: center; margin: 0 auto; width: 100%;}

.loantype-label {padding: 0 10px 0 0;}

.loantype-select {
	display: inline-block;
    width: 200px;
}

.carload-radiobtn-holder {
	margin: 5px 0 10px 0;
}

.radio-label {
	font-weight: normal;
    margin: 0 10px 0 5px;
    width: auto !important;
}

.radiobtn-cont {
	display: inline-block;
	max-width: 40%;
	vertical-align: top;
}

.radiobtn-cont .col-lg-6 {
	padding: 0;
}

.mn-th-1 { width:26%}
.mn-th-2 { width:53%}
.mn-th-3 {}

.mn-th2-1 { width:18%}
.mn-th2-2 { width:24%; text-indent:5px; overflow:hidden}
.mn-th2-3 { width:17%}
.mn-th2-4 { width:29%; overflow:hidden}

.mn-td-1 { width:18%}
.mn-td-2 { width:24%; text-indent:5px; overflow:hidden}
.mn-td-3 { width:17%}
.mn-td-4 { width:29%; overflow:hidden}
.mn-td-5 { width:26%}

/* ------------------------------------- */
/****added on 6.2.15***/
.radiobtn-cont_asset {
	width:40%;
}
.radiobtn-cont_item {
	width:100%;
	
}
.text-area h2 {
	color: #2a6496;
}
.text-area {
	background:#E0E0E0;
	padding: 10px 14px;
	margin-top: 10px;
}
.text-area1 h2 {
	color: #2a6496;
}
.text-area1 {
	background: #EFEFEF;
	padding: 10px 14px;
	margin-top: 10px;
}
/***end on 6.2.15***/

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
	
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
	.col-lg-6ths {
        width: 33%;
        float: left;
    }
/******add on 28.1.15******/
	.row-fluid .span8 {
		width: 99% !important;
	}
}

/* -------------------------- */

@media all and (min-width: 320px) and (max-width: 767px) {
	.logo {text-align: left; padding-left: 0;}
	/* .contact-number{text-align: left; margin-bottom: 0;} */
	.menu-section {padding-right: 0;	}
	
	.menu-container {
		float: none;
		background: #f5f5f5;
		margin: 0 0 20px 0;
	}
	
	.menu-container li { 
		float:none;
	}
	
	.menu-container li a:hover, .active {border-radius: 0;}
	
	.menu-container li ul {
		position:relative;
	}
	
	.menu-item {	float: none;}
	
	.menu-item a:hover, .active {border-radius: 0;}
	
	.banner-section{margin-top: 88px; padding-bottom:0;}
	.banner-content{position: relative;}
	.banner-assesform{float: none; width: 100%;}
	.banner-text h1 {font-size: 20px;}
	.banner-text p {font-size: 18px;}
	.learn-more{padding: 5px 10px; font-size: 15px;}
	
	.form-section {margin-top: 141px;}
	.form-area {	margin: 15px 0 55px 0;}
	.innerpage-con-section {	margin-top: 141px;}
	
	/* .banner-content {height: auto;} */
	.sharebtn-group { display: none;}
	
	.form-section .section-heading {
		margin: 20px 0;
	}
	
	.dashboard-heading-panel {padding-top: 20px;	}
	/* .dashboard-btn-container{float: none;} */
	.dashboard-btn{margin-left: 5px; margin-right:5px; width: 134px;}
	/* .section-head-left{float: none;} */
	/* .section-side-heading{padding-left: 0;} */
	
	.dashboard-container {
		border: none;
		padding: 0;
	}
	
	.dashboard-container .col-lg-9{padding:0;}
	.dashboard-banner{margin: 15px 0;}
	
	.dd-cont {
		margin: 0 auto;
		text-align: center;
		width: 320px;
	}
	
	.mn-th-1 { width:27%}
	.mn-th-2 { width:54%}
	
	.mn-td-1 {
    padding: 0 5px !important;
    width: 18%;
	}
	.mn-td-2 {
    overflow: hidden;
    padding: 0 9px !important;
    text-align: center;
    text-indent: 0;
	}
	.mn-td-3 {
    width: 17%;
	padding: 0 5px !important;
	}
	.mn-td-4 {
    width: 29%;
	padding: 0 5px !important;
	}
	
	.mn-th2-1 {
    width: 21%;
	}
	.mn-th2-2 {
    overflow: hidden;
    width: 11%;
	}
	.mn-th2-3 {
    padding: 0 5px !important;
    width: 17%;
	}
	.mn-th2-4 {
    overflow: hidden;
    width: 36%;
	}
}

@media all and (max-width: 360px) {
	.banner-text h1 {
		color: #524f4f;
		text-align: right;
	}
	
	.banner-text p {display: none;}
	
	.form-area {
	margin: 15px 0 55px 0;
	}
}

@media all and (max-width: 640px) {
	
	.featute-nav-container {
		margin: 20px 0 0 0;
	}
	
	.featute-nav-container li{
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		border-bottom: 1px solid #ccc;
		padding: 8px 15px;
	}
	/* .featute-nav-container li img{
		width: 40px;
		height: 40px;
	} */
	
	.featute-nav-container li:last-child {
		border-bottom: none;
	}
	
	.bottom-nav-col {
		/* width: 50%; */
		min-height: 105px;
	}
	
	.bottom-nav-col:last-child {
		width: 100%;
		min-height: auto;
		margin: 10px 0 0 0;
	}
	
	.section-heading {
		font-size: 30px;
	}
	
	.sub-section{font-size: 18px; margin: 30px 0 20px;}
	
	.form-area {
	margin: 0 0 10px 0;
	}
	
	.mfaa-logo {
		margin: 0 auto 20px auto;
	}
	
	#subsription {
		margin-bottom: 20px;
	}
	
	/* .contact-number, .enquiry-online, .callus{display:none;} */
	.menu-content{display: none;}
	.header-section{position: absolute; left: 0; top: 0;}
	
	.menu-section {padding-left:0;padding-right:0;}
	
	.callus {
		border-radius: 3px;
		font-size: 12px;
		margin: 8px 0;
		padding: 5px;
	}
	
	.enquiry-online {
		border-radius: 3px;
		font-size: 12px;
		margin: 8px 2px;
		padding: 5px;
	}
	
	.contact-number {
		border-radius: 3px;
		font-size: 12px;
		margin: 8px 0;
		padding: 5px;
	}
	
	.banner-section {margin-top: 130px;}
	.banner-assesform{float:none; width: 100%;}
	.banner-text {float: none;}
	
	.needs-form {margin: 20px 0 0;}
	.column {padding: 0;	}
	
	.container-form label {
		margin-bottom: 0;
		width: 100%;
	}
	
	.assementform-error {padding: 0;}
	
	.container-form .form-area input[type="text"], .container-form .form-area select {
		max-width: 100%;
	}
	
	/*.mn-th2-1 {
    width: 18%;
	}
	.mn-th2-2 {
    overflow: hidden;
    width: 24%;
	}
	.mn-th2-4 {
    overflow: hidden;
    width: 29%;
	}*/
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	.banner-section {margin-top: 130px; padding-bottom: 170px;}
	.menu-container li a{padding: 10px 7px;}
	.dashboard-container{border-left: none; padding:0;}
	
	.mn-th-1 { width:27%}
	.mn-th-2 { width:54%}
	
}

/*-------------------- 09-01-2015 modified by Jayatish ---------------------------------*/

.dashboard-title span{
	color: #ff8528;
}

/*-------------------- 12-01-2015 modified by Jayatish ---------------------------------*/

.show_message_section{
	margin-bottom: 20px;
	margin-top: 20px;
	border-bottom: 1px solid #c6c6c6;
}

/*-------------------- 15-01-2015 modified by Jayatish ---------------------------------*/
.reply_div{
	border: 1px solid #c6c6c6;
	height: 24px;
	width: 50px;
	float:right;
	margin-top: 10px;
}
.reply_image_div{
	padding-left:13px;
}
/*-------------------- 20-01-2015 modified by Jayatish ---------------------------------*/

.image_loader_div{
	margin : 10px auto;
	display : block;
}
/*-------------------- 21-01-2015 modified by Ahin ---------------------------------*/

.menu-container li {
font-size: 15px;
}

.dashboard-banner img {
	width:100%;
}
/*---------------------- 22-01-0215 modified by Jayatish ----------------------------*/
.show_scroll{
	max-height : 400px;
	overflow-x : auto;
}
@media all and (min-width: 1200px) {

	.row-fluid .span8 {
		width: 99% !important;
		*width: 99% !important;
	}
}
/*--------------------- 31-01-2015 modified By Jayatish ---------------------------------*/
.calc-overlay {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#shipping-calc-popup {
	border: 2px solid #ccc;
    border-radius: 10px;
    bottom: 0;
    height: 400px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
	padding:40px 0 0 0;
	background: #fff;
	display:none;
}

.close-btn {
	background: url("../images/controls.png") no-repeat scroll -101px -1px #fff;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
	cursor: pointer;
}
.close-btn:hover {
	background: url("../images/controls.png") no-repeat scroll -101px -26px #fff;
}
.modal-col{
	padding: 0 15px;
}
.modal-dashboard-top-panel{
	padding : 9px 15px;
	margin: 0 0 20px 0;
}
.modal-dashboard-title{
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	color: #fff;
	margin: 0;
}
.modal-dashboard-title span{
	color: #ff8528;
}
.modal_lebel{
	font-weight:100;
	font-family: open-sans;
	font-size:20px;
}
.modal_error{
	font-size:14px;
	color:#FF0000;
}