/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

*, *:active, *:focus {
  outline: 0;
  outline-style: none;
  outline-width: 0;
  -moz-outline-width: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a, button {
  text-decoration: none;
    -webkit-transition: .5s ease-out !important;
  -moz-transition: .5s ease-out !important;
  -o-transition: .5s ease-out !important;
  transition: .5s ease-out !important;
  cursor:pointer
}

.center-box p {
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 32px;
}

p {
  color:#fff
}

a:hover, button:hover {
  opacity:0.7
}

header {
  position:fixed;
  z-index:99999;
  width:100%;
  padding:10px;
  background-color:#f4f4f4
}

.background-video {
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

header .logo {
  max-width:170px;
    float: left;
	margin-top:10px;
}

header .logo img {
  width:100%
}

header .sign-up {
    float: right;
}

.sign-up a {
 color: #fff !important;
}

.sign-up {
  background-color: #F55967;
  padding: 9px 24px;
  font-size: 15px;
  line-height: 20px;
  color: #fff !important;
  text-align:center
}

.sign-up:hover {
  opacity: 0.8;
  cursor: pointer;
}


.bottom-button {
  background-color: #4b545a;
  border-top: 10px solid #353c41;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /*background-color: #fff;*/
  padding:4px 10px
}

.bottom-button P {
  /*color: #F55967;*/
  color: #fff;
  width:150px;
  text-align:center;
  margin: 0 auto;
  padding:6px;
  font-weight:bold
}

.bottom-button a {
  /*color: #F55967;*/
  color: #fff;

}


/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

h2.first, p.first {
  color: #4D575F;
}

body h2 {
  color: #fff;
}

.cd-section {
  height: 100vh;
    padding-top: 71px;
}
.cd-section .container {
  height: 100vh;
  text-align: center;
  font-size: 2.4rem;
  padding-top: 71px;
  display: table;
  width: 100%;
}

button {
  border: 0;
  color: #fff;
  background-color: #00AFA5;
  padding: 15px 40px;
}

input {
  border: 0;
  padding: 15px 70px;
}

.center-box h2 {
  margin-bottom:50px
}

.center-box {
  display:table-cell;
  vertical-align:middle;
    padding: 0 20px;
}

.cd-section:first-of-type > div:first-child {
/*  background-color: #f4f4f4;
  background-image:url(../images/animation.gif);
  background-size:contain;
  background-position: center -80px;
  background-repeat:no-repeat*/
    background-color: #f4f4f4;
    background-image: url(../images/animation.gif);
    background-size: 75%;
    background-position: center top;
    background-repeat: no-repeat;
}
.cd-section:first-of-type > div:first-child::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;

}
.cd-section:nth-of-type(2) > div:first-child {
  background-color: #00AFA5;
   background-image:url(../images/ipad.png);
  background-size:cover;
  background-position:center center 
}
.cd-section:nth-of-type(3) > div:first-child {
  background-color: #4D575E;
}
.cd-section:nth-of-type(4) > div:first-child {
  background-color: #EE5967;
}
.cd-section:nth-of-type(5) > div:first-child {
  background-color: #4b91e1;
}
[data-animation="parallax"] .cd-section > div:first-child, [data-animation="fixed"] .cd-section > div:first-child, [data-animation="opacity"] .cd-section > div:first-child {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="parallax"] .cd-section:first-of-type > div:first-child, [data-animation="fixed"] .cd-section:first-of-type > div:first-child, [data-animation="opacity"] .cd-section:first-of-type > div:first-child {
  background-image: url("../images/img-1.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(2) > div:first-child, [data-animation="fixed"] .cd-section:nth-of-type(2) > div:first-child, [data-animation="opacity"] .cd-section:nth-of-type(2) > div:first-child {
  background-image: url("../images/img-2.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(3) > div:first-child, [data-animation="fixed"] .cd-section:nth-of-type(3) > div:first-child, [data-animation="opacity"] .cd-section:nth-of-type(3) > div:first-child {
  background-image: url("../images/img-3.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(4) > div:first-child, [data-animation="fixed"] .cd-section:nth-of-type(4) > div:first-child, [data-animation="opacity"] .cd-section:nth-of-type(4) > div:first-child {
  background-image: url("../images/img-4.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(5) > div:first-child, [data-animation="fixed"] .cd-section:nth-of-type(5) > div:first-child, [data-animation="opacity"] .cd-section:nth-of-type(5) > div:first-child {
  background-image: url("../images/img-5.jpg");
}
@media only screen and (min-width: 1050px) {
  .cd-section h2 {
    font-size: 4rem;
    font-weight: 300;
  }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div:first-child {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div:first-child {
    /*opacity: 0;*/
  }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div:first-child, [data-animation="gallery"] .cd-section > div:first-child, [data-animation="catch"] .cd-section > div:first-child {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div:first-child {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div:first-child {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div:first-child {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div:first-child {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../images/cd-icon-arrow.svg) no-repeat center center;
  background-color: rgba(0, 0, 0, 0.15);
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}


.hero {
  width: 100%;
  z-index: 2;
  max-width: 400px;
  margin:0 auto
}

.hero img {
  max-width: 370px;
  width: 100%;
}

@media only screen and (max-width: 700px) {
.cd-section .container {
  padding-top: 0px;
}
/*.cd-section:first-of-type > div:first-child {
    background-image: none
}*/
.center-box h2 {
  margin-bottom: 25px;
}
input {
  padding: 15px 40px;
}

button {
  padding: 15px 10px;
}

.center-box p {
  padding: 30px 0;
  font-size: 14px;
  line-height: 20px;
}

.circle-container {
  display:none !important
}

}
@media only screen and (max-width: 500px) {

.hero img, .bottom-button  {
  display: none;
}
.fr50, .fl50 {
  width:100% !important
}
canvas#demo-canvas {
    display: none;
}
}

.hideme
{
    opacity:0;
	display:none;
}

.circle {
  float: left;
  max-width: 70px;
  margin: 10px;
    opacity: 0;
    -webkit-transform: translateX(300);
  -moz-transform: translateX(300);
  -ms-transform: translateX(300);
  -o-transform: translateX(300);
  transform: translateX(300);

}

.circle img {
  width: 100%;
  border-radius: 100%;
}


.circle-container {
  display: block;
  margin: 0 auto;
  max-width:800px
}


.cd-section:nth-of-type(4) > div:first-child:hover .circle {
  -webkit-transform: translateX(45px);
  -moz-transform: translateX(45px);
  -ms-transform: translateX(45px);
  -o-transform: translateX(45px);
  transform: translateX(45px);
  -webkit-transition: opacity .7s cubic-bezier(.165,.84,.44,1),-webkit-transform .7s cubic-bezier(.165,.84,.44,1);
  -moz-transition: opacity .7s cubic-bezier(.165,.84,.44,1),-moz-transform .7s cubic-bezier(.165,.84,.44,1);
  transition: opacity .7s cubic-bezier(.165,.84,.44,1),transform .7s cubic-bezier(.165,.84,.44,1);
  opacity:1
}

.cd-section:nth-of-type(4) > div:first-child .circle:nth-child(1) {
  animation-delay:0.5s
}


div#large-header {
  position: absolute;
  top: 0;
  left: 0;
}

.nobg {
  background-image:none !important;
  height:100% !important;
  overflow:auto;
  background-color:#F4F4F4
}

.center-box .greybox {
  overflow:auto  !important
}

.row .txt {
  background-color: White;
  border: 0;
  line-height: normal;
  padding: 14px 10px;
  width: 100%;
}

.row {
  margin-bottom: 10px;
}

.fl50 {
  float: left;
  width: 49%;
}

.fr50 {
  float: right;
  width: 49%;
}

.greybox {
  background-color: #F4F4F4;
  /*padding: 77px 20px 0px;*/
  padding: 0;
   width: 100%;
    margin:0 auto;
    /*color: #A9A9A9;
    font-size: 15px;*/
    float: left;

}

footer {
  margin-top: 50px
}


/*.greybox input {
  width: 100%;
}*/

select {
  border: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 0;
  height: 42px;
  font-size: 15px;
  color: #A9A9A9;
  padding: 0 15px;
}

.row {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  float: left;
}

input#rbIndividual, input#rbBusiness, input#cbFeedback {
  float: left;
  width: auto;
  margin-right: 20px;
}

.h6 {
  margin-bottom: 20px;
}

.ftstrap img {
  float: left;
  padding: 30px 0;
}

.ftstrap {
  float: left;
  width:100%
}

.ftstrap div:nth-child(2) {
  float: left;
  padding-top: 50px;
}

.ftstrap img {
  float: left;
  padding: 30px 30px 30px 0;
}

.greybox button {
  width: 100%;
  margin-top: 20px;
}

.greybox p {
  color:#4D585F
}

.col-md-1 a i {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    display: block;
    background-color: #00AFA5;
    color: #fff;
    border-radius: 100%;
    padding: 17px 0 0 18px;
}

.col-md-6 {
    padding: 5px;
    background-color: #F4F4F4;
}

.col-md-6 p, .col-md-12 p {
    padding: 10px;
    background-color: #fff;
}

.col-md-6 p i {
    float: right;
}

.free p {
  color:#fff;
  background-color: #4b91e1
}

.col-md-12 {
    padding: 5px;
}

h1 {
    font-size: 3vw;
}

h3 {
    font-size: 20px;
}

.col-md-1 {
    margin: 20px 0;
}

.col-md-1 {
  float:left
}

.h4 {
    font-size: 25px;
}


/** CSS START 05/08/2015 **/

header .login-btn-rt{float: right;}
header .login-btn-rt .login{
  float: left; 
  background: #e6e6e6; 
  padding: 9px 24px; 
  color: #4a4a4a; 
  font-size: 15px; 
  line-height: 20px; 
  margin-right: 4px;}
header.dashboard-header{position: inherit; padding-bottom: 20px; width: 100%; clear: both; float: left; padding-top: 15px;}

.middle-signup-container{width: 335px; display: inline-block; min-height: 210px;}
.middle-signup-container input[type="email"], .middle-signup-container input[type="password"], .middle-signup-container input[type="text"], .middle-signup-container input[type="city"]{width: 100%; box-sizing: border-box; border: 1px solid #e6e6e6; padding: 10px 15px; color: #4a4a4a; font-size: 15px;}
.middle-signup-container input[type="password"]:focus, .middle-signup-container input[type="text"]:focus, .middle-signup-container input[type="email"]:focus {border: 1px solid #ccc;}
.middle-signup-container button[type="submit"], .middle-signup-container button[type="button"]{width: 100%; box-sizing: border-box; font-size: 18px; line-height: 24px; font-weight: 700; background-color: #ed5664; padding: 8px 15px; margin-top: 4px;}
.middle-signup-container a.forget-password{float: left; font-size: 14px; color: #4b545a; margin: 10px 0 0 4px;}
.middle-signup-container ul li{margin-bottom: 4px; display: inline-block; width: 100%;}

.top-center-box .middle-social-section{/*padding:50px 0px; width: 100%; display: inline-block; */position: absolute;
left:0; width: 100%; bottom: 68px; padding: 0 20px;}

.term-privacy-left{float: left; margin-top: 12px;}
.term-privacy-left ul{list-style: none; margin: 0; padding: 0}
.term-privacy-left ul li{float: left; margin: 0 0 0 22px;}
.term-privacy-left ul li a{color: #4b545a; font-size: 14px; display: block;}

.social-icon-right{float: right;}
.social-icon-right ul{list-style: none; margin: 0; padding: 0}
.social-icon-right li{float: left; margin: 0 9px 0 0;}
.social-icon-right li:last-child{margin-right: 0;}

/*06-08-2015*/
.request-new-password button.cancel{ float:left; background: #4b545a; font-size: 18px; padding:9px 18px; width: 31%; margin-right: 10px; margin-top: 6px; }
.request-new-password button.request-pass{width: 66%; float: right; margin:6px 0 0 0;}

/*.top-section > div:first-child{top:-90px; height: 114%;}*/
/*
.form-min-hgt-wrap{min-height: 460px;}*/
.min-height-zero{min-height: inherit;}
.middle-signup-container select{ /* -moz-appearance: none; -webkit-appearance: none; appearance: none;  background:url(../images/drop-arrow.png) no-repeat 95% 50% #fff; */
  border: 1px solid #e6e6e6; /*color: #4a4a4a;*/}

.signup-step{text-align: left;}
.signup-step ul li{margin: 0 0 20px 0;}
.signup-step ul li span{ font-size: 15px; color: #4a4a4a;}
.signup-step ul li input[type="radio"]{margin-top: 10px; margin-left: 0;}

.back-previous{text-align: center;}
.back-previous a{color: #a5a5a5; font-size: 18px; margin: 10px 0 0 0; font-weight: 700;}

.cd-section > div{ height: 100%; }
.top-center-box h2{margin-bottom: 25px; margin-top: 0px;}
.cd-section-two h2{margin-top: 160px;}
.cd-section.cd-inner-listing:first-of-type > div:first-child{background-image: none;}
.cd-section.cd-inner-listing .center-box{display: block;}
.business-listing-wrap{display: inline-block; width: 81%; }
.business-img-listing{ clear: both; 
  width: 100%;
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  float: left;
  }
.business-img-listing li{
 margin: 0 7px 5px 0;
 float: left;
 width: 109px; 
 height: 83px;
 display: inline-block;
position: relative;
overflow:hidden;
   }
.business-listing-heading h4{ font-size: 13px; color: #fff; text-align: left;  margin: 4px 0 0 4px;}
.business-img-listing li a{display: block;}
.business-img-listing li img{width: 100%;/* height: 86px;*/}
.business-img-listing li.active{ border: 3px solid #ed5664;}
.business-img-listing li.active img{margin:-3px;}

.business-content-listing{ clear: both; width: auto; box-sizing:border-box; -moz-box-sizing:border-box;}
.business-content-listing li{width: 240px; margin-right: 80px; display: inline-block; margin-bottom: 2px; float: left; text-align: left; padding: 5px 8px 5px 25px; box-sizing:border-box; -moz-box-sizing:border-box;  background:url(../images/dot-arrow.png) no-repeat 10px 60%;}
.business-content-listing li a{ color: #4a4a4a; font-size: 15px; line-height: 24px;}
.business-content-listing li:nth-child(2n){margin-right: 0;}
.business-content-wrap{max-width: 560px; display: inline-block; margin-bottom: 30px;}

.business-content-listing li.active{background:url(../images/dot-arrow.png) no-repeat 10px 60% #e6e6e6;}

.cd-section.cd-inner-listing .center-box-hght h2.first{display: inline-block; width: auto; float: none;}

.business-listing-heading{background:url(../images/business-img-top-shadow.png) repeat-x 0 0; position: absolute; width: 100%; height: 100%; top:0; left: 0;}

.business_tool-tips{background:url(../images/tool-tips.png) no-repeat 0 0; width: 18px; height: 18px; display: inline-block; margin-left: 15px; cursor:pointer; position: relative;}
.business_tool-tips:hover .tool-tips-block{ display: block;}
.tool-tips-block{display: none; width: 320px; padding: 5px;   box-sizing:border-box; -moz-box-sizing:border-box;
  background: #e6e6e6; font-size: 12px; line-height: 18px; color: #4a4a4a; text-align: left;
  position: absolute; left: 25px; top:-12px;
 }

.business-listing-wrap .business-message{font-size:15px; color: #4a4a4a; padding: 0; max-width: 100%; line-height: 20px; margin: 0 0 5px 0;}
.business-select-wrap{clear: both; width: 100%; display: inline-block; margin-bottom: 20px;}
.business-select-wrap p{color: #4a4a4a; font-size: 15px; line-height: 24px; margin-top: 5px; text-align: left; max-width: 100%;
padding: 0;}
.business-select-text{color: #4a4a4a; font-size: 15px; line-height: 24px; margin-top: 5px; text-align: left; max-width: 100%;
padding: 0;}
.business-img-left{float: left; margin-right: 18px; position: relative; width: 109px; height: 87px;}
.business-img-left.active{border:3px solid #ed5664}
.business-img-left img{width: 100%;}

.form-min-hgt-wrap{clear: both;}
.form-min-hgt-wrap p{ color: #4a4a4a;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    padding: 0;
    text-align: left;}

 .MAR-TOP30{margin-top: 30px !important;}   


 /*08.08.2015*/
.header-top-right{float: right; margin-top: 15px;}
.header-top-right ul li{float: left; margin-right: 8px; min-height: 33px; position: relative; /*padding: 0 12px;*/}
.header-top-right ul li.setting a:hover{ opacity:1;}
.header-top-right ul li.setting span{float: left; line-height: 30px; margin-right: 8px; color: #4a4a4a; font-size: 15px;}
.header-top-right ul li.setting{border-left: 1px solid #4b545a; padding-left: 18px;}
.header-top-right ul li:last-child{margin-right: 0;}
.header-top-right ul li a span{background: #ed5664; width: 18px; height: 18px; border-radius:3px; text-align: center; line-height: 18px; color: #fff; font-size: 11px; position: absolute; top:-4px; right: 2px; z-index:9999;}

.header-notification{float: left;}
.hedaer-setting{float: right;}



.profile-wrap{width: 100%; clear: both; display: inline-block; margin-bottom: 30px; position: relative;}

.left-message{background: #fff; border-bottom: 3px solid #cdcdcd; float: left; width: 100%; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.left-message .inbox-content{width: 77%;}

.fl33 {float: left; width: 32%; margin-right: 2%;}
.fl67 {float: left; width: 66%;}
.fl68 {float: left; width: 100%;}
.fr33 {float: right; width: 32%;}

.compose-inner-bg{background: #fff; padding: 20px 35px 20px 20px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; border-bottom: 3px solid #cdcdcd; float: left; width: 100%; }

.compose-inner-bg h2{color: #4a4a4a; font-size: 18px; font-weight: 700; display: inline-block; /*padding-left: 10px; */padding-top: 4px; float: left; }
.compose-inner-bg i.compose-icon{background:url(../images/compose-icon.png) no-repeat 0 0 #fff; width: 25px; height: 27px; display: inline-block; float: left;}
.compose-heading{clear: both;; display: inline-block; width: 100%;}
.compose-heading-red h2{ color: #ed5664;}
.compose-heading-red i.compose-icon{background:url(../images/compose-red-icon.png) no-repeat 0 0 #fff;}

.profile-heading{clear: both;; display: inline-block; width: 100%; padding: 12px 20px;}
.profile-heading h2{ color: #4a4a4a; font-size: 18px; font-weight: 700; display: inline-block; float: left; padding-left: 12px; padding-top:5px; }
.profile-heading i.profile-icon{background:url(../images/profile-eyes.png) no-repeat 0 0; width: 34px; height: 20px; float: left;}

.compose-form{margin-top: 8px; display: inline-block; width: 100%; clear: both;}
.compose-form-left{float: left; width: 170px;}
.compose-form-left ul{margin-top: 25px;}
.compose-form-left ul li{ display: block; width: 100%; margin-bottom: 12px;}
.compose-form-left ul li a{color: #4a4a4a; font-size: 13px;}
.compose-form-left ul li a:hover{ color: #ed5664;}

.compose-form-right{float: right; width: 540px;}
.compose-form-right .compose-form-ul li{display: inline-block; width: 100%; margin-bottom: 15px;}
.compose-form-right .compose-form-ul li label{ color: #4b545a; font-size: 13px; width: 95px; float: left; text-align: right; line-height: 40px;}
.compose-form-right .compose-form-ul li .fld-right{float: right; width: 420px;}
.compose-form-right .compose-form-ul li .fld-right select.fld{background: #f8f8f8;border: 1px solid #e6e6e6;  height: 40px; padding: 5px 15px; color: #4b545a; font-size: 13px;}
.compose-form-right .compose-form-ul li .fld-right input.fld{background: #f8f8f8; border: 1px solid #e6e6e6;  height: 40px;
    padding: 5px 15px; width: 100%;
}
.compose-form-right .compose-form-ul li .fld-right textarea{background: #f8f8f8; border: 1px solid #e6e6e6;  height: 170px;
    padding: 5px 15px; width: 100%;}
.compose-form-right .compose-form-ul li .compose-button-right{float: right;}    
a.sent{background: #ed5463; width: auto; padding: 6px 25px; color: #fff; font-size: 14px; cursor: pointer;}

.compose-form-right .compose-form-ul li .compose-button-right input.sent{background: #ed5463; width: auto; padding: 8px 25px; color: #fff; font-size: 14px; cursor: pointer;}

.compose-form-right .compose-form-ul li .compose-button-right input.cancel{background: #f8f8f8; width: auto; padding: 8px 25px; color: #4a4a4a; font-size: 14px; margin-left: 3px; cursor: pointer;}

.compose-form-right .compose-form-ul li .compose-button-right input.sent:hover{opacity: 0.7; transition:all 0.5s ease-out 0s;}
.compose-form-right .compose-form-ul li .compose-button-right input.cancel:hover{transition:all 0.5s ease-out 0s; background: #e7e9e9;}

.main-container{max-width: 1200px; margin: 0px auto;}

.profile-img-left{float: left; margin-left: 40px; margin-top: -84px; position: relative;border: 3px solid #fff; box-shadow: 0 0 2px #a3a3a3; -webkit-box-shadow:0 0 2px #a3a3a3; -moz-box-shadow:0 0 2px #a3a3a3; overflow: hidden;}
.profile-cont-left{float: left; margin-top: -75px; margin-left: 15px; width: auto; }
.profile-cont-left h3{font-size: 31px; color: #fff; text-shadow:0 1px 3px #303030;}
.profile-cont-left p{font-size: 18px; color: #fff; margin-top: 8px; font-style: italic;}

.profile-img-left:hover .upload-sec{display: block; transform: translateY(0%); -webkit-transform: translateY(0%); -moz-transform: translateY(0%);}
.upload-sec{position: absolute; bottom: 0; left: 0; width: 100%; background-color: rgba(37,42,45,0.5); padding: 17px 10px 12px; transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
    transition: transform 0.4s ease 0s, opacity 0.1s ease 0s; -webkit-transition: transform 0.4s ease 0s, opacity 0.1s ease 0s; -moz-transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;}
.upload-sec a{/*background: url("../images/upload-icon.png") no-repeat scroll 0% 60%; */display: block;}
.upload-sec p{font-size: 13px; line-height: 18px; color: #fffefe;}

.dashboard-nav{ margin-top: 40px; clear: both;}
.dashboard-nav ul li{ border-right: 1px solid #4b545a; display: inline-block; float: left;}
.dashboard-nav ul li:first-child a{margin-left: 0;}
.dashboard-nav ul li:last-child{margin-right: 0; border-right: none;}
.dashboard-nav ul li a{font-size: 15px; color: #4a4a4a; padding: 10px 18px; margin: 0 10px; }
.dashboard-nav ul li.active a{ background: #ed5664; color: #fff; border-radius: 3px;}

.cover-header{background: #4b545a; width: 100%; float: left; }

.advance-search{width: 150px; float: right; background: #353c41; padding: 0 10px; height: 41px; line-height: 41px; color: #7b858b; font-size:15px; text-align: center;}
.advance-search:hover{background: #2d2d2d; color: #fff;}

.cover-header-left ul li{float: left; width: 420px; padding-left: 12px; border-left: 1px solid #000000; margin-right: 30px;}
.cover-header-left ul li:last-child{margin-right: 0;}
.cover-header-left ul li select.select{ background: #4b545a url("../images/dashboard-drop-arrow.png") no-repeat scroll 100% 50%;  height: 25px; padding:0; color: #fffefe; font-size: 13px; -moz-appearance: none; -webkit-appearance: none; appearance: none; }
.cover-header-left ul li input.fld{background: #4b545a; height: 25px; padding:0; color: #fffefe; font-size: 13px; width: 100%;}
.cover-header-left{float: left; width: auto; padding: 8px 0 8px 25px;}

.cover-header-right{float: right;}
.cover-header-right .dashboard-search{background: #00a79d url("../images/dashboard-search.png") no-repeat scroll 15% 50%; width: 102px; height: 41px; cursor: pointer; text-align: center; color: #fff; padding: 0 0 0 25px; font-size:15px;}
.cover-header-right .dashboard-search:hover{background: #08c5ba url("../images/dashboard-search.png") no-repeat scroll 15% 50%;}

.MAR-TOP25{margin-top: 25px;}
.pad-right-zero{padding-right: 0;}


 /*10.08.2015*/
.inbox-message-wrap{background: #fff;}
.inbox-message-list li{background: #fff; padding: 25px 20px 30px; margin-bottom: 0; border-bottom: 1px solid #dedede; float: left; width: 100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
.inbox-message-list li:last-child{border-bottom: none;}
.inbox-message-list li.active-message-unread{background: #f8f8f8; }

.inbox-img{float: left; overflow: hidden;}
.inbox-img img{border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; border: 1px solid #dedede; transition:all 0.5s ease-out 0s; }

.inbox-content{float: right; width: 84%; position: relative;}
.inbox-content h4{ color: #4b545a; font-size: 15px; margin-bottom: 15px;}
.inbox-content h4 a{color: #4b545a;}
.inbox-content p.inbox-short-content{font-size: 13px; color: #4a4a4a; margin-bottom: 15px;}
.inbox-content p.date{font-size: 13px; color: #4a4a4a; }
.inbox-chec{position: absolute; right:5px; top:2px;}

.right-inbox-message-list .inbox-content{ width: 65%; margin-left: 5%; float: left;}
.right-profile-view{background: #fff;}

.inbox-reply-delet a.reply{background: #ed5463;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 25px;
    display: inline-block;
    width: auto;}
.inbox-reply-delet a.delet{background: #cdcdcd;
    color: #4a4a4a;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 25px;
    display: inline-block;
    width: auto;}
.inbox-reply-delet{display: none; position: absolute; bottom: -23px;}   
.inbox-message-list li:hover .inbox-reply-delet{display: block; }
.inbox-top-action{ margin-bottom: 15px; margin-top: -28px; float: left; width: 100%;}    
.top-action-right{float: right; margin-right: 27px;}
.top-action-right ul li{float: left; margin-right: 40px;}
.top-action-right ul li:last-child{margin-right: 0}
.top-action-right ul li a{ color: #4a4a4a; font-size: 13px;}
.top-action-right ul li a i.fa-trash-o{margin-right: 6px; font-size: 1.4em;}


.more-drop-down{position: relative; /*background: url("../images/more-arrow.png") no-repeat scroll 100% 60%; padding-right: 15px;*/}
.more-drop-down li {width: 100%;}
.more-drop-down li a{
color: #515151;
display: block;
padding: 8px 15px;
cursor: pointer;
font-size: 14px;
}
.more-drop-down li a:hover{
background: #f44141;
color: #fff;
}
.more-drop-down .sub{
background: #fff;
position: absolute;
z-index: 2;
width: 130px;
border-radius: 3px;
box-shadow: 0 2px 4px #ddd;
border: 1px solid #ddd;
display: none;
}
.more-drop-down .sub-options{
list-style:none;
margin:0px;
padding:0px;
}
.top-action-left{float: left; padding-left: 20px;}

.last_viewed{display: inline-block; clear: both; width: 100%;}
.last_viewed h3{padding: 12px 30px; border-bottom: 1px solid #f4f4f4; font-size: 15px; color: #4b545a;}
.right-inbox-message-list li{ border-color: #f4f4f4; position: relative; padding-bottom: 20px;}
.right-inbox-message-list li:last-child{border-bottom: none; padding-bottom: 15px;}
.right-inbox-icon{position: absolute; right: 12px; top:30px;}
.right-inbox-icon .icon-border{ border: 1px solid #dedede; width: 25px; height: 25px; display: inline-block; border-radius: 50%;-webkit-border-radius:50%; -moz-border-radius:50%; margin-right: 5px; text-align:center; line-height:22px;}
.right-inbox-icon .icon-border:hover, .right-inbox-icon .icon-border:focus{border: 1px solid #222;}
.load-more{background: #cdcdcd; text-transform: uppercase; text-align: center; }
.load-more a{color: #4a4a4a; font-size: 14px; display: block; padding: 10px 20px; text-transform:none; }

.dashboard-section{clear: both; width: 100%; float: left;}
.dashboard-footer{background: #4b545a; border-top:10px solid #353c41; width: 100%; float: left; padding: 30px 0; margin:40px 0 0;}
.dashboard-footer-left{float: left; padding-left: 17px; padding-top: 18px;}
.dashboard-footer-right{float: right; width: 780px;}
.dashboard-footer-right ul{float: left; width: 190px; margin-right: 15%;}
.dashboard-footer-right ul:last-child{margin-right: 0;}
.dashboard-footer-right ul li{display: block; margin-bottom: 10px; font-size: 14px;}
.dashboard-footer-right ul li a{color: #fefefe;}
.dashboard-footer-right ul li:last-child{margin-bottom: 0;}
.dashboard-footer-right .social-icon{float: right; width: auto;}
.dashboard-footer-right .social-icon .social-icon-right ul{width: auto;}

.setting-drop-down-open{ width:384px; background: #ed5664; padding: 18px 3px 3px; position: absolute; z-index: 99; right: 0;
top:32px;}
.setting-drop-down-open{display: none;}
.setting-drop-down-open .sub-options{float: left; width: 100%; background: #fff; padding: 20px 0 0;}
.setting-drop-down-open .sub-options li{width: 48%; border-bottom: 1px solid #f4f4f4;}

.user-section{border-bottom: 1px solid #f4f4f4; padding-bottom: 8px; float: left; width: 100%;}
.header-top-right .user-section span{width: 48%; padding-left: 15px; margin-right: 2% !important; height: auto; text-align: left; line-height: 22px !important; float: left; position: inherit; background: none;}

.hover-link{ color: #4a4a4a; font-size: 13px; line-height:15px; float:left; margin-right:5px;}

.premium-member{font-size: 13px; color: #00a69e; background: #fff; padding:12px 10px; float: left; text-transform: uppercase; margin-left: 0px; margin-top: 8px;}

.cover-img{ float: left; width: 100%; position: relative; overflow: hidden; }
.cover-img:hover .update-cover-photo{transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); opacity: 1; right: 20px;}
.update-cover-photo{position: absolute; right: 0; opacity: 0; top:18px; transform: translateX(150%); -webkit-transform: translateX(150%);
  -moz-transform: translateX(150%); transition: transform 0.4s ease 0s, opacity 0.1s ease 0s; -moz-transition: transform 0.4s ease 0s, opacity 0.1s ease 0s; -webkit-transition: transform 0.4s ease 0s, opacity 0.1s ease 0s; border: 1px solid #fff; padding: 10px 20px 13px 10px; color: #fff; background: rgba(28,18,9,0.50);}
.update-cover-photo a{color: #fff; /*background: rgba(0, 0, 0, 0) url("../images/upload-icon.png") no-repeat scroll 0 60%;*/
    display: block; padding-left: 10px; height: 21px; line-height: 20px;}    
.update-cover-photo p{color: #fff; float:left; margin-top:8px;}   

.count-number{color: #ed5463; font-size: 18px; font-weight: 700; float: right;} 

.arlians-identified{float: left; width: 100%; clear: both; margin-top: 35px; padding-left: 25px; border-bottom: 1px solid #f4f4f4;}
.arlians-identified h5{color: #4a4a4a; font-size: 15px; margin: 0 0 15px 0;}
.arlians-identified ul li{color: #4a4a4a; font-size: 13px; margin: 0 0 15px 0; background: url("../images/dot.png") no-repeat scroll 0 55%; padding-left: 12px;}

.suggestion-back{background: rgba(0, 0, 0, 0) url("../images/suggesion-background.png") no-repeat scroll 0 0; width: 235px; height: 180px; margin: 25px auto 0; text-align: center;}
.suggestion-back h2{font-size: 94px; color: #ed5463; font-weight: 700; line-height: 170px;}

.welcome-message h2{background: #fff; padding: 18px 25px; color: #4a4a4a; font-size: 15px; line-height: 22px;}
.welcome-message h2 a{color: #ed5664;}


.setting-message-down{ width:380px; background: #cdcdcd; padding: 18px 3px 3px; position: absolute; z-index: 9999; right: 0;
top:32px; }
.setting-message-down{display: none;}

.header-top-right ul li:hover{cursor: pointer; background: #cdcdcd;}
.header-top-right ul li:last-child{padding-right: 0;}
.header-top-right ul li.setting:hover{background: none;}

.people-open-down{display: none;}
.people-open-down{ width:380px; background: #cdcdcd; padding: 18px 3px 3px; position: absolute; z-index: 999999; right: 0;
top:32px; }
.people-open-down ul.inbox-message-list li{padding: 12px 15px;}
.people-open-down .right-inbox-icon{right: 12px;}

.message-open .setting-message-down a{width: auto; height: auto;}
.message-open .setting-message-down ul.inbox-message-list li{padding: 12px 15px;}
.message-open .inbox-content{width: 78%;}
.message-open, .people-open, .notify-open{padding: 8px 10px;}


/*12-08-2015 FIXING CSS START*/

.middle-signup-container input.button{ background-color: #ed5664;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 4px;
    padding: 8px 15px;
    cursor: pointer;
    width: 100%;}
.middle-signup-container input.button:hover{opacity: 0.7; transition:all 0.5s ease-out 0s;}    
.error{  background: #f3a7ae none repeat scroll 0 0;
    clear: both;
    color: #eb394a;
    font-size: 15px;
    margin: 20px auto 5px;
    padding: 15px;
    width: 25%;}   

.cover-header-left ::-webkit-input-placeholder {color: #fff;}
.cover-header-left :-moz-placeholder {color: #fff;}
.cover-header-left ::-moz-placeholder { color: #fff;opacity: 1;}
.cover-header-left ::-ms-input-placeholder {color: #fff;}

.cd-section-five h2{color: #fff; margin-bottom: 25px; margin-top: 30px;}
.cd-section-five .middle-signup-container ul li span{ color: #fff;}
.cd-section-five .middle-signup-container .back-previous a{color: #fff;}
.cd-section-five .business-listing-wrap p.business-message {color: #fff;}
.cd-section-five .business-listing-wrap .business-select-text{color: #fff;}
.cd-section-five .business-listing-wrap .business-content-wrap ul li a{color: #fff;}

.cd-section-four.middle-signup-container a.forget-password{color: #fff;}

.popup-box-part-one{clear: both; width: 100%; display: inline-block;} 
.popup-box-part-one h2{ font-size: 24px; color: #ed5664; margin: 45px 0 20px 0; text-align: left; font-weight: 500;}
.popup-box-part-one ul{width: 100%; display: inline-block; text-align: left;}
.popup-box-part-one ul li{color: #4a4a4a; margin: 0 0 20px 0; font-size: 15px; line-height: 20px;}
.popup-box-part-one ul li a{ color: #ed5664;}

.step-three-scroll{/*overflow-Y:scroll;*/ /*height: 280px; */clear: both; width: 100%;}

/********************************************* CSS START 13-08-2015 **********************************************/

.terms-wrap h2{ font-size: 4rem; color:#4d575f; font-weight: 300; margin: 0 0 20px 0; text-align: center;}
.terms-wrap p{font-size: 15px; line-height: 24px;}

.terms-wrap h4{color:#4d575f; font-weight: 700; font-size:15px; margin:25px 0 15px 0;}
.terms-wrap ul{padding-left:0;}
.terms-wrap ul li{font-size:14px; line-height:24px; color:#5f5f5f; margin:0 0 15px 0; }
.terms-wrap ul li a, .terms-wrap p a{color:#ed5664;}
.terms-wrap ul ul{padding-left:20px;}

.profile-bg{margin-bottom: 10px;}
.profile-inner{position: relative;}
.profile-inner h3{ color: #4a4a4a; font-size: 18px; font-weight: 700; margin: 10px 0 25px 0;}
.profile-inner .profile-list-ul li{color: #4a4a4a; font-size: 15px; margin: 0 0 15px 15px; list-style: disc;}
.profile-inner p{font-size: 13px; line-height: 20px; color: #4b545a;}
.profile-inner span{color: #4b545a; font-size: 15px; margin: 0 0 15px 0; display: inline-block; clear: both;}
.profile-edit-message{position: absolute; right: -10px; top:-5px;}
.profile-edit-message .fa-pencil{color: black; font-size: 1.5em;}
.profile-connect li{ float: left; width: 48%; margin-right: 4%; border-top: 1px solid #f4f4f4; padding-top: 15px;
margin-top: 15px;}
.profile-connect li:nth-child(2n){margin-right: 0;}
.profile-connect li:nth-child(1), .profile-connect li:nth-child(2){margin-top: 0; padding-top: 0; border: none;}
.profile-connect .inbox-content{width: 78%;}
.profile-connect .inbox-content p{margin-bottom: 0;}

.inbox-message-details .inbox-reply-delet{position: inherit; display: block; bottom: -5px;}

.user-wrap{width:100%; clear:both; float:left; margin:0 0 40px 0;}
.user-left-images{float:left;}
.user-left-images img{width:100%; padding:3px; border:1px solid #e0e0e0;}
.user-right-content h3{margin-top:0;}
.user-right-content { float: right; min-height: 179px; width: 525px; position:relative;}
.user-right-content .inbox-reply-delet{bottom:0; display:block;}
.MAR-BTN30{margin-bottom: 30px;}

.plus-connection{position:absolute; right:-15px; bottom:0;}
.plus-connection p{font-size:13px; text-align:center; color:#4a4a4a;}
.plus-connection span{font-weight:700; font-size:18px; margin-bottom:0;}

.user-right-content .inbox-reply-delet a.reply{ padding:8px 15px;}
.user-right-content .inbox-reply-delet a.delet{padding:8px 15px;}

 .cover {
    background-image: url('../images/cover-images.png');
    background-repeat: repeat-y;
    background-position: 50% 0;   
    height:190px;}
  
/*.cd-section-five .center-box h2.first{width:auto; display:inline-block; float:none;}  
.cd-section-five .center-box .business_tool-tips{ background-image: url('../images/tool-tips-btm.png');}*/

/********************************************* Fixing CSS START 14-08-2015 **********************************************/

.popup-box-part-center .middle-signup-container{min-height: inherit; margin-top: 15px; margin-bottom: 10px;}
.popup-box-part-center {text-align: center;}
.popup-box-part-center h2{font-size: 28px; color: #4a4a4a; margin: 10px 0 25px 0; font-weight: 400;}
.popup-box-part-center ul.business-content-listing{display: inline-block;}
.popup-box-part-center ul.business-content-listing li{float: none;}
.popup-box-part-center .business-listing-wrap{width: auto;}
.popup-inner .popup-box-part ul li{margin: 0 7px 5px 0;}

.popup-box-part-center h2{display: inline-block; float: none; width: auto;}
.popup-box-part-center .tool-tips-block{left: inherit; right: 0; top:30px; z-index: 9999;}

.popup-box-part-center h3{font-size: 20px; color: #4a4a4a; text-align: left; line-height: 28px; margin: 0 0 15px 0;}
.popup-box-part-center span{color: #ed5664;}
.popup-box-part-center p{font-size: 14px; color: #4a4a4a; margin: 0 0 10px 0; text-align:left;}
.popup-box-part-center p a{color: #ed5664;}

.profile-img-left img{width: 152px; height: 152px;}

.compose-form-left ul li span{color: #ed5664; font-size: 13px;}
/*.header-top-right ul li.setting a{color: #ed5664;}*/


.upload-cover-photo{text-align:center;}
.upload-cover-photo h3{ font-size: 24px; color: #ed5664; margin: 5px 0 25px 0; text-align: left; font-weight: 500;}
.upload-cover-photo h4{line-height:42px; float:left;}
.upload-cover-photo input[type="file"]{ float:right; width:85%; padding:10px; background: #f4f4f4; border: 1px solid #ccc; margin-bottom:20px;}
.upload-cover-photo input[type="button"]{   background: #ed5463 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 25px;
    margin-left: 7px;
  border-radius:25px;
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
    width: auto;}
.upload-cover-photo input[type="button"]:hover{opacity:0.7; transition:all 0.5s ease-out 0s;} 

.compose-form-right .compose-form-ul li .fld-right li.token-input-input-token input{
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #e6e6e6;
    color: #4b545a;
    font-size: 13px;
    height: 40px;
    padding: 5px 15px;
  width:100% !important;}
.compose-form-right .compose-form-ul li .fld-right ul.token-input-list{width:100%; border:none;}
.compose-form-right .compose-form-ul li .fld-right li.token-input-input-token{margin-bottom:0;}
div.token-input-dropdown{width:420px !important; padding:6px 10px;}

.profile-inner .edit-sec{background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #212121;
    display: inline-block;
    height: 25px;
    line-height: 22px;
    margin-left: 10px;
  margin-right:5px;
    text-align: center;
    width: 25px;}
.profile-inner .edit-sec:hover{color:#ed5664;  border: 1px solid #ed5664;}  

.fancybox-inner .edit-profile input[type="text"]{float:left; width:250px; padding:10px 70px 10px 10px; background: #f4f4f4; border: 1px solid #ccc; margin-bottom:12px; clear:left; color:#a9a9a9; margin-right:45px;}
.fancybox-inner .edit-profile select{float:left; width:250px; padding:10px 70px 10px 10px; background: #f4f4f4; border: 1px solid #ccc; margin-bottom:12px; clear:left; margin-right:45px;}
.fancybox-inner .edit-profile input[type="button"]{ background: #ed5463 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 25px;
  border-radius:25px;
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
    width: auto;}
.fancybox-inner .edit-profile input[type="button"]:hover{opacity:0.7; transition:all 0.5s ease-out 0s;} 

.inbox-img img{width:58px; height:58px;}

.header-top-right ul li.setting span a.signout{color:#4a4a4a;}
.header-top-right ul li.message ul.inbox-message-list .inbox-reply-delet{position:inherit; display:block; bottom:0;}  
.header-top-right ul li ul.inbox-message-list li .inbox-content{line-height:20px;}
.header-top-right ul li:hover ul li:hover{background:#f8f8f8;}
.notify-open-down {
    background: #cdcdcd none repeat scroll 0 0;
    padding: 18px 3px 3px;
    position: absolute;
    right: 0;
    top: 32px;
    width: 380px;
    z-index: 99999999;
   display:none;}
  
  
 /************************************************** CSS STRAT 18.08.2015 *********************************************************/
 
.fa-2 {
    color: #4a4a4a;
    float: left;
    font-size: 2em;
}
.fa-1{
    color: #4a4a4a;
    font-size: 1em;
}
.dashboard-message-heading{display: inline-block; width: 100%; clear: both; background:#fff; padding:12px 10px 12px 20px; border-top:2px solid #00a79d;}
.dashboard-wrap{width: 100%; clear: both; display: inline-block;}
.dashboard-message-heading h2{color: #4a4a4a; font-size: 18px; padding:7px 0 0 15px; font-weight: 700; display:inline-block; float:left;}
.header-top-right ul li .fa-1{ font-size: 1.2em;}

.compose-form-right .inbox-message-list p.date{margin-bottom:18px;}

.upload-sec i.fa-2{ color:#fff;  font-size:1.5em;  margin-top:8px; padding-right:10px;}
.update-cover-photo i.fa-2{ color:#fff;  font-size:1.5em;  margin-top:8px; padding-right:10px;}


.edit-profile{text-align: center;}

.top-header{ background:#ed5664; padding:8px 10px;}
.top-login ul li{float:left; width:190px; margin-right:8px;}
.top-login ul li label{  color: #fff;
    float: left;
    font-size: 13px;
    margin-bottom: 8px;
    text-align: left;
    width: 100%;}
.top-login ul li input[type="text"], .top-login ul li input[type="address"], .top-login ul li input[type="password"], .top-login ul li input[type="email"]{ background: #fff none repeat scroll 0 0;  border: 1px solid #cb3c49; width: 100%; padding:3px 10px}
.top-login ul li input[type="submit"]{ background:#00c5b9;  margin-top:21px; padding:1px 12px;  transition: all 0.5s ease-out 0s; border:1px solid #}
.top-login ul li.width-auto{width:auto;}
.top-login ul li a{color: #fff; float: left; font-size: 12px; margin-top: 5px;}
.top-login ul li a:hover{text-decoration:underline;}


.connection-bg{background: #fff none repeat scroll 0 0; float: left; padding: 10px 0 0; width: 100%;}
.connection-bg .inbox-message-list{clear:both; display:inline-block; width:100%;}
.connection-top-action .more-drop-down{float:left; margin-right:30px;}	
.connection-top-action{float:left; width:100%; padding:5px 0 15px; border-bottom:1px solid #dedede;}

.inbox-left-check{float:left; margin-right:30px;}
.user-listing{width:32%; margin-right:2%; float:left; margin-bottom:2%; background:#fff; padding:15px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-border-sizing:border-box;}
.user-listing:nth-child(3n){margin-right:0;}
.user-listing .user-left-images{width:25%;}
.user-listing .user-right-content{width:69%;}

.connection-user-wrap .user-right-content h3{color: #4a4a4a; font-size: 18px; font-weight: 700; margin-bottom:10px;}
.connection-user-wrap .user-right-content span { clear: both; color: #4b545a; display: inline-block; font-size: 15px;line-height:24px; margin: 0 0 10px;
}
.connection-user-wrap .user-right-content{min-height:150px;}
.connection-user-wrap .user-right-content p { color: #4b545a; font-size: 13px; line-height: 20px;}

.connection-top-action .sub{width:180px;}	
.connection-load-more{text-align:center; clear:both; background-image: url('../images/border-bg.png'); background-repeat: repeat-x; background-position: 50% 50%;  margin-bottom:20px; }
.connection-load-more span{background: #f4f4f4 none repeat scroll 0 0; display: inline-block; padding: 0 20px;}
.connection-load-more a{background:#cdcdcd; padding:10px 44px; color:#4a4a4a; font-size:14px; display:inline-block;}	

.connection-select-all{clear:both; display:inline-block; width:100%; color:#4b545a; margin:15px 0 0 20px;}
.connection-search a{color:#4b545a;}
.connection-search{margin-right:20px;}

.clear{clear:both;}
.connection-message-delet{display:inline-block; margin-top:20px;}
.connection-message-delet a{color:#4b545a; font-size:14px; margin-right:15px;}
.connection-message-delet a i.fa-1{margin-right:4px;}

.fancybox-overlay{z-index:2147483647 !important;}

.mobile-nav{display:none;}


/*20.8.2015*/
.compose-inner-bg h2 a{color: #4a4a4a; line-height: 30px; margin-left: 15px;}
.compose-inner-bg h2 a.sent{color: #fff;}

 .imageBox{
          position: relative;
          height: 400px;
          width: 100%;
          border:1px solid #aaa;
          background: #fff;
          overflow: hidden;
          background-repeat: no-repeat;
          cursor:move;
          margin-bottom: 20px; }

 .imageBox .thumbBox {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 200px;
          height: 200px;
          margin-top: -100px;
          margin-left: -100px;
          box-sizing: border-box;
          border: 1px solid rgb(102, 102, 102);
          box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
          background: none repeat scroll 0% 0% transparent;}

.imageBox .spinner {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          text-align: center;
          line-height: 400px;
          background: rgba(0,0,0,0.7); }  

.imageBox1 {
          position: relative;
          height: 300px;
          width: 1000px;
          border:1px solid #aaa;
          background: #fff;
          overflow: hidden;
          background-repeat: no-repeat;
          cursor:move;
          margin-bottom: 20px;
      }

.imageBox1 .thumbBox1 {
          position: absolute;
          top: 55%;
          left: 12%;
          width: 960px;
          height: 250px;
          margin-top: -140px;
          margin-left: -100px;
          box-sizing: border-box;
          border: 1px solid rgb(102, 102, 102);
          box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.6);
          background: none repeat scroll 0% 0% transparent;
      }

.imageBox1 .spinner1 {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          text-align: center;
          line-height: 400px;
          background: rgba(0,0,0,0.7);}

.activate-mail-message{ font-size: 12pt; color: #fff;}
.update-cover-photo a.fancybox{float: left; padding-left: 6px;}
.activate-mail-message{
  font-size: 12pt;
  color: #fff;
}

#down-4 a.forget-password{color:#fff;}

.wizard-wrapper .middle-social-section{bottom:8px;}
.wizard-wrapper .center-box-hght{padding-top:15px;}



  
/*responsive css start*/

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
.business-listing-wrap{width: 90%;}
}

@media only screen and (max-width: 1200px){
.dashboard-wrap{width:96%; margin:0 auto; display:block;}
.dashboard-footer-right{width:78%;}
.cover-header-left{width:75%;}
.cover-header-left ul li{width:45%;}
.compose-form-right{width:70%;}
.compose-form-left{width:30%;}
.compose-form-right .compose-form-ul li .fld-right{width:75%;}
.compose-form-right .compose-form-ul li label{width:20%;}
/*.cd-section.cd-inner-listing .center-box { display: table-cell;}*/
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
.cover-header-left ul li{width:45%;}
.business-img-listing li{width:15.6%; height:85px;}
.popup-wrap .business-img-listing li{height:auto;}
.business-listing-wrap{width:60%;}

.wizard-wrapper .center-box-hght{padding-top:25px;}
}

@media only screen and (min-width: 980px) and (max-width: 1024px) {
.cover-header-left ul li{width:45%;}
.compose-form-right .compose-form-ul li .fld-right{width:65%;}
.compose-form-right .compose-form-ul li label{width:30%;}
.top-section .top-center-box{ background-image: url('../images/section-one-bk.png'); background-repeat:no-repeat; background-position:center 100px;}
.cd-section:first-of-type > div:first-child{background-position:center 20px;}
.dashboard-footer-right { width: 75%;}
.dashboard-footer{padding:20px 15px;}
.business-img-listing li{width:19.2%; height:144px;}
.business-img-listing li:nth-child(5n){margin-right:0;}

.profile-cont-left{width:78%;}
.dashboard-nav ul li a { font-size: 14px; margin: 0 4px; padding: 10px 12px;}

.popup-wrap .business-img-listing li{height:105px;}

.compose-form-right .inbox-content{width:82%;}

 /*login homepage css*/
.login-wrapper .cd-section{padding-top:0;}

.business-listing-wrap{width:100%;}

 /*resolution*/
.wrapper{width:100%; clear:both; float:left;}
.cd-section{width:100%; height:auto;}
.wizard-wrapper .cd-section{padding-top:0;}
.top-header{float:left; width:100%; position:relative;}
body{background-color:#f4f4f4;}

.login-wrapper .cd-section{position:inherit !important; padding-top:0; height:100%;}
.login-wrapper .cd-section .container{height:100%; padding-top:75px;}
.login-wrapper .cd-section.top-section .container{padding-top:90px;}
.login-wrapper .cd-section .center-box h2{padding:15px 0 0;}
.login-wrapper .cd-section .center-box h4{margin-bottom:20px; font-size:20px;}
.login-wrapper .cd-section .center-box p{padding-top:0;}
.login-wrapper .cd-section .center-box p:empty{display:none;}
.login-wrapper .cd-section-two h2 { margin-top: 0px;}

.login-wrapper{overflow:inherit !important;}
.wizard-wrapper{overflow:inherit !important;}

.login-wrapper .center-box-hght{min-height:430px; padding-top:40px;}
.login-wrapper .cd-section:first-of-type > div:first-child { background-position: center -33px;}

.error{width:34%;}

}

@media only screen and (min-width: 768px) and (max-width: 979px) {
.cover-header-left{width:65%;}
.fl67{width:58%;}
.fr33{width:40%;}
.right-inbox-icon{right:2px;}
.profile-connect li{width:100%; margin-right:0;}
.profile-connect li:nth-child(2){padding-top:15px; margin-top:15px; border-top:1px solid #f4f4f4;}
.profile-img-left{margin-left:15px;}
.profile-cont-left{width:75%; margin-left:10px;}
.dashboard-nav ul li a{margin:0 5px; padding:10px 10px;}

.compose-form-right .compose-form-ul li .fld-right{width:65%;}
.compose-form-right .compose-form-ul li .fld-right textarea{height:100px;}
.compose-form-right .compose-form-ul li label{width:30%;}

.top-section .top-center-box{ background-image: url('../images/section-one-bk.png'); background-repeat:no-repeat; background-position:center 140px;}
.cd-section:first-of-type > div:first-child{background-position:center -30px;}
.compose-form-right{width:100%;}
.compose-form-left{width:100%;}
.compose-inner-bg{padding:15px;}
.compose-form-left ul{margin-top:0;}
.right-inbox-message-list .inbox-content{margin-left:3%;}

.dashboard-footer-left{padding-left:0;}
.dashboard-footer{padding:20px 15px;}
.dashboard-footer-right ul{width:32%; margin-right:3%;}
.dashboard-footer-right{width:70%;}

.inbox-content{width:80%;}
.business-img-listing li{width:24%; height:135px;}
.business-img-listing li:nth-child(4n){margin-right:0;}

.inbox-top-action{margin-top:0;}

.popup-wrap .business-img-listing li{height:125px;}

.mobile-nav{display:block; background-image: url('../images/menu-toogle.png'); background-repeat:no-repeat; width:48px; height:48px; font-size:0;}
.dashboard-nav{display:none;}
.mobile-nav { display: block; position: absolute; right: 25px;  top: 18px; }
.dashboard-nav { position: absolute; top: 95%; width: 100%; z-index: 9999; left:0; background:#353c41; margin-top:15px;}
.dashboard-nav ul li{width:100%; border-right:none; border-bottom:1px solid #ececec;}
.dashboard-nav ul li:last-child{border-bottom:none;}
.dashboard-nav ul li:first-child{border-top:none;}
.dashboard-nav ul li a{border-radius:0; margin:0; display:block; color:#fff;}
.dashboard-nav ul li.active a{border-radius:0;}

.fl33{width:28%;}
.fl33 .inbox-message-list li{padding:15px 8px;}
.fl33 .inbox-message-list li .inbox-content{width:100%; margin-top:8px;}
.fl33 .inbox-message-list li .inbox-reply-delet{display:block; position:inherit; bottom:0;}
.suggestion-back{background-position:center; background-size:90%; width:100%;}

.profile-heading{padding:12px 6px;}
.profile-heading h2{padding-left:5px;}
.count-number{margin-top:5px;}

.middle-signup-containe{ width:70%;}

.business-listing-wrap{width:100%;}
.business-img-left{width:23%; height:133px;}

 /*resolution*/
.wrapper{width:100%; clear:both; float:left;}
.wizard-wrapper .cd-section{width:100%; height:auto; padding-top:0;}
.wizard-wrapper .cd-section{padding-top:0;}
.wizard-wrapper .top-center-box{display:inline;}

.top-header{float:left; width:100%; position:relative;}
body{background-color:#f4f4f4;}

 /*login homepage css*/
.login-wrapper .cd-section{position:inherit !important; padding-top:0; height:100%;}
.login-wrapper .cd-section .container{height:100%; padding-top:75px;}
.login-wrapper .cd-section.top-section .container{padding-top:90px;}
.login-wrapper .cd-section .center-box h2{padding:15px 0 0;}
.login-wrapper .cd-section .center-box h4{margin-bottom:20px; font-size:20px;}
.login-wrapper .cd-section .center-box p{padding-top:0;}
.login-wrapper .cd-section .center-box p:empty{display:none;}
.login-wrapper .cd-section-two h2 { margin-top: 0px;}

.login-wrapper .center-box-hght{min-height:430px;}
.login-wrapper .top-section .top-center-box{background-position:center 125px;}

.circle-container{max-width:700px;}

.login-wrapper{overflow:inherit !important;}
.wizard-wrapper{overflow:inherit !important;}

#down-4 a.forget-password{margin-bottom:25px;}

.video{padding-bottom:15px;}

.error{width:45%;}

}

@media only screen and (max-width: 767px){
  .term-privacy-left ul li:first-child{margin-left:0;}
  .signup-step ul li{margin-bottom:8px;}
  .bottom-button{padding:0 10px; border-top-width:6px;}
  
  .middle-signup-container{min-height:inherit;}
  
  .compose-form-right{width:100%;}
    .compose-form-left{width:100%;}
  .compose-inner-bg{padding:15px;}
  .compose-form-left ul{margin-top:0;}
  
  .fl67{width:100%; margin-bottom:15px;}
  .fr33{width:100%;}
  .fl33{width:100%; margin-bottom:15px;}
  .inbox-top-action{margin-top:5px;}
  .dashboard-footer{margin:10px 0 0;}
  
  .popup-wrap .business-img-listing li{height:125px;}
  
  .mobile-nav{display:block; background-image: url('../images/menu-toogle.png'); background-repeat:no-repeat; width:48px; height:48px; font-size:0;}  
  .dashboard-nav{display:none; background:#353c41; width:100%; float:left; margin-top:10px;}
  .dashboard-nav ul li{width:100%; border-right:none; border-bottom:1px solid #ececec;}
  .dashboard-nav ul li:last-child{border-bottom:none;}
  .dashboard-nav ul li:first-child{border-top:none;}
  .dashboard-nav ul li a{border-radius:0; margin:0; display:block; color:#fff;}
  .dashboard-nav ul li.active a{border-radius:0;}
  
  .fancybox-close{ right: -13px !important; top: -20px !important;}
  
   .top-center-box .middle-social-section{padding:15px 8px 10px; position:inherit; width:100%; float:left;}
   .center-box-hght{padding-top:70px;}
  
  /*resolution*/
.wrapper{width:100%; clear:both; float:left;}
.wizard-wrapper .cd-section{width:100%; height:auto; padding-top:0;}
.top-header{float:left; width:100%; position:relative;}

.cd-section:first-of-type > div:first-child{background-image:none;}

body{background-color:#f4f4f4;}

  /*login homepage css*/
.login-wrapper .cd-section{position:inherit !important; padding-top:0; height:100%;}
.login-wrapper .cd-section .container{height:100%;}
.login-wrapper .cd-section .center-box h2{padding:30px 0 0;}
.login-wrapper .cd-section .center-box h4{margin-bottom:20px; font-size:20px;}
.login-wrapper .cd-section .center-box p{padding-top:0;}
.login-wrapper .cd-section .center-box p:empty{display:none;}
.login-wrapper .cd-section-two h2 { margin-top: 0px;}

.login-wrapper{overflow:inherit !important;}
.wizard-wrapper{overflow:inherit !important;}

.video{padding-bottom:15px;}

#down-4 a.forget-password{margin-bottom:15px;}
  
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
  .top-login ul li{width:38%;}
  header .login-btn-rt{width:60%;}
  .cd-section-two h2 { margin-top: 110px;}
  .middle-signup-container ul{padding:0 20px;}
  ul.onepage-pagination{top:27%;}
  .cd-section.cd-inner-listing .center-box { padding-bottom:30px; margin-bottom:50px;}
  
  .business-listing-wrap{width:100%;}
  
  .cover-header-left{width:59%;}
  .dashboard-footer-right{width:65%;}
  .dashboard-footer-left{padding-left:0; padding-top:2.5%;}
  .dashboard-footer{padding:20px 15px;}
  .dashboard-footer-list.social-icon li br{display:none;}
  .dashboard-footer-list.social-icon li .social-icon-right{margin-top:15px;}
  
  .profile-connect .inbox-content{width:75%;}
  .business-img-listing li{width:32%; height:150px;}
  .business-img-listing li:nth-child(3n){margin-right:0;}
  
  .left-message .inbox-content{width:85%;}
  
  .dashboard-footer-right ul li{font-size:13px;}
  .dashboard-footer-right ul{width:29%; margin-right:2%;}
  
  .popup-wrap .business-img-listing li{height:140px; width:32%;}
  
  .mobile-nav { display: block; position: absolute; right: 25px;  top: 18px;}
  .dashboard-nav { position: absolute; top: 95%; width: 100%; z-index: 9999; left:0;}
  
  .middle-signup-container{width:70%;}
  .signup-step ul li { margin-bottom: 15px;}
  .top-section .top-center-box{ background-image: url('../images/section-one-bk.png'); background-repeat:no-repeat; background-position:center 60px;}
  .middle-signup-container ul li{margin-bottom:10px;}
  
  .center-box-hght{padding-top:0;}

  .cd-inner-listing .container{padding-top:20px;}
  .business-img-left{width:32%; height:auto;}
  
  .tool-tips-block{left:inherit; width:281px; right:-9px; top:23px; z-index:9999;}
  
  .term-privacy-left{width:100%; text-align:center;}
  .term-privacy-left ul li{display:inline-block; float:none;}
   
  .social-icon-right{width:100%; text-align:center; float:left; margin-top:10px;}
  .social-icon-right ul{float:none; display:inline-block;}
  .social-icon-right ul li{margin-bottom:0;}
  
  .bottom-button{display:none;}
  
  .error{width:63%;}
  
  .top-login ul li a{font-size:11px;}
  
  .wizard-wrapper .center-box-hght{padding-top:20px;}
  
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
  header .login-btn-rt{width:59%;}
  .top-login ul li{width:34.5%; margin-right:5px;}
  .top-center-box h2{margin-top:90px;}
  .center-box h2{margin-top:10px; margin-bottom:20px;}

  .onepage-pagination{left:12px;}
  .compose-form-right .compose-form-ul li .fld-right{width:70%;}
  .compose-form-right .compose-form-ul li label{width:25%;}
  
  .inbox-content{width:80%;}
  
  .cover-header-left ul li{width:43%;}
  
  .dashboard-footer-right ul{width:50%;  margin-right:0; margin-top:0;}
  
  .setting-drop-down-open{width:450px; right:-98px;}
  .setting-message-down{right:-217px; width:450px;}
  .people-open-down{right:-264px; width:450px;}
  .notify-open-down{right:-313px; width:450px;}
  
  header .logo{margin-left:34%; clear:both;}
  header.dashboard-header{text-align:center; padding-top:5px; padding-bottom:5px;}
  

  .premium-member{clear:both; margin-top:0; margin-bottom:10px; margin-left:45%;}
  
  .left-message .inbox-content{width:82%;}
  
  .mobile-nav { display: block; position: absolute; right: 25px;  top: 98px;}
  
  .center-box-hght{padding-top:0;}
  
  .term-privacy-left{margin-bottom:5px; margin-top:0; width:100%;}
  .term-privacy-left ul li{float:none; display:inline-block;}
  .top-center-box .middle-social-section{text-align:center;}
  
  .business-img-left{width:49%; height:auto;}
  
  .middle-signup-container{width:100%;}
  .business-img-listing li:nth-child(2n){margin-right:0;}
  
  header .login-btn-rt{width:100%; margin-right:0;}
  .top-login ul li { margin-right: 1%; margin-top: 5px;  width: 41%;}
}

@media only screen and (max-width: 639px){
  .dashboard-footer-right .social-icon { float: left; margin-top: 20px; text-align: center; width: 100%;}
  .dashboard-footer-right .social-icon li br{display:none;}
  
  .dashboard-footer{padding:20px 0;}
  .dashboard-footer-left{text-align:center; width:100%; padding:0;}
  .dashboard-footer-right{width:100%; margin-top:15px; padding:0 20px;}
    
  .social-icon-right{width:100%; text-align:center; float:left; margin-top:10px;}
  .social-icon-right ul{float:none; display:inline-block;}
  .social-icon-right ul li{margin-bottom:0;}
  
  .inbox-message-list li{padding:15px;}
  .inbox-reply-delet{display:block; position:inherit; bottom:-2px;}
  
  .profile-connect li:nth-child(2){padding-top:15px; border-top:1px solid #f4f4f4; margin-top:15px;}
  .profile-connect li{width:100%; margin-right:0;}
  .MAR-BTN30{margin-bottom:20px;}
  
  .business-img-listing li{width:48.3%; height:165px;}
  
  .advance-search{width:50%;}
  .cover-header-right .dashboard-search{width:50%;}
  .cover-header-right{width:100%;}
  .cover-header-left {  box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 6px 15px; width: 100%;}
  
  .popup-wrap .business-img-listing li{ width:109px; height:83px;}
  
   .profile-img-left{margin-left:15px;}
   .profile-cont-left { margin-left: 0; margin-top: 15px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; padding: 0 15px;  width: 100%;}
   .profile-cont-left h3{color:#4b545a; text-shadow:inherit;}
   .profile-cont-left p{color:#4b545a;}
   
    .top-action-left{padding-left:0;}
  
   .header-top-right{text-align:left; display:inline-block; float:none;}
  
    .cd-section:first-of-type > div:first-child{background-image:none;}
	.cd-inner-listing .center-box-hght{padding-top:10px;}
	.cd-section.top-section .container{padding-top:30px; height:auto;}
	
	.business-listing-wrap{width:100%;}
	.tool-tips-block{left:inherit; width:281px; right:-9px; top:23px; z-index:9999;}
	
	.business-content-listing li{width:49%; margin-right:1%; margin-bottom:7px;}
    .business-content-wrap{max-width:100%; margin-bottom:5px; width:100%;}
	
	.error{width:100%;}
			  
}


@media only screen and (max-width: 479px){
  .compose-form-right .compose-form-ul li .fld-right{width:100%;}
  .compose-form-right .compose-form-ul li label{width:100%; text-align:left; line-height:30px;}
  .compose-form-right .compose-form-ul li{margin-bottom:2px;}
  .compose-form-right .compose-form-ul li .fld-right textarea{height:100px; margin-bottom:10px;}
  .right-inbox-icon{right:5px;}
  .right-inbox-message-list .inbox-content{width:55%;}
  
  .inbox-img img{width:40px; height:40px;}
  .inbox-content{width:80%;}
    
  .business-img-listing li{width:100%; height:auto;}
  
  .cover-header-left ul li {  margin-right: 0; margin-top: 5px; width: 100%; border-left:none; border-right:1px solid #000; padding-right:10px;}
  
  .header-top-right ul li.setting span{font-size:13px;}
  
  .dashboard-footer-right ul{width:100%; margin-right:0; margin-top:8px;}
  .dashboard-footer-right ul:first-child{margin-top:0;}
  
  .setting-drop-down-open{ right:-22px; width:295px;}
  .setting-message-down{right:-135px; width:295px;}
  .people-open-down{right:-182px; width:295px;}
  .notify-open-down{right:-231px; width:295px;}
  
  header .logo{margin-left:21%; clear:both;}
  header.dashboard-header{text-align:center; padding-top:5px; padding-bottom:5px;}
  
  .top-action-right{width:60%; margin-right:0;}
  .top-action-right ul li{margin-right:7%;}
  
  .premium-member{clear:both; display:inline-block; margin-top:0; margin-bottom:10px; float:none;}
  
  .mobile-nav { display: block; position: absolute; right: 25px;  top: 100px;}
  
  .middle-signup-container{width:100%;}
  .signup-step ul li { margin-bottom: 10px;}
  .top-section .top-center-box{ background-image: url('../images/section-one-bk.png'); background-repeat:no-repeat; background-position:center 60px;}
  .middle-signup-container ul li{margin-bottom:7px;}
  .cd-inner-listing .container{padding-top:20px;}
  .business-img-left{width:100%; height:auto; margin-right:0;}
  
  .term-privacy-left{margin-bottom:5px; margin-top:0; width:100%;}
  .term-privacy-left ul li{float:none; display:inline-block;}
  .top-center-box .middle-social-section{text-align:center;}
   .center-box-hght{padding-top:0;}
  
  .signup-step ul li span{font-size:13px;}
  .cd-section.cd-inner-listing .center-box-hght h2.first{float:left; width:100%; text-align:left;}
  .business_tool-tips{display:none;}
  
  .business-content-listing li{width:100%; margin-right:0;}
  .business-content-wrap{max-width:100%; margin-bottom:5px; width:100%;}
  
  .top-login ul li{width:100%; margin-right:0; margin-top:5px;}
  .top-login ul li input[type="submit"]{margin-top:15px;}
  
  
}



