/* custom style */

*{
	margin: 0;
	padding: 0;
}

body, html {
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.clearfix {clear:both;}

.header-section {
	padding: 12px 0 0 0;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1000;
	border-bottom: 1px solid #dfdfdf;
}

.contact-number {
	font-size: 16px;
	text-align: right;
	margin: 8px 0 23px 0;
}

.menu-container {
	float: right;
	margin: 0;
}
.menu-container li { 
float:left;
display: block;
text-transform: uppercase; 
} 
.menu-container li a { 
	padding: 8px 17px;
	display: block;
	text-transform: uppercase;
	}
	
.menu-container li a:hover, .active { 
	background: #16be00;
	border-radius: 5px 5px 0 0;
	text-decoration: none;
	color: #fff; 
	}

.menu-container li ul {
	position:absolute;
	visibility:hidden;
	z-index:9999; 
	border-bottom:2px solid #16be00; 
	margin:0; 
	padding:0;
	background: #ececec;
	left: 0;
}

/* .menu-container li ul li {border-bottom: 1px solid #fff; border-radius:0; }
.menu-container li ul li a:link, .visited { background-color:#ececec; width:auto; border-radius:0; } 
.menu-container li ul li a:hover { background-color:#2a6daf; border-radius:0; }  */

.menu-title {
	font-size: 13px;
	color: #868686;
	font-weight: 600;
}

.menu-title a {
	border-bottom: 1px solid #fff;
	/* padding-left: 0 !important;
	padding-right: 0 !important; */
	
}

.menu-title a:hover {
	background-color:#2a6daf !important; 
	border-radius:0 !important;
}

.menu-title a span {
	position: absolute;
    right: 30px;
}

.menu-content {
	text-transform: none;
	min-height: 60px;
	overflow: hidden;
	font-size: 13px;
	margin-bottom: 5px;
	padding: 0 20px;
	color: #5d5d5d;
	
}

/*.menu-item a:hover, .active {
	background: #16be00;
	border-radius: 5px 5px 0 0;
	text-decoration: none;
	color: #fff;
}*/

.banner-section {
	position: relative;
	margin-top: 103px;
}

.contactus-btn {
	/* width: 37px; */
	height: 50%;
	max-height: 127px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}

.banner-content {
	height: 190px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
}

.banner-text h1 {
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align:center;
	font-size: 45px;
}

.banner-text {float: right;}
.banner-text p {
	font-size: 30px;
	color: #524f4f;
	text-align: center;
	line-height: 1;
	font-style: italic;
}

.learn-more {
	padding: 10px 30px;
	border: none;
	border-radius: 5px;
	background: #16be00;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	margin: 20px auto 0 auto;
	display: block;
}

.learn-more:hover {background: #129102;}

.feature-nav-section {width: 100%;}

.seperator {	width: 100%;}

.featute-nav-container li {
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	/* float: left;
	padding: 12px 45px 8px; */
}

.section-heading {
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	color: #363636;
	text-align: center;
	margin-bottom: 20px;
}

.section-heading.white {
	color: #fff;
}

.section-heading span {
	color: #f0b246;
	font-weight: 700;
}

.inner-page-section-heading {
	font-family: 'Raleway', sans-serif;
	font-size: 38px;
	color: #363636;
	text-align: center;
	margin-bottom: 20px;
}

.inner-page-section-heading.white {
	color: #fff;
}

.inner-page-section-heading span {
	color: #f0b246;
	font-weight: normal;
}

.howitworks-content {
	font-size: 15px;
}

.vertical-seperator-small {
	margin: 0 auto;
	max-width: 491px;
	width: 100%;
}

.section-intro-1 {
	text-align: center;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

.section-intro-2 {
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}

.howitworks-content li {
	background: url(../images/listing-img.png) no-repeat 0 0;
	padding: 0 0 0 40px;
	margin: 0 0 20px 0;
}

.try-it-btn {
	display: block;
	background: #3e3e3e;
	padding: 10px 25px;
	border: none;
	margin: 20px auto;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.left-arrow {
	background: url(../images/left-arrow.png) no-repeat 0 0;
	width: 11px;
	height: 22px;
	float: left;
	cursor: pointer;
}

.bullet-container {
	float: left;
	margin: 5px 0 0 0;
}

.bullet-container li {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #8a8a8a;
	float: left;
	margin: 0 5px;
	cursor: pointer;
}

.right-arrow {
	background: url(../images/right-arrow.png) no-repeat 0 0;
	width: 11px;
	height: 22px;
	float: left;
	cursor: pointer;
}

.slider-nav {
	margin: 20px auto;
	width: 140px;
}

.bullet-container li.bull-active {
	background: #3a3a3a;
}

.feature-icon {
	width: 43px;
	height: 38px;
	display: block;
	margin: 0 auto;
}

.feature-title {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}

.feature-content {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
}

.featuresyoulove li {
    margin: 20px 0;
    min-height: 160px;
}

.loveus-section {
	background: #272626;
	padding: 20px 0;
}

.slider-cont {
	overflow: hidden;
}

.slider-item {
	float: left;
	width: 100%;
}

.slider-container {
	position: relative;
	margin: 20px auto;
	overflow: hidden;
}

.slider-holder {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1000px;
	width: 85%;
}

.slider-img-cont {
	border-radius: 8px;
	overflow: hidden;
	max-width: 220px;
	width: 100%;
	margin: 0 auto;
}

.slider-holder li {
	float: left;
	padding: 0 15px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

.partners-section .slider-holder li {
	float: left;
	width: 25%;
	
	padding: 0 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
}

.partners-section .slider-img-cont{
	width: 100%;
	height: 100px;
	overflow: hidden;
	position: relative;
}

.partners-section .slider-img-cont img {
	bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.slider-content-title {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	margin: 10px 0 0 0;
}

.slider-content-subtitle {
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.left-arrow-big {
	background: url(../images/big-left-arrow.png) no-repeat 0 0;
	bottom: 0;
    height: 45px;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
	cursor: pointer;
}

.right-arrow-big {
	background: url(../images/big-right-arrow.png) no-repeat 0 0;
	bottom: 0;
    height: 45px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 14px;
	cursor: pointer;
}

.getstarted-holder {
	width: 82px;
	height: 82px;
	border: 1px solid #c6c6c6;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.getstarted-holder img {
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	position: absolute;
}

.letstart-btn {
	border: none;
	background: #3682a6;
	padding: 10px 25px;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	margin: 20px auto 40px auto;
	color: #fff;
}

.letstart-btn:hover {
	background: #28627e;
}

.bottom-nav{
	background:#272626;
	padding: 20px 0;
}

.bottom-nav-col {
	/* width: 20%;
	padding: 0 15px;
	float: left; */
}

.bot-nav-col-title {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

.bottom-nav li {
	color: #fff;
	font-size: 13px;
}

.subscribe-input {
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 5px;
	border: none;
	background: #c4c4c4;
}

.subscribe-btn {
	background: #f08904;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	padding: 5px 20px;
	border: none;
	margin: 20px auto 0 auto;
	border-radius: 5px;
	display: block;
}

.subscribe-btn:hover {background: #ba6b05;}
.social-btn {
	cursor: pointer;
    float: left;
    height: 30px;
    margin: 0 4px;
    width: 30px;
}

.fb-icon {background: url(../images/fb-icon.png) no-repeat 0 0;}
.linkdn-icon {background: url(../images/linkdn-btn.png) no-repeat 0 0;}
.twitter-icon {background: url(../images/twitter-btn.png) no-repeat 0 0;}
.youtube-icon {background: url(../images/youtube-icon.png) no-repeat 0 0;}
.gplus-icon{background: url(../images/gplus-icon.png) no-repeat 0 0;}

.social-btn:hover {
	background-position: 0 100%;
}

.mfaa-logo {
	width: 50%;
	background: #fff;
	min-width: 125px;
	padding:5px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 10px;
}

.social-btn-cont {
	width: 190px;
	height: 30px;
	margin: 0 auto 20px;
	display: block;
}

.footer {padding: 10px 0;}

.copyright {font-size: 12px;}

.copyright span {
	margin: 0 10px;
}

.navbar-toggle {	
	border: 1px solid #ccc; 
	margin-right: 0;
	position: absolute;
	top: 15px;
	right: 15px;
}
.icon-bar{background: #272626;}

/* -------- 5 equal column in full width */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
    float: left;
}
.col-lg-6ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    width: 33%;
    float: left;
}

.form-section {
	position: relative;
	margin-top: 103px;
	
}
.form-area {
	margin: 35px 0 55px 0;
	border: 1px solid #eaeaea;
	padding: 18px;
} 

.form-area input[type="text"] {
	width: 100%;
	height: 40px;
	border: 1px solid #a2a2a2;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 8px 0;
	padding:6px;
	color: #000;
}

.form-area .password {
	width: 100%;
	height: 40px;
	border: 1px solid #a2a2a2;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 8px 0;
	padding:6px;
	color: #000;
}

.form-area .email {
	width: 100%;
	height: 40px;
	border: 1px solid #a2a2a2;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 8px 0;
	padding:6px;
	color: #000;
}
.form-area textarea {
	width: 100%;
	height: 110px;
	border: 1px solid #a2a2a2;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 8px 0;
	padding:6px;
}
.form-area .submit-button {
	margin: 20px auto;
	display: block;
	padding: 12px 25px;
	color: #fff;
	background: #222222;
	font-size: 15px;
	text-transform: uppercase;
	border: 1px solid #171717;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.link a {
	margin: 35px auto 55px auto;
	display: block;
	padding: 19px 45px;
	color: #fff;
	background: #001c53;
	font-size: 15px;
	text-transform: uppercase;
	border: 1px solid #171717;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:254px;
}

.innerpage-con-section {
	position: relative;
	margin-top : 103px;
}

.inner-page-context-text {
	line-height: 24px;
}

label.errorfield{ color:#FF0000;}

.err_msg
{
color:#FF0000;
}
.succ_msg{
 color:#009900;
 }
 
 .footer-bottom {
	margin: 30px 0 0 0;
 }
 
 .footer-bottom .bot-nav-col-title {
	margin-top: 0;
	text-align: center;
 }

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
	.col-lg-6ths {
        width: 33%;
        float: left;
    }
}

/* -------------------------- */

@media all and (min-width: 320px) and (max-width: 767px) {
	.logo {text-align: left; padding-left: 0;}
	/* .contact-number{text-align: left; margin-bottom: 0;} */
	.menu-section {padding-right: 0;	}
	
	.menu-container {
		float: none;
		background: #f5f5f5;
		margin: 0 0 20px 0;
	}
	
	.menu-container li { 
	float:none;
	} 
	
	.menu-container li ul {
		position:relative;
	}
	
	.menu-item {	float: none;}
	
	.menu-item a:hover, .active {border-radius: 0;}
	
	.banner-text h1 {font-size: 20px;}
	.banner-text p {font-size: 18px;}
	.learn-more{padding: 5px 10px; font-size: 15px;}
	
	.form-section {
	margin-top: 141px;	
	}
	.form-area {
	margin: 15px 0 55px 0;
	}
	.innerpage-con-section {
		margin-top: 141px;	
		}
	}
}

@media all and (max-width: 360px) {
	.banner-text h1 {
		color: #524f4f;
		text-align: right;
	}
	
	.banner-text p {display: none;}
	
	.form-area {
	margin: 15px 0 55px 0;
	}
}

@media all and (max-width: 640px) {
	
	.featute-nav-container {
		margin: 20px 0 0 0;
	}
	
	.featute-nav-container li{
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		border-bottom: 1px solid #ccc;
		padding: 8px 15px;
	}
	
	.featute-nav-container li:last-child {
		border-bottom: none;
	}
	
	.bottom-nav-col {
		/* width: 50%; */
		min-height: 105px;
	}
	
	.bottom-nav-col:last-child {
		width: 100%;
		min-height: auto;
		margin: 10px 0 0 0;
	}
	
	.section-heading {
		font-size: 30px;
	}
	
	.form-area {
	margin: 15px 0 55px 0;
	}
	
	.mfaa-logo {
		margin: 0 auto 20px auto;
	}
	
	#subsription {
		margin-bottom: 20px;
	}
}
