/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

*, *:active, *:focus {
  outline: 0;
  outline-style: none;
  outline-width: 0;
  -moz-outline-width: 0;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background-color: #22283f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a, button {
  text-decoration: none;
    -webkit-transition: .5s ease-out !important;
  -moz-transition: .5s ease-out !important;
  -o-transition: .5s ease-out !important;
  transition: .5s ease-out !important;
  cursor:pointer
}

.center-box p {
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 32px;
}

p {
  color:#fff
}

a:hover, button:hover {
  opacity:0.7
}

header {
  position:fixed;
  z-index:99999;
  width:100%;
  padding:10px;
  background-color:#f4f4f4
}

.background-video {
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
}

header .logo {
  max-width:170px;
    float: left;
}

header .logo img {
  width:100%
}

header .sign-up {
    float: right;
}

.sign-up a {
 color: #fff !important;
}

.sign-up {
  background-color: #F55967;
  padding: 9px 24px;
  font-size: 15px;
  line-height: 20px;
  color: #fff !important;
  text-align:center
}

.sign-up:hover {
  opacity: 0.8;
  cursor: pointer;
}


.bottom-button {
  background-color: #4b545a;
  border-top: 10px solid #353c41;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /*background-color: #fff;*/
  padding:4px 10px
}

.bottom-button P {
  /*color: #F55967;*/
  color: #fff;
  width:150px;
  text-align:center;
  margin: 0 auto;
  padding:6px;
  font-weight:bold
}

.bottom-button a {
  /*color: #F55967;*/
  color: #fff;

}


/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

h2.first, p.first {
  color: #4D575F;
}

body h2 {
  color: #fff;
}

.cd-section {
  height: 100vh;
    padding-top: 71px;
}
.cd-section .container {
  height: 100vh;
  text-align: center;
  font-size: 2.4rem;
  padding-top: 71px;
  display: table;
  width: 100%;
}

button {
  border: 0;
  color: #fff;
  background-color: #00AFA5;
  padding: 15px 40px;
}

input {
  border: 0;
  padding: 15px 70px;
}

.center-box h2 {
  margin-bottom:50px
}

.center-box {
  display:table-cell;
  vertical-align:middle;
    padding: 0 20px;
}

.cd-section:first-of-type > div:first-child {
/*  background-color: #f4f4f4;
  background-image:url(../img/animation.gif);
  background-size:contain;
  background-position: center -80px;
  background-repeat:no-repeat*/
    background-color: #f4f4f4;
    background-image: url(../img/animation.gif);
    background-size: 75%;
    background-position: center top;
    background-repeat: no-repeat;
}
.cd-section:first-of-type > div:first-child::before {
  /* alert -> all scrolling effects are not visible on small devices */
  content: 'Effects not visible on mobile!';
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;
  z-index: 2;
  font-weight: bold;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #6a7083;

}
.cd-section:nth-of-type(2) > div:first-child {
  background-color: #00AFA5;
   background-image:url(../img/ipad.png);
  background-size:cover;
  background-position:center center 
}
.cd-section:nth-of-type(3) > div:first-child {
  background-color: #4D575E;
}
.cd-section:nth-of-type(4) > div:first-child {
  background-color: #EE5967;
}
.cd-section:nth-of-type(5) > div:first-child {
  background-color: #4b91e1;
}
[data-animation="parallax"] .cd-section > div:first-child, [data-animation="fixed"] .cd-section > div:first-child, [data-animation="opacity"] .cd-section > div:first-child {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-animation="parallax"] .cd-section:first-of-type > div:first-child, [data-animation="fixed"] .cd-section:first-of-type > div:first-child, [data-animation="opacity"] .cd-section:first-of-type > div:first-child {
  background-image: url("../img/img-1.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(2) > div:first-child, [data-animation="fixed"] .cd-section:nth-of-type(2) > div:first-child, [data-animation="opacity"] .cd-section:nth-of-type(2) > div:first-child {
  background-image: url("../img/img-2.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(3) > div:first-child, [data-animation="fixed"] .cd-section:nth-of-type(3) > div:first-child, [data-animation="opacity"] .cd-section:nth-of-type(3) > div:first-child {
  background-image: url("../img/img-3.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(4) > div:first-child, [data-animation="fixed"] .cd-section:nth-of-type(4) > div:first-child, [data-animation="opacity"] .cd-section:nth-of-type(4) > div:first-child {
  background-image: url("../img/img-4.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(5) > div:first-child, [data-animation="fixed"] .cd-section:nth-of-type(5) > div:first-child, [data-animation="opacity"] .cd-section:nth-of-type(5) > div:first-child {
  background-image: url("../img/img-5.jpg");
}
@media only screen and (min-width: 1050px) {
  .cd-section h2 {
    font-size: 4rem;
    font-weight: 300;
  }
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div:first-child {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div:first-child {
    /*opacity: 0;*/
  }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div:first-child, [data-animation="gallery"] .cd-section > div:first-child, [data-animation="catch"] .cd-section > div:first-child {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div:first-child {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div:first-child {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div:first-child {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div:first-child {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/cd-icon-arrow.svg) no-repeat center center;
  background-color: rgba(0, 0, 0, 0.15);
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}


.hero {
  width: 100%;
  z-index: 2;
  max-width: 400px;
  margin:0 auto
}

.hero img {
  max-width: 370px;
  width: 100%;
}

@media only screen and (max-width: 700px) {
.cd-section .container {
  padding-top: 0px;
}
/*.cd-section:first-of-type > div:first-child {
    background-image: none
}*/
.center-box h2 {
  margin-bottom: 25px;
}
input {
  padding: 15px 40px;
}

button {
  padding: 15px 10px;
}

.center-box p {
  padding: 30px 0;
  font-size: 14px;
  line-height: 20px;
}

.circle-container {
  display:none !important
}

}
@media only screen and (max-width: 500px) {

.hero img, .bottom-button  {
  display: none;
}
.fr50, .fl50 {
  width:100% !important
}
canvas#demo-canvas {
    display: none;
}
}

.hideme
{
    opacity:0;
}

.circle {
  float: left;
  max-width: 70px;
  margin: 10px;
    opacity: 0;
    -webkit-transform: translateX(300);
  -moz-transform: translateX(300);
  -ms-transform: translateX(300);
  -o-transform: translateX(300);
  transform: translateX(300);

}

.circle img {
  width: 100%;
  border-radius: 100%;
}


.circle-container {
  display: block;
  margin: 0 auto;
  max-width:800px
}


.cd-section:nth-of-type(4) > div:first-child:hover .circle {
  -webkit-transform: translateX(45px);
  -moz-transform: translateX(45px);
  -ms-transform: translateX(45px);
  -o-transform: translateX(45px);
  transform: translateX(45px);
  -webkit-transition: opacity .7s cubic-bezier(.165,.84,.44,1),-webkit-transform .7s cubic-bezier(.165,.84,.44,1);
  -moz-transition: opacity .7s cubic-bezier(.165,.84,.44,1),-moz-transform .7s cubic-bezier(.165,.84,.44,1);
  transition: opacity .7s cubic-bezier(.165,.84,.44,1),transform .7s cubic-bezier(.165,.84,.44,1);
  opacity:1
}

.cd-section:nth-of-type(4) > div:first-child .circle:nth-child(1) {
  animation-delay:0.5s
}


div#large-header {
  position: absolute;
  top: 0;
  left: 0;
}

.nobg {
  background-image:none !important;
  height:100% !important;
  overflow:auto;
  background-color:#F4F4F4
}

.center-box .greybox {
  overflow:auto  !important
}

.row .txt {
  background-color: White;
  border: 0;
  line-height: normal;
  padding: 14px 10px;
  width: 100%;
}

.row {
  margin-bottom: 10px;
}

.fl50 {
  float: left;
  width: 49%;
}

.fr50 {
  float: right;
  width: 49%;
}

.greybox {
  background-color: #F4F4F4;
  padding: 20px;
   width: 70%;
  margin: auto;
  padding-top: 150px;
    color: #A9A9A9;
    font-size: 15px;

}

footer {
  margin-top: 50px
}


.greybox input {
  width: 100%;
}

select {
  border: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 0;
  height: 42px;
  font-size: 15px;
  color: #A9A9A9;
  padding: 0 15px;
}

.row {
  margin-bottom: 10px;
  display: block;
  width: 100%;
  float: left;
}

input#rbIndividual, input#rbBusiness, input#cbFeedback {
  float: left;
  width: auto;
  margin-right: 20px;
}

.h6 {
  margin-bottom: 20px;
}

.ftstrap img {
  float: left;
  padding: 30px 0;
}

.ftstrap {
  float: left;
  width:100%
}

.ftstrap div:nth-child(2) {
  float: left;
  padding-top: 50px;
}

.ftstrap img {
  float: left;
  padding: 30px 30px 30px 0;
}

.greybox button {
  width: 100%;
  margin-top: 20px;
}

.greybox p {
  color:#4D585F
}

.col-md-1 a i {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    display: block;
    background-color: #00AFA5;
    color: #fff;
    border-radius: 100%;
    padding: 17px 0 0 18px;
}

.col-md-6 {
    padding: 5px;
    background-color: #F4F4F4;
}

.col-md-6 p, .col-md-12 p {
    padding: 10px;
    background-color: #fff;
}

.col-md-6 p i {
    float: right;
}

.free p {
  color:#fff;
  background-color: #4b91e1
}

.col-md-12 {
    padding: 5px;
}

h1 {
    font-size: 3vw;
}

h3 {
    font-size: 20px;
}

.col-md-1 {
    margin: 20px 0;
}

.col-md-1 {
  float:left
}

.h4 {
    font-size: 25px;
}


/** CSS START 05/08/2015 **/

header .login-btn-rt{float: right;}
header .login-btn-rt .login{
  float: left; 
  background: #e6e6e6; 
  padding: 9px 24px; 
  color: #4a4a4a; 
  font-size: 15px; 
  line-height: 20px; 
  margin-right: 4px;}

.middle-signup-container{width: 335px; display: inline-block;}
.middle-signup-container input[type="city"]{width: 100%; box-sizing: border-box; border: 1px solid #e6e6e6; padding: 10px 15px; color: #4a4a4a; font-size: 15px;}
.middle-signup-container input[type="text"]{width: 100%; box-sizing: border-box; border: 1px solid #e6e6e6; padding: 10px 15px; color: #4a4a4a; font-size: 15px;}
.middle-signup-container input[type="email"]{width: 100%; box-sizing: border-box; border: 1px solid #e6e6e6; padding: 10px 15px; color: #4a4a4a; font-size: 15px;}
.middle-signup-container input[type="email"]:focus{border: 1px solid #ccc;}
.middle-signup-container button[type="submit"]{width: 100%; box-sizing: border-box; font-size: 18px; line-height: 24px; font-weight: 700; background-color: #ed5664; padding: 8px 15px; margin-top: 4px;}
.middle-signup-container a.forget-password{float: left; font-size: 14px; color: #4b545a; margin: 10px 0 0 4px;}
.middle-signup-container ul li{margin-bottom: 4px; display: inline-block; width: 100%;}

.top-center-box .middle-social-section{/*padding:50px 0px; width: 100%; display: inline-block; */position: absolute;
left:0; width: 100%; bottom: 68px; padding: 0 20px;}

.term-privacy-left{float: left; margin-top: 12px;}
.term-privacy-left ul{list-style: none; margin: 0; padding: 0}
.term-privacy-left ul li{float: left; margin: 0 0 0 22px;}
.term-privacy-left ul li a{color: #4b545a; font-size: 14px; display: block;}

.social-icon-right{float: right;}
.social-icon-right ul{list-style: none; margin: 0; padding: 0}
.social-icon-right li{float: left; margin: 0 9px 0 0;}
.social-icon-right li:last-child{margin-right: 0;}

/*06-08-2015*/
.request-new-password button.cancel{ float:left; background: #4b545a; font-size: 18px; padding:9px 18px; width: 31%; margin-right: 10px; margin-top: 6px; }
.request-new-password button.request-pass{width: 66%; float: right; margin:6px 0 0 0;}

/*.top-section > div:first-child{top:-90px; height: 114%;}*/
/*
.form-min-hgt-wrap{min-height: 460px;}*/
.middle-signup-container{min-height: 210px;}
.min-height-zero{min-height: 0;}
.middle-signup-container select{  -moz-appearance: none; -webkit-appearance: none; appearance: none;  background:url(../img/drop-arrow.png) no-repeat 95% 50% #fff; border: 1px solid #e6e6e6; }

.signup-step{text-align: left;}
.signup-step ul li{margin: 0 0 20px 0;}
.signup-step ul li span{ font-size: 15px; color: #4a4a4a;}
.signup-step ul li input[type="radio"]{margin-top: 10px; margin-left: 0;}

.back-previous{text-align: center;}
.back-previous a{color: #a5a5a5; font-size: 18px; margin: 10px 0 0 0; font-weight: 700;}

.cd-section > div{ height: 100%; }

.top-center-box h2{margin-bottom: 25px; margin-top: 0px;}

.cd-section-two h2{margin-top: 160px;}

.cd-section.cd-inner-listing:first-of-type > div:first-child{background-image: none;}
.cd-section.cd-inner-listing .center-box{display: block;}
.cd-section.cd-inner-listing .business-img-listing{ clear: both; display: inline-block; width: 100%; 
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  padding: 0 5%;}
.cd-section.cd-inner-listing .business-img-listing li{
 margin: 0 7px 6px 0;
 width: 109px; 
 display: inline-block;
position: relative;
   }
.cd-section.cd-inner-listing .business-img-listing li a h4{ font-size: 13px; color: #fff; text-align: left;  margin: 4px 0 0 4px;}
.cd-section.cd-inner-listing .business-img-listing li a{display: block;}
.cd-section.cd-inner-listing .business-img-listing li img{width: 100%;}
.cd-section.cd-inner-listing .center-box-hght h2.first{display: inline-block; width: auto; float: none;}

.business-listing-heading{background:url(../img/business-img-top-shadow.png) repeat-x 0 0; position: absolute; width: 100%; height: 100%; top:0; left: 0;}

.form-min-hgt-wrap .business-message{font-size:15px; color: #4a4a4a; padding: 0; max-width: 100%; line-height: 20px; margin: 0 0 5px 0;}


@media screen and (-webkit-min-device-pixel-ratio:0) {
   ::i-block-chrome, .cd-section:first-of-type > div:first-child {
     background-position:center -130%;
    }
}