@media only screen and (max-width:1920px) {
    .my-col-2, .my-col-5 {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
#result-circle .owl-controls .owl-buttons .owl-prev {
    margin-left: -10px;
}
#result-circle .owl-controls .owl-buttons .owl-next {
    margin-right: -10px;
}
.my-col-5 {
    width: 41.667%}
.my-col-2 {
    width: 16.667%}
.dl-menuwrapper {
    display: none;
}
.profile_page {
}
}
@media only screen and (max-width:1600px) {
    .profile_page {
}
}
@media only screen and (max-width: 1440px) {
    #result-circle .owl-controls .owl-buttons .owl-next {
    margin-right: -10px;
}
#result-circle .owl-controls .owl-buttons .owl-prev {
    margin-left: -10px;
}
.comment_reply .latest_footerlink_right li a {
    font-size: 12px;
}
.comment_reply .latest_footerlink_right li {
    margin-right: 5px;
}
.resp-tabs-list li:last-child {
    margin-right: 0;
}
.summary_edit {
    width: 880px;
    height: 150px;
}
.dl-menuwrapper {
    display: none;
}
.profile_page {
    height: auto;
}
.tab-settings li {
    width: 100%}
}@media only screen and (max-width:1366px) {
    .left-side, .main-header .logo, .main-sidebar {
    width: 180px;
}
.content-wrapper, .main-footer, .main-header>.navbar, .right-side {
    margin-left: 180px;
}
.match_result {
    width: 140px;
    height: 140px;
}
.mathc_txt {
    margin-top: 30px;
}
.portfolio .view_box_body {
    padding: 10px;
}
.summary_edit {
    width: 830px;
}
}@media only screen and (max-width:1280px) {
    .resp-tabs-list li {
    width: 19.2%;
    font-size: 11px;
}
.resp-tabs-list li:last-child {
    margin-right: 0;
}
.post_link>li a {
    font-size: 11px;
}
.summary_edit {
    width: 780px;
}
.publish_toppart {
    height: 250px;
}
.settings_tab .resp-vtabs .resp-tabs-container {
    width: 75%}
.tab-settings li { width: 100%}
.connection_box{ min-height: 235px; }

}
@media only screen and (max-width:1024px) {
    .content-wrapper, .main-footer, .main-header>.navbar, .right-side {
    margin-left: 150px;
}
.left-side, .main-header .logo, .main-sidebar {
    width: 150px;
}
.match_result {
    width: 150px;
    height: 150px;
}
.mathc_txt {
    margin-top: 30px;
}
.result_numb {
    width: 70px;
    height: 70px;
}
.result_numbin {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
.result_name {
    font-size: 12px;
}
#result-circle .owl-controls {
    top: 24px;
}
.portfolio .view_box_body {
    padding: 10px;
}
.portbox_txt {
    font-size: 14px;
    margin-top: 25px;
}
.sidebar-menu>li>a, .view_box_top h4 {
    font-size: 16px;
}

.latest_footerlink_right li a {
    font-size: 11px;
}
.latest_footerlink_right li {
    margin-right: 4px;
}
.post_bottom .latest_footerlink li a {
    font-size: 10px;
    padding: 0 3px;
}
.post_innertxt {
    width: 65%}
.comment_reply .latest_footerlink li a span {
    display: none;
}
.resp-tabs-list li {
    padding: 8px 4px;
    width: 18.8%;
    font-size: 10px;
}
.resp-tabs-list li:last-child {
    margin-right: 0;
}
.comment_box .form-control {
    width: 68%}
.summary_edit {
    width: 605px;
}
.inputfile+label * {
    font-size: 10px;
    line-height: 12px;
}
.settings_tab .resp-vtabs .resp-tabs-container {
    width: 74%}
.tab-settings li {
    width: 100%}
}

@media only screen and (max-width:999px) {
    .my-sm-12, .tab-settings li {
    width: 100%}
.portfolio_box {
    height: 82px;
}
.portfolio_box .fa {
    font-size: 40px;
    line-height: 82px;
}
.portbox_txt {
    margin-top: 13px;
}
.post_bottom .latest_footerlink li a {
    font-size: 10px;
    padding: 0 3px;
}
.latest_footerlink_right li a {
    font-size: 12px;
}
.latest_footerlink_right li {
    margin-right: 6px;
}
.latest_footerlink li a {
    padding: 0 4px;
}
.comment_reply .latest_footerlink li a span {
    display: inline-block;
}
.post_s {
    margin-bottom: 20px;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    display: none;
}
.dl-menuwrapper {
    display: block;
    max-width: 100%!important;
    position: absolute!important;
}
.sidebar-mini.sidebar-collapse .main-sidebar, .skin-blue .main-header .logo {
    display: none;
}
.sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .main-footer, .sidebar-mini.sidebar-collapse .right-side {
    margin-left: 0!important;
}
.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 0;
    width: 100%}
.dl-menuwrapper button {
    left: 20px;
    top: 2px;
}
.post_s.mCustomScrollbar, .tab_s.mCustomScrollbar {
    height: 580px;
}
.dl-menuwrapper .dl-menu {
    height: 1030px;
}
.post_link>li a {
    font-size: 10px;
}
.settings_tab .resp-vtabs .resp-tabs-container {
    width: 73%}
.tab-settings li a {
    font-size: 13px!important;
}
}
@media only screen and (max-width:767px) {
    .content-wrapper, .main-footer, .main-header .navbar, .right-side {
    margin-left: 0;
}
.navbar-custom-menu>.navbar-nav {
    float: none;
    text-align: center;
}
.navbar-custom-menu .navbar-nav>li {
    float: none;
    display: inline-block;
}
.latest_footerlink li a {
    padding: 0 4px;
}
.latest_footerlink_right li {
    margin-right: 8px;
}
.left-side, .main-sidebar {
    transform: translate(-230px, 0);
}
.main-header .logo, .main-header .navbar {
    float: none;
    width: 100%}
.content {
    padding: 15px;
}
h2.resp-accordion {
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: none;
}
.bg_yellow img, .profile_detailinner .profile_img img {
    border-radius: 50%}
.details_tab {
    margin-bottom: 20px;
}
.main-header .navbar-custom-menu {
    width: auto;
    float: right;
}
.welcome_popup {
    width: 100%;
    margin: 7% 0 0;
}
.welcome_popup .modal-header .modal-title {
    font-size: 40px;
}
.welcome_popup .modal-body p {
    font-size: 13px;
    line-height: 40px;
}
.welcominput.seconinput {
    margin-right: 0;
    width: 100%}
.welcominput.lastinput {
    margin-top: 20px;
    width: 100%}
.skin-blue .main-header .navbar, .welcome_yellow {
    width: 100%}
.dl-menuwrapper button {
    top: 5px;
    left: 15px;
}
.post_s.mCustomScrollbar {
    max-height: 500px;
    margin-bottom: 20px;
}
.match_s.mCustomScrollbar, .tab_s.mCustomScrollbar {
    max-height: none;
}
.tab-img {
    margin-bottom: 20px;
}
.profile_detailinner .profile_img {
    font-size: 35px;
    line-height: 35px;
    margin-right: 10px;
}
.change_photos2 {
    font-size: 16px;
}
.profile_detailinner {
    padding: 7px 10px 0;
}
.profile_shadow {
    width: 100%}
.profile_details li {
    font-size: 12px;
}
.profile_details {
    padding: 10px;
}
.connect_with, .engagement_score, .latest_msg, .profile_complete {
    display: none;
}
.view_box_bottom .modal-dialog {
    width: 90%}
.modal-body .step3 .art_culture h3 {
    font-size: 22px;
    line-height: 30px;
    margin: 30px 0 10px;
}
.modal-body .step3 .art_culture p {
    margin: 30px 0;
}
.content, .navbar-nav>.user-menu .user-image {
    margin-top: 0;
}
.wiz_2_note {
    width: 100%}
.payment_modal .modal-body .card, .view_box_bottom .modal-body .card {
    width: 23%}
.publish_toppart {
    height: auto;
    min-height: 160px;
}
.sm_none {
    display: none!important;
}
.post_link li {
    width: 32.6%}
.post_link>li a {
    font-size: 11px;
}
.dl-menuwrapper .dl-menu {
    height: 736px;
}
.dl-menuwrapper {
    max-width: 100%!important;
    position: absolute!important;
    display: block;
}
.dropdown-menu .slimScrollDiv {
    height: 100px!important;
}
.bg_yellow {
    height: 60px;
    width: 60px;
    font-size: 40px;
    line-height: 40px;
}
.bg_yellow img {
    height: 60px;
    width: 60px;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    height: 130px!important;
}
.main-header .logo {
    display: none;
}
.skin-blue .main-header .navbar {
    position: static;
}
.share_list {
    display: inline-block;
    width: 46%;
    font-size: 12px;
}
.profile_page:hover .change_photos, .profile_page>img {
    display: none;
}
.comment_box .form-control {
    width: 64%}
.profile_detailinner {
    width: 100%;
    text-align: center;
}
.profile_detailinner h4 {
    font-size: 14px;
    line-height: 17px;
    padding: 0;
}
.profile_detailstxt {
    font-size: 12px;
    line-height: 12px;
}
.change_photos {
    top: 8%}
.profile_uploader {
    width: 100%;
    padding: 2px 10px;
}
.profile_details li {
    border: none;
    width: 32%}
.profile_shadow {
    background: 0 0;
    height: auto;
}
.profile_page {
    height: auto;
    min-height: 270px;
    background: #e5e5e5;
}
.profile_detailinner .profile_img {
    left: 50%;
    margin-left: -35px;
    margin-bottom: 20px;
    top: 40%;
    height: 70px;
    width: 70px;
}
.profile_detailinner .profile_img img {
    height: 70px;
    width: 70px;
}
.change_photos2 {
    line-height: 70px;
}
.prof_details {
    float: left;
    overflow: hidden;
    width: 100%}
.profile_connects {
    padding-top: 0;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
.mob_msg {
    display: block;
}
.mob_msg li, .mob_msg li a {
    display: inline-block;
}
.mob_msg li a {
    border: 1px solid #357cb7;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    color: #357cb7;
    margin: 0 5px;
    padding: 8px 20px;
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}
.mob_msg li a:hover {
    background: #357cb7;
    color: #fff;
}
.profile_details li span {
    font-size: 25px;
    line-height: 25px;
}
.profile_details li p {
    margin: 0;
    font-size: 14px;
}
.business_nm {
    font-size: 22px;
}
.summary iframe {
    height: auto;
    width: 100%}
.tab_s.mCustomScrollbar {
    margin-bottom: 30px;
}
.wiz_content, .wizard_inner {
    width: 100%}
.payment_modal .modal-dialog {
    width: 93%}
.settings_tab .resp-vtabs .resp-tabs-container {
    width: 100%;
    margin-left: 0;
}
.settings_tab .resp-accordion a {
    display: block;
    padding: 15px;
    color: #fff;
    font-size: 16px;
}
.settings_tab h2.resp-accordion {
    display: block;   
    margin-bottom: 1px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.settings_tab .resp-arrow {
    margin-top: 18px;
}
.plan_half {
    float: none;
    margin: 0 0 50px;
    width: 100%}

    /*===================13-07-16==============*/
    .publish_namecontainer{ padding: 10px; }
    .publis_name{ font-size: 16px; line-height: 18px; }
    #publish_details .pulish_heading{ width: 70%; }
    .publishfooter .latest_footerlink_right{ float: right; }
    .latest_header a h6{ word-break: break-all; }
    .main-header{ width: 100%; position: fixed; }
    .content-wrapper { padding-top: 60px;}
    .share_innercont .post_img{ width: 100%; }
    .change_photos2{ width: 60px; height: 60px; }
    .edit_toggle {bottom: 8px;float: right; margin-right: -30px; margin-top: 0; position: absolute; right: 50%;}    
    .profile_connects{ margin: 20px 0 40px; }
    .profile_img .modal-dialog { width: 95%;}
    .modal-footer > input{ width: 100%; margin-bottom: 20px; }
    .prof_txt { display: inline-block; line-height: 75px !important;}
     #loading-center-absolute{ margin-left: -48px !important; }
     .message_first .mCustomScrollbar { height: 190px;}
     h2.resp-accordion br { display: none;}
     h2.resp-accordion{ text-align: center; }
    h2.resp-accordion .fa { margin-right: 5px;}
    .settings_tab h2.resp-accordion{ padding: 0; margin-bottom: 7px; }
    .settings_tab .resp-accordion a{ padding: 10px 15px; }
    .settings_tab .resp-arrow { margin-right: 15px; margin-top: 14px;}
    .resp-tab-content .box-header { display: none;}
    .settings_tab h2.resp-tab-active{ padding: 0 !important; }
    .settings_tab h2.resp-accordion .hvr-bounce-to-right{ transform: none; }
    .usersettings_inner .control-label{ max-width: 90%; vertical-align: top; }
    .mobile_footer{ display: block; }
    .profile_img span {  font-size: 27px; line-height: 60px;}
    .mobile_footer .latest_header{ width: 100%; }

}
@media screen and (min-width:480px) and (max-width:640px) {
    .main-header .navbar-custom-menu {
    float: right;
    width: auto;
}
.left-side, .main-sidebar {
    padding-top: 102px;
}
.content {
    padding: 20px 15px 15px;
}
.comment_box .form-control {
    width: 78%}
.payment_modal .modal-body .card, .view_box_bottom .modal-body .card {
    width: 43%}

/*=====================08-08-16=================*/
    #message_modal .modal-dialog {
    width: auto;
} 

}

@media only screen and (max-width:479px) {
    .profile_uploader { width: 100%; padding: 2px 5px;}
    .post_img{ width: 100%; margin-right: 0; float: none; margin-bottom: 20px; }
    .publishfooter .publishfooterlink{ margin-right: 0; }
    #publish_details .publish_second .publishfooter .pub_date { margin-left: 3px;}

    /*==============14-07-16==============*/
    .share_innerblock .latest_header{max-height: inherit;}
    .nav > li > a { padding: 10px 12px;}

    /*=====================08-08-16=================*/
    #message_modal .modal-dialog {
    width: auto;
}
    
}