.skin-blue .main-header .navbar{background-color:#496780;}
.skin-blue .main-header .navbar .nav > li > a{color:#ffffff;}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a{background:rgba(0, 0, 0, 0.1);color:#f6f6f6;}
.skin-blue .main-header .navbar .sidebar-toggle{color:#ffffff;}
.skin-blue .main-header .navbar .sidebar-toggle:hover{color:#f6f6f6;background:rgba(0, 0, 0, 0.1);}
.skin-blue .main-header .navbar .sidebar-toggle{color:#fff;}
.skin-blue .main-header .navbar .sidebar-toggle:hover{background-color:#367fa9;}
@media (max-width:767px){.skin-blue .main-header .navbar .dropdown-menu li.divider{background-color:rgba(255, 255, 255, 0.1);}
.skin-blue .main-header .navbar .dropdown-menu li a{color:#fff;}
.skin-blue .main-header .navbar .dropdown-menu li a:hover{background:#367fa9;}
}
.skin-blue .main-header .logo{background-color:#345672;color:#ffffff;border-bottom:0 solid transparent;}
.skin-blue .main-header .logo:hover{background-color:#357ca5;}
.skin-blue .main-header li.user-header{background-color:#3c8dbc;}
.skin-blue .content-header{background:transparent;}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side{background-color:#345672;}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a{color:#fff;}
.skin-blue .sidebar-menu > li.header{color:#4b646f;background:#345672;height:30px;}
.skin-blue .sidebar-menu > li > a{border-left:3px solid transparent;}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a{color:#ffffff;background:#5d788e;border-left-color:#396d82;}
.skin-blue .sidebar-menu > li > .treeview-menu{margin:0 1px;background:#2c3b41;}
.skin-blue .sidebar a{color:#fff;}
.skin-blue .sidebar a:hover{text-decoration:none;}
.skin-blue .treeview-menu > li > a{color:#8aa4af;}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover{color:#ffffff;}
.skin-blue .sidebar-form{border-radius:20px;margin:13px 10px;}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn{box-shadow:none;border:1px solid transparent;height:24px;-webkit-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.skin-blue .sidebar-form input[type="text"]{color:#666;padding:1px 5px;}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn{background-color:#fff;color:#666;}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn{border-left-color:#fff;}
.skin-blue .sidebar-form .btn{color:#999;border-top-left-radius:0;border-top-right-radius:2px;border-bottom-right-radius:2px;border-bottom-left-radius:0;padding:0 0 0 10px;background:#fff;}
.skin-blue.layout-top-nav .main-header > .logo{background-color:#3c8dbc;color:#ffffff;border-bottom:0 solid transparent;}
.skin-blue.layout-top-nav .main-header > .logo:hover{background-color:#3b8ab8;}
.skin-blue-light .main-header .navbar{background-color:#3c8dbc;}
.skin-blue-light .main-header .navbar .nav > li > a{color:#ffffff;}
.skin-blue-light .main-header .navbar .nav > li > a:hover,
.skin-blue-light .main-header .navbar .nav > li > a:active,
.skin-blue-light .main-header .navbar .nav > li > a:focus,
.skin-blue-light .main-header .navbar .nav .open > a,
.skin-blue-light .main-header .navbar .nav .open > a:hover,
.skin-blue-light .main-header .navbar .nav .open > a:focus,
.skin-blue-light .main-header .navbar .nav > .active > a{background:rgba(0, 0, 0, 0.1);color:#f6f6f6;}
.skin-blue-light .main-header .navbar .sidebar-toggle{color:#ffffff;}
.skin-blue-light .main-header .navbar .sidebar-toggle:hover{color:#f6f6f6;background:rgba(0, 0, 0, 0.1);}
.skin-blue-light .main-header .navbar .sidebar-toggle{color:#fff;}
.skin-blue-light .main-header .navbar .sidebar-toggle:hover{background-color:#367fa9;}
@media (max-width:767px){.skin-blue-light .main-header .navbar .dropdown-menu li.divider{background-color:rgba(255, 255, 255, 0.1);}
.skin-blue-light .main-header .navbar .dropdown-menu li a{color:#fff;}
.skin-blue-light .main-header .navbar .dropdown-menu li a:hover{background:#367fa9;}
}
.skin-blue-light .main-header .logo{background-color:#3c8dbc;color:#ffffff;border-bottom:0 solid transparent;}
.skin-blue-light .main-header .logo:hover{background-color:#3b8ab8;}
.skin-blue-light .main-header li.user-header{background-color:#3c8dbc;}
.skin-blue-light .content-header{background:transparent;}
.skin-blue-light .wrapper,
.skin-blue-light .main-sidebar,
.skin-blue-light .left-side{background-color:#f9fafc;}
.skin-blue-light .content-wrapper,
.skin-blue-light .main-footer{border-left:1px solid #d2d6de;}
.skin-blue-light .user-panel > .info,
.skin-blue-light .user-panel > .info > a{color:#444444;}
.skin-blue-light .sidebar-menu > li{-webkit-transition:border-left-color 0.3s ease;-o-transition:border-left-color 0.3s ease;transition:border-left-color 0.3s ease;}
.skin-blue-light .sidebar-menu > li.header{color:#848484;background:#f9fafc;}
.skin-blue-light .sidebar-menu > li > a{border-left:3px solid transparent;font-weight:600;}
.skin-blue-light .sidebar-menu > li:hover > a,
.skin-blue-light .sidebar-menu > li.active > a{color:#000000;background:#f4f4f5;}
.skin-blue-light .sidebar-menu > li.active{border-left-color:#3c8dbc;}
.skin-blue-light .sidebar-menu > li.active > a{font-weight:600;}
.skin-blue-light .sidebar-menu > li > .treeview-menu{background:#f4f4f5;}
.skin-blue-light .sidebar a{color:#444444;}
.skin-blue-light .sidebar a:hover{text-decoration:none;}
.skin-blue-light .treeview-menu > li > a{color:#777777;}
.skin-blue-light .treeview-menu > li.active > a,
.skin-blue-light .treeview-menu > li > a:hover{color:#000000;}
.skin-blue-light .treeview-menu > li.active > a{font-weight:600;}
.skin-blue-light .sidebar-form{border-radius:3px;border:1px solid #d2d6de;margin:10px 10px;}
.skin-blue-light .sidebar-form input[type="text"],
.skin-blue-light .sidebar-form .btn{box-shadow:none;background-color:#fff;border:1px solid transparent;height:35px;-webkit-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.skin-blue-light .sidebar-form input[type="text"]{color:#666;border-top-left-radius:2px;border-top-right-radius:0;border-bottom-right-radius:0;border-bottom-left-radius:2px;}
.skin-blue-light .sidebar-form input[type="text"]:focus,
.skin-blue-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn{background-color:#fff;color:#666;}
.skin-blue-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn{border-left-color:#fff;}
.skin-blue-light .sidebar-form .btn{color:#999;border-top-left-radius:0;border-top-right-radius:2px;border-bottom-right-radius:2px;border-bottom-left-radius:0;}
@media (min-width:768px){.skin-blue-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu{border-left:1px solid #d2d6de;}
}
.skin-blue-light .main-footer{border-top-color:#d2d6de;}
.skin-blue.layout-top-nav .main-header > .logo{background-color:#3c8dbc;color:#ffffff;border-bottom:0 solid transparent;}
.skin-blue.layout-top-nav .main-header > .logo:hover{background-color:#3b8ab8;}
.cust-float-right{float:right;}