@media only screen and (max-width: 2500px) {
	.top_header{ top: 3%;}
	.email_validate{ padding-top: 20px;}
	.phone_img{ width: 23%;}
	.slider_part{ padding-top: 30px; padding-bottom: 230px;}
	.firstpage_cont{ padding-top: 180px;}
	.email_validate1{ padding-top: 90px; margin: 0 auto; width: 26%; padding-bottom: 30px;}
	footer{ padding: 18px 0; position: absolute; width: 100%; bottom: 60px;}
	a.down-page{ bottom:2%;}
}

@media only screen and (max-width: 1920px) {
	.email_validate{ padding-top: 20px;}
	.phone_img{ width: 33%;}
	.slider_part{ padding-top: 100px; padding-bottom: 230px; width: 45%;}
	.firstpage_cont{ padding-top: 0; width: 57%;}
	.email_validate1{ padding-top: 0; margin: 0 auto; width: 20%; padding-bottom: 30px;}
	footer{ padding: 18px 0; position: absolute; width: 100%; bottom: 60px;}
	a.down-page{ bottom:4%;}
	.social_links{bottom: 4%;}
	.logo { display: inline-block; width: 19%;}
	.signup_media{ font-size: 17px;}
	.slider_bluetxt{ font-size: 40px; line-height: 50px;}
	.slider_part .owl-controls{ margin-top: 90px;}
	.video{ width: 960px;}
	.white_menu { position: absolute; width: 200px; right: 10%; top: 30px;}
	.top_business h3{ padding: 0 0 100px;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 29%;
}
.point2 {
    left: 37%;
    position: absolute;
    top: 33%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 55%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 64%;
}

}

@media only screen and (max-width: 1600px){
	.logo { display: inline-block; width: 22%;}
    
    .top_header{ padding: 10px 0;}
	.firstpage_cont{ padding-top: 0; width: 80%;}
	.firstpage_cont h1{ font-size: 70px; line-height: 75px; margin: 0 0 15px; }
	.email_validate{ padding-top: 80px;}
	.email_validate h2{ margin: 0 0 25px; line-height: 35px;}
	
	.phone_img{ width: 34%; }
	.slider_part h2 {font-size: 50px; line-height: 55px; margin: 0 0 20px;}
	.slider_part{ padding-top: 20px; padding-bottom: 200px; width: 50%;}
	.slider_bluetxt{ font-size: 40px; line-height: 46px;}
	.slider_graytxt{ font-size: 22px; line-height: 28px;}
    
   
	.video_section h2{ font-size: 50px; padding: 40px 0; margin-top: 80px;}
	.video{ width: 786px;}
	.video iframe{ height: 420px;}

	
	.top_business { padding: 14px 0 0;}
	.top_business h3{ padding: 0 0 80px;}
	.email_validate1{ padding-top: 0; margin: 0 auto; width: 27%; padding-bottom: 30px;}
	.dl-menuwrapper{ padding: 30px 0 70px;}	
	.avator{ padding: 20px;}
	.avator_img{ width: 90px; height: 90px;}
	.signup{ margin: 10px 0 2px; font-size: 17px;}
	footer{ padding: 18px 0; position: absolute; width: 100%; bottom: 10px;}
	.form-control{ height: 38px;}
	.firstpage_cont .firstpage_details{ font-size: 25px; line-height: 30px;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 29%;
}
.point2 {
    left: 37%;
    position: absolute;
    top: 33%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 55%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 64%;
}

}

@media only screen and (max-width: 1400px){
	.logo { display: inline-block; width: 25%;}
	.top_header{ padding: 0;}	
	.firstpage_cont h1{ font-size: 50px; line-height: 60px; margin: 0 0 5px; }
	.email_validate{ padding-top: 70px;}
	.email_validate h2{ margin: 0 0 25px; line-height: 35px;}		
	
	
	.phone_img{ width: 38%; }
	.slider_part{ padding-top: 90px; padding-bottom: 210px;}	
	.slider_graytxt{ font-size: 22px; line-height: 28px;}
    
   
	.video_section h2{ font-size: 50px; padding: 40px 0; margin-top: 120px;}
	.video{ width: 786px; margin-bottom: 50px;}
	.video iframe{ height: 420px;}

	
	.top_business { padding: 14px 0 0;}
	.top_business h3{ padding-top: 0;}
	.email_validate1{ padding-top: 0; margin: 0 auto; width: 27%; padding-bottom: 80px;}
	.dl-menuwrapper{ padding-bottom:0;}	
	.avator{ padding: 20px;}
	.avator_img{ width: 90px; height: 90px;}
	.signup{ margin: 10px 0 2px; font-size: 17px;}
	footer{ padding: 18px 0 25px;}
	.form-control{ height: 38px;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 29%;
}
.point2 {
    left: 37%;
    position: absolute;
    top: 33%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 55%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 64%;
}




}

@media only screen and (max-width: 1366px){
	.logo { display: inline-block; width: 25%;}
	.top_header{ padding:0;}
	.firstpage_cont{ padding-top: 50px;}	
	.firstpage_cont h1{ font-size: 40px; line-height: 50px; margin: 0 0 5px; }
	.firstpage_cont .firstpage_details{ font-size: 22px; line-height: 28px;}
	.email_validate{ padding-top: 40px; padding-bottom: 40px;}
	.email_validate h2{ margin: 0 0 25px; line-height: 35px;}
	a.down-page { bottom: 2%; font-size: 16px;}		
	
	
	.phone_img { height: 93%; width: 31%;}
	.slider_part{ padding-top: 80px; padding-bottom: 100px;}
	.slider_part h2{ font-size: 37px;line-height: 50px;}
	.slider_bluetxt{ font-size: 30px; line-height: 36px;}	
	.slider_graytxt{ font-size: 20px; line-height: 28px;}
	.slider_part .owl-controls { margin-top: 50px;}

    
     .opportunity_section{ height: 136px;}
     .opportunity_inner h3{ font-size: 27px; line-height: 27px; margin-bottom: 15px;}
     .dl-menuwrapper{ padding: 20px 0 0;}
	.video_section h2{ font-size: 35px; padding: 0 0 10px; margin-top: 120px;}
	.video{ width: 644px; margin-bottom: 0;}
	.video iframe{ height: 340px;}

	
	.top_business { padding: 14px 0 0;}
	.top_business h3 { padding: 0 0 30px;}
	.email_validate1{ padding-top: 0; margin: 0 auto; width: 27%; padding-bottom: 80px;}
	.dl-menuwrapper{ padding-bottom:0;}	
	.avator{ padding: 20px;}
	.avator_img{ width: 90px; height: 90px;}
	.signup{ margin: 10px 0 2px; font-size: 17px;}
	footer{ padding: 18px 0 25px;}
	.form-control{ height: 33px;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 29%;
}
.point2 {
    left: 37%;
    position: absolute;
    top: 33%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 55%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 64%;
}


}

@media only screen and (max-width: 1280px){
	.logo { display: inline-block; width: 25%;}
	.top_header{ padding:0;}
	.firstpage_cont{ padding-top: 0;}	
	.firstpage_cont h1{ font-size: 40px; line-height: 50px; margin: 0 0 5px; }
	.firstpage_cont .firstpage_details{ font-size: 22px; line-height: 28px;}
	.email_validate{ padding-top: 40px; padding-bottom: 40px;}
	.email_validate h2{ margin: 0 0 25px; line-height: 35px;}
	a.down-page { bottom: 4%; font-size: 18px;}		
	
	
	.phone_img { height: auto; width: 31%;}
	.slider_part{ padding-top: 120px; padding-bottom: 160px;}
	.slider_part h2{ font-size: 37px;line-height: 50px;}
	.slider_bluetxt{ font-size: 30px; line-height: 36px;}	
	.slider_graytxt{ font-size: 20px; line-height: 28px;}
	.slider_part .owl-controls { margin-top: 50px;}

    
     .opportunity_section{ height: 136px;}
     .opportunity_inner h3{ font-size: 27px; line-height: 27px; margin-bottom: 15px;}
     .dl-menuwrapper{ padding: 20px 0 0;}
	.video_section h2{ font-size: 35px; padding: 0 0 10px; margin-top: 120px;}
	.video{ width: 644px; margin-bottom: 0;}
	.video iframe{ height: 340px;}

	
	.top_business { padding: 14px 0 0;}
	.top_business h3 { padding: 0 0 30px;}
	.email_validate1{ padding-top: 0; margin: 0 auto; width: 27%; padding-bottom: 80px;}
	.dl-menuwrapper{ padding-bottom:0;}	
	.avator{ padding: 20px;}
	.avator_img{ width: 90px; height: 90px;}
	.signup{ margin: 10px 0 2px; font-size: 17px;}
	footer{ padding: 18px 0 25px;}
	.form-control{ height: 33px;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 29%;
}
.point2 {
    left: 37%;
    position: absolute;
    top: 33%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 55%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 64%;
}

}




@media only screen and (max-width: 1169px) {
     .firstpage_cont h1{ font-size: 47px; line-height: 55px;}
	
	.email_validate{ width: 40%; padding-top: 50px;}
	#section1{ height: auto; padding-bottom: 50px;}
	.slider_part h2{ font-size: 50px; line-height: 56px; margin-bottom: 30px;}
	.slider_bluetxt{ font-size: 28px; line-height: 35px;}
	.slider_graytxt{ font-size: 18px; line-height: 23px;}
	.top_business > .email_validate{ width: 30%;}	
	#section3{ height: auto;}
}

@media only screen and (max-width: 1024px) {

	.firstpage_cont h1{ font-size: 47px; line-height: 55px;}	
	.email_validate{ width: 40%; padding-top: 50px;}
	#section1{ height: auto; padding-bottom: 50px;}
	.slider_part h2{ font-size: 50px; line-height: 56px; margin-bottom: 30px;}
	.slider_bluetxt{ font-size: 28px; line-height: 35px;}
	.slider_graytxt{ font-size: 18px; line-height: 23px;}
	.top_business > .email_validate{ width: 30%;}	
	#section3{ height: auto;}
	.dl-menuwrapper{ padding:30px 0 0;}

	#paricing_page h2 { font-size: 35px;}
	.standart li h3{ font-size: 34px; line-height: 35px;}
	.standart li span{ font-size: 16px;}
	.opportunity_section{ bottom: 49px;}
	.phone_img{ width: 34%; bottom: 0; height: 72%;}
	.email_validate1{ width: 32%;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 23%;
}
.point2 {
    left: 37%;
    position: absolute;
    top: 27%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 44%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 52%;
}

}

@media only screen and (max-width: 999px){
	.firstpage_cont h1{ font-size: 50px; line-height: 60px;}
	.email_validate{ padding-top: 120px; width: 60%;}
	.slider_part h2{ font-size: 40px; line-height: 46px; margin-bottom: 30px;}
	.slider_bluetxt{ font-size: 26px; line-height: 30px;}
	.slider_graytxt{ font-size: 18px; line-height: 25px;}
	#section1{ height: auto; padding-bottom: 30px;}
	.opportunity_inner{ width: 60%;}
	.video_section h2{ font-size: 45px; line-height: 50px;}
	.video{ width: 90%;}
	.video iframe{ height: 370px;}
	#section2{ height: auto; padding-bottom: 70px;}	
	.top_business > .email_validate{ width: 40%;}
	#section3{ height: auto;}

	.phone_img { bottom: 0;  left: 0; width: 45%; height: auto;}
	.opportunity_section { bottom: 30px;}
	.video_section h2{ padding: 40px 0; margin-top: 0; }
	.email_validate1 { width: 43%;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 27%;
}
.point2 {
    left: 40%;
    position: absolute;
    top: 32%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 54%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 62%;
}

}

@media only screen and (max-width: 767px) {

	.logo { display: inline-block; margin-bottom: 20px; text-align: center; width: 100%;}
	.top_action_btn { float: none; text-align: center;}
	.firstpage_cont h1{ font-size: 21px; line-height: 31px;}
	.firstpage_cont p {  font-size: 18px;}
	.email_validate { margin: 0 auto; padding-top: 40px; width: 100%;}
	.email_validate h2{ font-size: 20px; margin-bottom: 10px;}
	.social_links { bottom: 120px;  position: absolute; text-align: center; width: 100%; right: 0;}
	.slider_part{ width: 90%; float: right; padding-top: 30px;}
	.slider_part h2{ font-size: 28px; line-height: 30px; margin-bottom: 30px;}
	.slider_bluetxt{ font-size: 28px; line-height: 30px;}
	.slider_graytxt{ font-size: 17px; line-height: 20px;}
	.opportunity_inner{ width: 100%;}
	.opportunity_inner h3{ font-size: 23px; line-height: 28px;}
	.opportunity_section{ height: auto;}
	.video_section h2{ font-size: 22px; line-height: 28px;}
	.video{ width: 95%; margin: 0 auto;}
	.video iframe{ height: auto;}
	#section2{ height: auto; padding-bottom: 80px;}
	.top_business h3{ font-size: 22px; line-height: 28px;}
	.top_business { padding: 70px 0;}
	.top_business > .email_validate{ width: 80%;}
	#section3{ height: auto;}
	#section1{ height: 900px;}

	.dl-menuwrapper{ padding:0;}
	#paricing_page{ height: auto; padding-bottom: 50px;}
     .business_details{ display: none;} 
	.standart{ padding-bottom: 50px;}
	.disable {display: block;line-height: 16px; padding: 5px; background: #eee;}
	#paricing_page h2 { font-size: 24px; line-height: 30px; padding: 30px 0;}



}