
img{ max-width: 100%;}
h1,h2,h3,h4,h5,h6{font-family: 'oxygenbold', Arial;}
h2{ font-size: 62px; line-height: 67px;}
a{ transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease;}
ul,li,a{ padding: 0; margin: 0; list-style: none; text-decoration: none;}

 ul#nav{position:absolute; left:20px; top:34%; z-index:10000; width:10px; margin:0px;}

#content ul#nav li{ list-style:none; margin:0px; padding:0px; float:left; height:10px; margin:5px 0 5px; width:auto; cursor:pointer;}
a.down-page { bottom: 20px; left: 50%; text-align: center; color: #fff; font-size: 22px; margin-left: -60px; position: absolute; text-align: center; width: 125px;}

.top_header{ padding: 20px 0; position: absolute; width: 100%; z-index: 3; }
.top_header1{ background: #4787bd; padding: 12px 0; }
.top_action_btn { float: right;}
.top_btn { border: 1px solid #fff; border-radius: 4px; color: #fff; padding: 2px 10px; margin: 0 5px;}
.top_btn:hover, .top_btn.active{ background: #fff; color: #366a96;}
.firstpage_cont{ width: 77%; margin: 0 auto; padding-top: 100px; color: #fff;}
.firstpage_cont h1{  font-family: 'oxygenbold', Arial; font-size: 80px; color: #fff; line-height: 85px; margin-bottom: 20px;}
.firstpage_cont h1 span{ text-transform: uppercase;}
.firstpage_cont .firstpage_details{ font-size: 27px; }
.firstpage_cont .line{ width: 100%; margin: 20px 0; border-bottom: 1px solid #fff;}
.email_validate { padding-top: 80px; margin: 0 auto; width: 35%;}
.email_validate h2{ font-size: 26px; margin-bottom:30px;  font-family: 'source_sans_probold', Arial;}
.email_validate .get_started{ width: 100%;}
.get_started{ background: #fcc315; color: #fff; font-family: 'source_sans_probold', Arial; font-size: 20px;  transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease;}
.get_started:hover{ background: #e6b00b; color: #fff;}
.social_links {  position: absolute; right: 10%; bottom: 40px;}
.social_links li a .fa{ color: #fff; font-size: 20px;}
.social_links li{ display: inline-block; margin: 0 5px;}
.social_links a { border: 2px solid #82a3bf; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; display: inline-block; height: 45px; line-height: 45px; text-align: center;  width: 45px;}
.social_links a:hover{ background: #fff;}
.social_links a:hover .fa{ color: #326896;}

.phone_img { bottom:0; left: 10%; position: absolute; width: 35%;}
.slider_part { float: right;  padding-top: 150px; padding-bottom: 50px; width: 52%;}
.slider_part h2{ font-size: 62px; color: #585c60; line-height: 67px; margin-bottom: 70px;}
.slider_bluetxt{ font-size: 42px; line-height: 47px; color: #357cb7; font-family: 'source_sans_probold', Arial; margin-bottom: 20px;}
.slider_graytxt{ font-size: 27px; line-height: 32px; color: #585c60;}

#slider .owl-controls .owl-page span{ 
	background-color: #b1c7d4;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin-right: 20px;
    position: relative;
    transition: transform 0.3s ease-out 0s, background-color 0.3s ease-out 0s;
    width: 6px; opacity: 1;}

    #slider .owl-controls .owl-page span:after{ 
    content: "";
    display: block;
    height: 20px;
    left: -7px;
    position: absolute;
    top: -7px;
    width: 20px;}
#slider .owl-controls .owl-page.active span{  background-color: #006cff;  transform: scale(2); opacity: 1;}
#slider .owl-controls .owl-page.active span:after{  transform: scale(0.5);}

.btn_yellow{ background: #fcc315; color: #fff; font-size: 20px; display: inline-block; padding: 8px 30px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;  transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease;}
.btn_yellow:hover{ background: #e6b00b; color: #fff;}
.m_t30{ margin-top: 30px;}

.opportunity_section{ background: url(../images/opportunity_bg.jpg) center center no-repeat; background-size:cover; height: 165px; padding:30px 0; position: absolute; width: 100%; top: 0;}
.opportunity_inner{ width: 50%; margin: 0 auto; text-align: center;}
.opportunity_inner h3{ color: #fff; margin:0 0 20px; font-size: 32px; line-height: 35px; }

.video_section h2, #paricing_page h2{ margin: 0; color: #4787bd; padding: 80px 0 60px;}
.video{ text-align: center; width: 900px; border: 15px solid #b8cbdc; margin: 0 auto;}
.video iframe{ width: 100%; height: 530px; display: block; border:none;}

.top_business{ padding: 30px 0;}
.top_business h3{ color: #fff; margin: 0; font-size: 42px; line-height: 47px; text-align: center;  padding-top: 70px;}
.top_business > .email_validate{ width: 22%; padding-top: 70px;}
.avator{ background:rgba(100,154,200,0.5); padding: 30px; text-align: center; color: #fff; margin-bottom: 20px;}
.avator_img{ width: 100px; height: 100px; border: 3px solid #fff; border-radius: 50%;}
.signup{ font-size: 20px;  font-family: 'source_sans_probold', Arial; display: block; margin: 30px 0 2px;}
.line{ width: 100%; margin: 20px 0; border-bottom: 1px solid #4e8cc0;}
.link_yellow{ color: #fcc315; text-decoration: underline;}
.link_yellow:hover{color: #fff;}
.signup_media{ color: #fff; font-size: 16px;}

footer{ padding: 25px 0; background: #363f47; color: #fff;}
.footer_link { margin-top: 16px;}
.footer_link li{ display: inline-block;}
.footer_link li a{ color: #fff; margin: 0 5px; font-family: 'source_sans_probold', Arial;}
.footer_link li a:hover{color: #fcc315;}
.copyright{ margin: 16px 0 0;}

.footer_social_link li{ display: inline-block; margin: 0 5px;}
.footer_social_link li a{  border: 1px solid #757b81; color: #fff;  border-radius: 50%; display: inline-block; height: 30px; line-height: 32px; text-align: center; width: 30px;}
.footer_social_link li a:hover{ background: #fcc315;}
.social_links li a .fa { color: #fff; font-size: 16px;}
.footer_social_link { margin-top: 10px;}

.top_header1 .dl-menuwrapper{ padding: 0;}
#paricing_page h2{ text-align: center;}

.business_details ul{ padding-top: 104px;}
.business_details li { font-size: 23px; line-height: 50px; color: #585c60;}

.standart{ text-align: center;}
.standart li { line-height: 50px;}
.standart li h3 { font-size: 46px; line-height: 50px; margin: 0; padding: 0; color: #585c60;}
.standart li span { color: #585c60; font-size: 26px;}
.circle_blue { background: #357cb7; vertical-align: middle; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; display: inline-block; height: 30px;  width: 30px;}
.circle_gray { background: #bfbfbf; vertical-align: middle; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; display: inline-block; height: 30px;  width: 30px;}
.blue_btn{ background: #357cb7; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; padding: 8px 30px;  font-family: 'source_sans_probold', Arial; font-size: 20px; line-height: 22px; display: inline-block; color: #fff;}
.blue_btn:hover{ background: #1f6299; color: #fff;}
.disable {display: none;}

.email_validate1 .get_started{ width: 100%;}

#section1 #fp-nav ul li a span{ background: #f00 !important;}

/*=======================Input Field Effect ================*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	width: 100%;	
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}



.input__label {
	display: inline-block;
	float: right;
	padding: 0 10px;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 18px;
	height: 35px;
	line-height:35px;
	margin: 0;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	/*padding: 1.6em 0;*/
	width: 100%;
}


.input--haruki {
	margin:0 0 12px;
}

.input__field--haruki {
	padding:5px 10px;
	width: 100%;
	background: #fff;
	color: #AFB5BB;
	font-size: 1.55em;
	border-radius: 4px;
	height: 35px;	
}

.input__label--haruki {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
}

.input__label-content--haruki {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}



.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
	-webkit-transform: translate3d(-65%, 0,  0);
	transform: translate3d(-65%, 0,  0);
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
	-webkit-transform: translate3d(0, -0.5em, 0);
	transform: translate3d(0, -0.5em, 0);
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
	-webkit-transform: translate3d(0, 0.5em, 0);
	transform: translate3d(0, 0.5em, 0);
}

/*======================End Inpu Field ========================*/
.rw-words {  display: inline;  text-indent: 10px;}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #fcc315;
	-webkit-animation: rotateWord 12s linear infinite 0s;
	-ms-animation: rotateWord 12s linear infinite 0s;
	animation: rotateWord 12s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #fff;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #fcc315;	
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color: #fff;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}

/*===================Header Text animation==========*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

/*=================Mobile pulse Effects=======================*/

.cbutton {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	color: #eb5665;
	font-size: 1.4em;
	overflow: visible;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
}

/* Effect Boris */
.cbutton--effect-boris::after {
	background: rgba(235,86,101,0.3);
}

.cbutton--effect-boris::after {
	-webkit-animation: anim-effect-boris 0.9s infinite;
	animation: anim-effect-boris 0.9s infinite;
}

@-webkit-keyframes anim-effect-boris {
	0% {
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes anim-effect-boris {
	0% {
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}


/*===============header Form fade animation===================*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated.d1{
 -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated.d2{
 -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated.d3{
 -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}







