@media screen and (max-width:1200px) {
	header {
		width: 100%;
		margin: 0 auto;
	}

	.intro-content {
		display: inline-block;
		width: 70%;
	}


}

@media screen and (max-width:1024px) {
}

/* Responsive nav kicks in */
@media screen and (max-width:991px) {
	
	.intro-content {
    width: 100%;
}
	header {
		width: 100%;
		padding-left: 25px;
	}


	


	.navicon {
		visibility: visible;
	}



	.intro-content {
		display: inline-block;
		width: 75%;
		margin-bottom: 30px;
	}

	.last {
		margin: 0;
	}

	.features {
		padding-bottom: 0 !important;
	}

	.features .device-showcase,
	.features-extra .macbook-wrap {
		display: none;
	}

	.features .responsive-feature-img,
	.features-extra .responsive-feature-img {
		display: block;
		width: 85%;
		margin: 15% auto 0;
	}

	.features .responsive-feature-img img,
	.features-extra .responsive-feature-img img {
		width: 100%;
	}

	.hero-strip {
		margin-top: 0;
	}

	.blog-intro .leftcol {
		padding: 0 15px;
		margin-bottom: 15px;
		border-right: none;
	}

	.blog-intro .rightcol {
		padding: 0 20px;
	}

	footer .social-share {
    width: 100%;
    padding: 20px;
    height: auto;
}

	footer .footer-links {
		margin: 120px 0 120px 0;
	}
.intro-content {
    width: 100%;
}
	@media screen and (max-width:640px) {
		footer ul.footer-group {
			border-top: none;
		}

.intro-content {
    width: 100%;
}

		footer ul.footer-group li a {
			font-size: 13px;
			text-transform: uppercase;
			padding: 20px 0;
			display: block;
			border-bottom: dashed 1px #4E566C;
		}

		footer ul.footer-group li {
			display: block;
		}

		footer .footer-links {
			margin: 50px 0 50px 0;
		}

	}

	@media screen and (max-width:480px) {
		
		img.inline-logo {
    width: 100%;
}
		
		.pca-hold {
    margin-top: -30px;
}
		
		span.number {

    line-height: 70px;
}
		
		section.intro h2 {
    margin-bottom: 10px;
}
		
		.section-padding {
    padding: 40px 0;
}

.hero-strip {
    padding-bottom: 40px;
}
		
		video.fillWidth {
  
    display: none;
}
		
		.features {
    padding-bottom: 0 !important;
    padding-top: 70px !important;
}

.intro-icon {

    display: none;
}

section#map {
    padding: 100px 0 !important;
}
		
	

		.hero .btn {
			display: block;
			width: 80%;
			margin: 0 auto;
		}

		.hero .btn:first-of-type {
			margin-bottom: 20px;
		}

		.hero h1 {
			font-size: 20px;
		}
		
		.hero p.intro {
    font-size: 15px;
}

h2 {
    font-size: 20px;
    line-height: 40px;
}

h5 {
    font-size: 15px;
}
		.btn-margin-right {
			margin-right: 0px;
		}

		.features .device-showcase-left {
			position: absolute;
			bottom: -392px;
			left: 41%;
			right: auto;
			transform: translateX(-50%);
		}

		.features .ipad-wrap {
			width: 706px;
			height: 1002px;
			background: url("../img/ipad-device.png") no-repeat center center;
			z-index: 1;
			background-size: 40%;
		}

		.features .iphone-wrap {
			width: 304px;
			height: 617px;
			background: url("../img/iphone6.png") no-repeat center center;
			position: absolute;
			left: 350px;
			bottom: 129px;
			z-index: 2;
			background-size: 40%;
		}

		.features {
			padding-bottom: 0;
		}

		.down-arrow {
			display: none;
		}
.intro-content.last.introtwo {
    margin-top: 60px;
}
	}

	@media screen and (max-width:320px) {
	}
	
	/*extra resolution media queries*/
	@media only screen and (min-width: 980px) and (max-width: 1024px) {
	.hero h1{font-size:5rem;}
	form#a_SignUpFormEmail{min-height:270px;}
	}
	
	@media only screen and (min-width: 980px) and (max-width: 1024px) {
	.hero h1{font-size:5rem;}
	form#a_SignUpFormEmail{min-height:270px;}
	}
	
	@media only screen and (min-width: 768px) and (max-width: 979px) {
	form#a_SignUpFormEmail{min-height:270px;}	
	}