

@media only screen and (max-width: 1920px) {
	#section0{background:#336997 url(../images/section0.jpg) center center no-repeat; background-size:cover;}	
	.email_validate{ padding-top: 7%; width: 40%;}
	.email_validate h2{ font-size: 26px; line-height: 26px;}
	.phone_img { height: 84%; width: 31%;}
	.phone_img  img{ height: 100%;}
	.slider_part{ padding-top: 100px; padding-bottom: 130px; width: 45%;}
	.firstpage_cont{ padding-top: 9%; width: 57%;}
	.firstpage_cont h1{ font-size: 70px; line-height: 75px;}
	.firstpage_cont .firstpage_details { font-size: 27px; line-height: 28px;}
	.social_links a{ width: 55px; height: 55px; line-height: 55px;}
	.social_links li a .fa{ font-size: 20px;}
	.signup_media { font-size: 20px;}
	.email_validate1 .signup_media { font-size: 14px;}
	.email_validate1{ padding-top: 0; margin: 0 auto; width: 20%; padding-bottom: 30px;}
	footer{ padding: 18px 0; position: absolute; width: 100%; bottom: 0;}	
	a.down-page{ bottom:4%;}
	.social_links{bottom: 4%;}
	.logo { display: inline-block; width: 24%;}
	.top_action_btn { float: right; margin-top: 10px;}
	.top_btn{ font-size: 18px; line-height: 18px; vertical-align: middle; padding: 5px 18px;}	
	.slider_bluetxt{ font-size: 40px; line-height: 50px;}
	.slider_part .owl-controls{ margin-top: 90px;}
	.video{ width: 960px;}
	.white_menu { position: absolute; width: 200px; right: 10%; top: 30px;}
	.top_business h3{ padding: 13% 0 6%;}
	.signup_page .logo{ width: 12%;}	

	.slider_part h2{ font-size: 70px; line-height: 70px;}
	.slider_bluetxt{ font-size: 50px;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 27%;
}
.point2 {
    left: 38%;
    position: absolute;
    top: 31%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 52%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 61%;
}

.section__content {
  padding-left: 3px;
  margin: 0 auto;
  width: 70%;  
}

.mCustomScrollbar { height: 600px;}
.signup_buttons{ bottom: 180px; right: 25%;}
.step3_cont {  margin: 0 auto;  width: 74%;}
.step3process .signup_buttons { bottom: 150px; right: 23%;}
.signup_step3 .mCustomScrollbar { height: 590px;}
.signup_step3 h1{ width: 98%;}

.footer_logo { display: inline-block; width: 60%;}
.copyright { margin: 5px 0 0; font-size: 12px;}
.footer_link { margin-top: 5px;}
.footer_social_link { margin-top: 0;}

.top_business h3{ font-size: 45px; line-height: 50px;}

}

@media only screen and (max-width: 1600px){

	.logo { display: inline-block; width: 24%;}
	.top_btn { font-size: 16px; line-height: 16px; padding: 4px 16px; }
	.top_header {padding-top: 20px;}
    
    .top_header{ padding-top:25px;}
	.firstpage_cont{ padding-top: 4%; width: 60%;}
	.email_validate { width: 43%; padding-top: 30px; padding-bottom: 40px;}
	.firstpage_cont h1{ font-size: 55px; line-height: 60px; margin: 0 0 15px; }
	.signup_media {  font-size: 17px;}
	.social_links a { height: 50px; line-height: 50px;  width: 50px;}
	.social_links li a .fa {  font-size: 17px;}
	a.down-page{ font-size: 20px;}	
	.email_validate h2{ margin: 0 0 25px; line-height: 35px;}
	
	.phone_img { height: 90%; width: 29%;}
	.phone_img img{ height: 100%;}
	.slider_part h2 { font-size: 60px; line-height: 60px; margin: 0 0 40px;}
	.slider_part{ padding-top: 0; padding-bottom:0; width: 50%;}
	.slider_bluetxt{ font-size: 40px; line-height: 46px;}
	.slider_graytxt{ font-size: 22px; line-height: 28px;}
	.slider_part .owl-controls { margin-top: 40px;}
    
   
	.video_section h2{ font-size: 50px; padding: 40px 0; margin-top: 20px;}
	.video{ width: 644px; margin-bottom: 0;}
	.video iframe{ height: 340px;}
	

	
	.top_business { padding: 14px 0 0;}
	.top_business h3 { padding: 9% 0 6%;}
	.email_validate1{ padding-top: 0; margin: 0 auto; width: 27%; padding-bottom: 30px;}
	.dl-menuwrapper{ padding: 30px 0 50px;}	
	.avator{ padding: 20px;}
	.avator_img{ width: 90px; height: 90px;}
	.signup{ margin: 10px 0 2px; font-size: 17px;}
	footer{ padding: 18px 0; position: absolute; width: 100%; bottom: 0;}
	.top_business h3{ font-size: 40px; line-height: 45px;}
	.form-control{ height: 38px;}
	.firstpage_cont .firstpage_details{ font-size: 22px; line-height: 25px;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 29%;
}
.point2 {
    left: 38%;
    position: absolute;
    top: 33%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 56%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 65%;
}
.section__content{ width: 90%;}
.signup_buttons { bottom: 140px; right: 21%;}

.step3_cont { width: 100%;}
.signup_step3{ margin-bottom: 50px;}
.step3process .signup_buttons{ right: 17.5%; bottom: 110px;}
.subtag_select > li{ padding: 5px 21.5px;}
.signup_step3 h1{ width: 98.7%;}



}

@media only screen and (max-width: 1440px){
	.logo { display: inline-block; width: 23%;}	
	.top_header{ padding-top: 20px;}	
	.top_btn {  font-size: 15px; line-height: 15px;  padding: 4px 15px;}
	.firstpage_cont{ padding-top: 9%;}
	.firstpage_cont h1{ font-size: 50px; line-height: 60px; margin: 0 0 5px; }
	.firstpage_cont .firstpage_details{ font-size: 22px; line-height: 25px;}
	.email_validate{ padding-top: 40px;}
	.email_validate h2{ margin: 0 0 25px; line-height: 35px;}	
	.social_links a { height: 45px; line-height: 45px; width: 45px;}

	.phone_img {height: 87.1%;  width: 36%;}
	.slider_part h2{ font-size: 50px; line-height: 50px;}
	.slider_bluetxt {  font-size: 36px; line-height: 41px;}	
	.slider_part .owl-controls { margin-top: 40px;}
	.slider_part{ padding-top: 90px; padding-bottom:0;}	
	.slider_graytxt{ font-size: 22px; line-height: 28px;}
	
	.video_section h2{ font-size: 50px; padding: 40px 0; margin-top: 0;}
	.video{ width: 650px; margin-bottom: 50px;}
	.video iframe{ height:358px;}

	
	.top_business { padding: 14px 0 0;}
	.top_business h3{ padding-top: 10%;}
	.email_validate1{ padding-top: 0; margin: 0 auto; width: 27%; padding-bottom: 80px;}
	.dl-menuwrapper{ padding-bottom:0;}	
	.avator{ padding: 20px;}
	.avator_img{ width: 90px; height: 90px;}
	.signup{ margin: 10px 0 2px; font-size: 17px;}
	footer{ padding: 18px 0 25px;}
	.form-control{ height: 38px;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 29%;
}
.point2 {
    left: 38%;
    position: absolute;
    top: 33%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 55%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 65%;
}

.section__content {
  padding-left: 3px;
  margin: 0 auto;
  width: 100%;  
}
.mCustomScrollbar { height: 460px;}
.signup_buttons { bottom: 170px; right: 15%;}

#cloud_animation{width: 12%; left: 1%;}
#cloud_animation2{ width: 12%; right: 7%;}
#breakline_animation1{ width: 12%; left: 7%;}
#breakline_animation2{ width: 12%; right: 1%;}

}

@media only screen and (max-width: 1366px){
	.logo { display: inline-block; width: 24%;}
	.top_header{ padding-top:15px;}
	.top_btn { font-size: 14px; line-height: 14px;  padding: 3px 14px;}
	.firstpage_cont{ padding-top: 60px; width: 57%;}	
	.firstpage_cont h1{ font-size: 50px; line-height: 50px; margin: 0 0 5px; }
	.firstpage_cont .firstpage_details{ font-size: 20px; line-height: 21px;}
	.firstpage_cont .line{ margin: 16px 0 13px;}
	.email_validate{ padding-top: 27px; padding-bottom: 0; width: 46%;}
	.email_validate h2{ margin: 0 0 10px; line-height: 35px;}
	a.down-page { bottom: 3%; font-size: 16px;}		
	.social_links { bottom: 3%;}

	
	.phone_img { bottom: 0; height: 85%; width: 26%;}
	.phone_img img{ height: 100%;}

	.slider_part{ padding-top: 30px; padding-bottom: 0;}

/*	.slider_part{ padding-top: 30px; padding-bottom: 100px;}*/
      

	.slider_part h2{ font-size: 60px;line-height: 60px; margin: 0 0 30px;}
	.slider_bluetxt{ font-size: 30px; line-height: 36px;}	
	.slider_graytxt{ font-size: 20px; line-height: 28px;}
	.slider_part .owl-controls { margin-top: 20px;}

    
     .opportunity_section{ height: auto; padding: 30px 0;}
     .opportunity_inner{ width: 70%;}
     .opportunity_inner .form-control{ font-size: 16px; width: 250px;}
     .opportunity_inner .btn { padding: 5px 12px;}
     .opportunity_inner .get_started{ font-size: 16px;}
     .opportunity_inner h3{ font-size: 27px; float: left; line-height: 27px; margin-bottom: 15px;}
     .opportunity_section .dl-menuwrapper{ padding: 10px 0 0;}
	.video_section h2{ font-size: 35px; padding: 0 0 10px; margin-top: 30px;}
	.video{ width: 644px; margin-bottom: 0;}
	.video iframe{ height: 340px;}

	
	.top_business { padding: 0;}
	.top_business h3 { padding: 53px 0 30px;}
	.email_validate1{ padding-top: 0; margin: 0 auto; width: 27%; padding-bottom: 80px;}
	.dl-menuwrapper{ padding-bottom:0;}	
	.avator{ padding: 20px;}
	.avator_img{ width: 90px; height: 90px;}
	.signup{ margin: 10px 0 2px; font-size: 17px;}
	footer{ padding: 18px 0 25px;}
	.footer_logo { display: inline-block; width: 60%;}
	.form-control{ height: 33px;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 29%;
}
.point2 {
    left: 37%;
    position: absolute;
    top: 33%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 55%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 64%;
}

/*===================Video background animation================*/
#cloud_animation{ animation: bobble 2s infinite; position: absolute; top: 20%; left: 6%;}
#cloud_animation2{ animation: bobble 2s infinite; position: absolute; top: 20%; right: 10%;}
#breakline_animation1{  animation: breakline 2s infinite; position: absolute; top: 65%; left: 13%;}
#breakline_animation2{  animation: breakline 2s infinite; position: absolute; top: 85%; right: 5%;}
#spinner{-webkit-animation: spin 1.5s linear infinite; animation: spin 1.5s linear infinite; position: absolute; top: 85%; left: 12%;}
#spinner1{-webkit-animation: spin 1.5s linear infinite; animation: spin 1.5s linear infinite; position: absolute; top: 55%; right: 12%;}

.mCustomScrollbar { height: 300px;}
.signup_buttons {  bottom: 120px;  right: 13%;}

.step3process .signup_buttons {  bottom: 50px; right: 12%;}
.signup_step3 .mCustomScrollbar{ height: 380px;}
.step3_cont{ width: 100%;}
.subtag_select > li{ padding: 5px 21px;}

}

@media only screen and (max-width: 1280px){
	.logo { display: inline-block; width: 25%;}
	.top_header{ padding-top: 15px;}
	.firstpage_cont{ padding-top: 4%; width: 60%;}	
	.firstpage_cont h1{ font-size: 50px; line-height: 50px; margin: 0 0 5px; }
	.firstpage_cont .firstpage_details{ font-size: 22px; line-height: 28px;}
	.email_validate{ padding-top: 30px; padding-bottom: 40px;}
	.email_validate h2{ margin: 0 0 25px; line-height: 35px;}
	a.down-page { bottom: 4%; font-size: 18px;}		
	
	
	.phone_img { height: 90%; width: 32%;}
	.slider_part{ padding-top: 90px; padding-bottom: 0;}
	.slider_part h2{ font-size: 37px;line-height: 50px;}
	.slider_bluetxt{ font-size: 30px; line-height: 36px;}	
	.slider_graytxt{ font-size: 20px; line-height: 28px;}
	.slider_part .owl-controls { margin-top: 50px;}

    
     .opportunity_section{ height: 95px;}
     .opportunity_inner h3{ font-size: 27px; line-height: 27px; margin-bottom: 15px;}
     .dl-menuwrapper{ padding: 20px 0 0;}
	.video_section h2{ font-size: 35px; padding: 0 0 30px; margin-top: 50px;}
	.video{ width: 644px; margin-bottom: 0;}
	.video iframe{ height: 340px;}

	
	.top_business { padding: 14px 0 0;}
	.top_business h3 { padding: 5% 0;}
	.email_validate1{ padding-top: 0; margin: 0 auto; width: 27%; padding-bottom: 80px;}
	.dl-menuwrapper{ padding-bottom:0;}	
	.avator{ padding: 20px;}
	.avator_img{ width: 90px; height: 90px;}
	.signup{ margin: 10px 0 2px; font-size: 17px;}
	footer{ padding: 18px 0 25px;}
	.form-control{ height: 33px;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 29%;
}
.point2 {
    left: 37%;
    position: absolute;
    top: 33%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 55%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 64%;
}

.signup_buttons { bottom: 200px;  right: 11%;}
.step3process .signup_buttons { bottom: 110px; right: 9.5%;}
.step3_cont { margin-bottom: 70px;}
.subtag_select > li{ padding: 5px 8px;}

#cloud_animation{width: 12%; left: -3%;}
#cloud_animation2{ width: 12%; right: 6%;}
#breakline_animation1{ width: 12%; left: 6%;}
#breakline_animation2{ width: 12%; right: -3%;}

}




/*@media only screen and (max-width: 1169px) {
     .firstpage_cont h1{ font-size: 47px; line-height: 55px;}
	
	.email_validate{ width: 40%; padding-top: 50px;}
	#section1{ height: auto; padding-bottom: 50px;}
	.slider_part h2{ font-size: 50px; line-height: 56px; margin-bottom: 30px;}
	.slider_bluetxt{ font-size: 28px; line-height: 35px;}
	.slider_graytxt{ font-size: 18px; line-height: 23px;}
	.top_business > .email_validate{ width: 30%;}	
	#section3{ height: auto;}

	.mCustomScrollbar { height: 270px;}
}
*/
@media only screen and (max-width: 1024px) {
   
	.firstpage_cont h1 { font-size: 40px; line-height: 45px;}	
	.firstpage_cont .firstpage_details { font-size: 18px; line-height: 22px;}
	.social_links a { height: 40px; line-height: 40px;  width: 40px;}
	.phone_img { bottom: 0; height: 85%;  left: 3%;  width: 37%;}
	.email_validate{ width: 53%; padding-top: 50px;}
	.slider_part { padding-bottom: 0; padding-top: 30px;}	
	.slider_part h2 { font-size: 40px; line-height: 46px;  margin-bottom: 40px;}
	.slider_bluetxt {  font-size: 26px;  line-height: 32px;}	
	.video_section h2{ margin-top: 20px;}	
	.slider_graytxt{ font-size: 18px; line-height: 23px;}
	.top_business > .email_validate{ width: 30%;}		
	.dl-menuwrapper{ padding:30px 0 0;}

	#paricing_page h2 { font-size: 35px;}
	.standart li h3{ font-size: 34px; line-height: 35px;}
	.standart li span{ font-size: 16px;}
	.opportunity_section{ bottom: 49px;}	
	.email_validate1{ width: 32%;}
	.email_validate1 .signup_media{ font-size: 16px;}
	.footer_link li a{ font-size: 11px;}
	.copyright{ font-size: 12px;}

	/*===========phone pulsh animation=============*/
	.point1 {
    left: 68%;
    position: absolute;
    top: 28%;
}
.point2 {
    left: 37%;
    position: absolute;
    top: 32%;
}
.point3 {
    left: 38%;
    position: absolute;
    top: 55%;
}

.point4 {
    left: 40%;
    position: absolute;
    top: 64%;
}
.subtag_select > li{ padding: 5px 10px; margin-right: 8px;}

.opportunity_section { height: 96px; padding: 30px 0;}
.opportunity_inner { width: 90%;}
.opportunity_inner h3{ margin-bottom: 0; margin-right: 40px;}
.opportunity_inner .form-inline{ float: left;}


#section1{ background-image: url(../images/section0sm.jpg);}
#cloud_animation{width: 12%; left: -3%;}
#cloud_animation2{ width: 12%; right: 6%;}
#breakline_animation1{ width: 12%; left: 6%;}
#breakline_animation2{ width: 12%; right: -3%;}
}

@media only screen and (max-width: 999px){
.phone_img{ height:auto;}
.phone_img img{ height:auto;}	


.slider_part{ width: 52%;}
.slider_part .owl-controls { margin-top: 30px;}
.mCustomScrollbar { height: 550px;}
.card{ width: 15%;}
.firstpage_cont{ width: 80%;}
#breakline_animation1{ width: 12%; left: 6%; z-index: -1;}
.email_validate1 { width: 40%;}
.opportunity_inner { width: 54%;}
.opportunity_inner h3{ margin: 0 0 10px;}
.opportunity_section{ height: 130px;}

   /* .firstpage_cont { padding-top: 24%;}
	.slider_part { padding-bottom: 0; padding-top: 180px;}
	.opportunity_inner { width: 53%; text-align: center;}
	.opportunity_inner h3{ margin: 0 0 10px;}
	.opportunity_section{ height: 130px;}
	.video_section h2 { margin-top: 130px;}
	.top_business h3 { padding: 25% 0 7%;}
	.email_validate1 { width: 40%;}*/

/*=======================07-03-16=========================*/

.firstpage_cont{ padding-top: 24%; }	

}
@media only screen and (min-width: 601px) and (max-width: 800px) {
	
	.video { margin-bottom: 0; width: 530px;}
	.video iframe { height: 291px;}

}

@media only screen and (max-width: 767px) {
.logo { width: 30%;}
.top_action_btn{ margin-top: 6px;}
.top_btn{ padding: 3px 6px; }
.firstpage_cont{ width: 60%; padding-top: 4%;}
.firstpage_cont h1 { font-size: 22px; line-height: 25px;}
.firstpage_cont .firstpage_details {  font-size: 14px;  line-height: 20px;}
.email_validate {  padding-top: 2px; padding-bottom: 0;  width: 95%;}
.email_validate h2 {  font-size: 18px;  line-height: 35px;  margin: 0 0 11px;} 
.signup_media { font-size: 15px; text-align: center;}

#pp-nav{ display: none;}
.social_links { bottom: 40px; position: absolute; right: 0; text-align: center; width: 100%;}

.phone_img{ display: none;}
.slider_part{ width: 100%;}
.slider_part h2 { font-size: 30px; line-height: 36px; margin-bottom: 30px;}
.slider_bluetxt { font-size: 22px; line-height: 26px;}

.white_menu{ top: 9%;}
.opportunity_inner { width: 50%; text-align: center;}
.opportunity_inner h3 { font-size: 16px;}
.opportunity_section { height: auto;}
.opportunity_inner .form-control { font-size: 13px;  width: 100%;}
.opportunity_inner .get_started { display: block; font-size: 16px;  margin: 0; width: 100%;}
.video_section h2 { font-size: 20px; line-height: 22px; margin-top: 35px;}
.video {  margin-bottom: 0;  width: 305px;}
.video iframe{ height: auto;}

.top_business h3 { font-size: 22px;  padding: 5% 0;}
.top_business .white_menu { width: 100%;}
.email_validate1 { width: 50%;}

footer { position: static; text-align: center;}
.footer_logo{ width: 35%;}
.footer_social_link { margin-top: 10px;}
.white_menu { position: static; top: 9%;}
.social_links{ position: static; width: auto; margin: 15px 0;}
a.down-page { width: 100%; margin: 0 auto 20px;  display: inline-block; font-size: 18px; position: static;}

#cloud_animation, #cloud_animation2, #breakline_animation1, #breakline_animation2, #spinner, #spinner1{ display: none;}
.slider_part { float: left;  width: 90%; padding-bottom: 30px; position: absolute;}
#section2{ height: 660px; position: relative;}
.owl-carousel{ position: relative; }
.owl-carousel .owl-wrapper-outer{ }
.white_menu{ float: right; width: 140px;}
.opportunity_inner h3 { font-size: 23px;}
.opportunity_inner .form-inline { float: none;}
.video{ margin-bottom: 40px;}


 .land-page .section{transform:inherit !important; transition:inherit !important; position:inherit !important;}
  .land-page .section_holder{position:inherit;}
  .land-page #pagepiling{overflow:inherit;}
  html, body{overflow:inherit;}

  /*=============================07-03-16=================*/
   .validation_error { background: #fff ;  border-radius: 4px; color: #f00; float: right; margin-top: 5px; padding: 7px;  position: static;  right: 0; text-align: center; width: 100%;}
   

}




@media only screen and (max-width: 480px) {
.logo { width: 80%;}
.top_action_btn{ margin-top: 6px;}
.top_btn{ padding: 3px 6px; }
.firstpage_cont{ width: 100%;}
.firstpage_cont h1 { font-size: 22px; line-height: 25px;}
.firstpage_cont .firstpage_details {  font-size: 14px;  line-height: 20px;}
.email_validate {  padding-top: 2px; padding-bottom: 0;  width: 95%;}
.email_validate h2 {  font-size: 18px;  line-height: 35px;  margin: 0 0 11px;} 
.signup_media { font-size: 15px; text-align: center;}

#pp-nav{ display: none;}
.social_links { bottom: 40px; position: absolute; right: 0; text-align: center; width: 100%;}

.phone_img{ display: none;}
.slider_part{ width: 100%;}
.slider_part h2 { font-size: 30px; line-height: 36px; margin-bottom: 30px;}
.slider_bluetxt { font-size: 22px; line-height: 26px;}

.white_menu{ top: 9%;}
.opportunity_inner { width: 72%;}
.opportunity_inner h3 { font-size: 16px;}
.opportunity_section { height: auto;}
.opportunity_inner .form-control { font-size: 13px;  width: 100%;}
.opportunity_inner .get_started { display: block; font-size: 16px;  margin: 0; width: 100%;}
.video_section h2 { font-size: 20px; line-height: 22px; margin-top: 35px;}
.video {  margin-bottom: 0;  width: 305px;}
.video iframe{ height: auto;}

.top_business h3 { font-size: 22px;  padding: 5% 0;}
.email_validate1 { width: 100%;}

footer { position: static; text-align: center;}
.footer_logo{ width: 35%;}
.footer_social_link { margin-top: 10px;}
.white_menu { position: static; top: 9%;}
.social_links{ position: static; width: auto; margin: 15px 0;}
a.down-page { width: 100%; margin: 0 auto 20px;  display: inline-block; font-size: 18px; position: static;}

#cloud_animation, #cloud_animation2, #breakline_animation1, #breakline_animation2, #spinner, #spinner1{ display: none;}
.slider_part { float: left;  width: 90%; padding-bottom: 30px; position: absolute;}
#section2{ height: 660px; position: relative;}
.owl-carousel{ position: relative; }
.owl-carousel .owl-wrapper-outer{ }
.white_menu{ float: right; width: 100%;}
.opportunity_inner h3 { font-size: 23px;}
.opportunity_inner{ width: 100%;}
.opportunity_inner .form-inline { float: none;}
.video{ margin-bottom: 40px;}


 .land-page .section{transform:inherit !important; transition:inherit !important; position:inherit !important;}
  .land-page .section_holder{position:inherit;}
  .land-page #pagepiling{overflow:inherit;}
  html, body{overflow:inherit;}
}