
img{ max-width: 100%;}
h1,h2,h3,h4,h5,h6{font-family: 'oxygenbold', Arial;}
h2{ font-size: 62px; line-height: 67px;}
a{ transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease;}
ul,li,a{ padding: 0; margin: 0; list-style: none; text-decoration: none;}
*{-webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; text-rendering: optimizeLegibility; }

 ul#nav{position:absolute; left:20px; top:34%; z-index:10000; width:10px; margin:0px;}

#content ul#nav li{ list-style:none; margin:0px; padding:0px; float:left; height:10px; margin:5px 0 5px; width:auto; cursor:pointer;}
a.down-page { bottom: 20px; left: 50%; text-align: center; color: #fff; font-size: 22px; margin-left: -60px; position: absolute; text-align: center; width: 125px;}

.top_header{ padding: 20px 0; }
.top_header1{ background: #4787bd; padding: 12px 0; }
.top_action_btn { float: right;}
.top_btn { border: 1px solid #fff; border-radius: 4px; color: #fff; padding: 2px 10px; margin: 0 5px;}
.top_btn:hover, .top_btn.active{ background: #fff; color: #366a96;}
.firstpage_cont{ width: 77%; margin: 0 auto; padding-top: 100px; color: #fff;}
.firstpage_cont h1{  font-family: 'oxygenbold', Arial; font-size: 80px; color: #fff; line-height: 85px; margin-bottom: 20px;}
.firstpage_cont h1 span{ text-transform: uppercase;}
.firstpage_cont .firstpage_details{ font-size: 27px; }
.firstpage_cont .line{ width: 100%; margin: 20px 0; border-bottom: 1px solid #fff;}
.email_validate { padding-top: 80px; margin: 0 auto; width: 35%;}
.email_validate h2{ font-size: 26px; margin-bottom:30px;  font-family: 'source_sans_probold', Arial;}
.email_validate .get_started{ width: 100%;}
.get_started{ background: #fcc315; color: #fff; font-family: 'source_sans_probold', Arial; font-size: 20px;  transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease;}
.get_started:hover{ background: #e6b00b; color: #fff;}
.opportunity_inner .btn { padding: 6px 12px;}
.opportunity_inner .get_started{ background: #fcc315; margin-left: 13px; color: #fff; font-family: 'source_sans_probold', Arial; font-size: 20px;  transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease;}

.opportunity_inner .get_started:hover{ background: #e6b00b; color: #fff;} 
.social_links {  position: absolute; right: 10%; bottom: 40px;}
.social_links li a .fa{ color: #fff; font-size: 20px;}
.social_links li{ display: inline-block; margin: 0 5px;}
.social_links a { border: 2px solid #82a3bf; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; display: inline-block; height: 45px; line-height: 45px; text-align: center;  width: 45px;}
.social_links a:hover{ background: #fff;}
.social_links a:hover .fa{ color: #326896;}

.phone_img { bottom:0; left: 10%; position: absolute; width: 35%;}
.slider_part { float: right;  padding-top: 150px; padding-bottom: 50px; width: 52%;}
.slider_part h2{ font-size: 62px; color: #585c60; line-height: 67px; margin-bottom: 70px;}
.slider_bluetxt{ font-size: 42px; line-height: 47px; color: #357cb7; font-family: 'source_sans_probold', Arial; margin-bottom: 20px;}
.slider_graytxt{ font-size: 27px; line-height: 32px; color: #585c60;}

#slider .owl-controls .owl-page span{ 
	background-color: #b1c7d4;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin-right: 20px;
    position: relative;
    transition: transform 0.3s ease-out 0s, background-color 0.3s ease-out 0s;
    width: 6px; opacity: 1;}

    #slider .owl-controls .owl-page span:after{ 
    content: "";
    display: block;
    height: 20px;
    left: -7px;
    position: absolute;
    top: -7px;
    width: 20px;}
#slider .owl-controls .owl-page.active span{  background-color: #357cb7;  transform: scale(2); opacity: 1;}
#slider .owl-controls .owl-page.active span:after{  transform: scale(0.5);}

.btn_yellow{ background: #fcc315; color: #fff; font-size: 20px; display: inline-block; padding: 8px 30px; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;  transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease;}
.btn_yellow:hover{ background: #e6b00b; color: #fff;}
.m_t30{ margin-top: 30px;}

.opportunity_section{ background: url(../images/opportunity_bg.jpg) center center no-repeat; background-size:cover; height: 145px; padding:20px 0;  width: 100%; top: 0;}
.opportunity_inner{ width: 50%; margin: 0 auto; text-align: center;}
.opportunity_inner h3{ color: #fff; margin:0 0 20px; font-size: 32px; line-height: 35px; }

.video_section h2, #paricing_page h2{ margin: 0; color: #4787bd; padding: 80px 0 60px;}
.video{ text-align: center; width: 900px; border: 15px solid #b8cbdc; margin: 0 auto;}
.video iframe{ width: 100%; height: 530px; display: block; border:none;}

.top_business{ padding: 30px 0;}
.top_business h3{ color: #fff; margin: 0; font-size: 42px; line-height: 47px; text-align: center;  padding-top: 70px;}
.top_business > .email_validate{ width: 22%; padding-top: 70px;}
.avator{ background:rgba(100,154,200,0.5); padding: 30px; text-align: center; color: #fff; margin-bottom: 20px;}
.avator_img{ width: 100px; height: 100px; border: 3px solid #fff; border-radius: 50%;}
.signup{ font-size: 20px;  font-family: 'source_sans_probold', Arial; display: block; margin: 30px 0 2px;}
.line{ width: 100%; margin: 20px 0; border-bottom: 1px solid #4e8cc0;}
.link_yellow{ color: #fcc315; text-decoration: underline;}
.link_yellow:hover{color: #fff;}
.signup_media{ color: #fff; font-size: 16px;}

footer{ padding: 25px 0; background: #363f47; color: #fff;}
.footer_link { margin-top: 16px;}
.footer_link li{ display: inline-block;}
.footer_link li a{ color: #fff; margin: 0 5px; font-family: 'source_sans_probold', Arial;}
.footer_link li a:hover{color: #fcc315;}
.copyright{ margin: 16px 0 0;}

.footer_social_link li{ display: inline-block; margin: 0 5px;}
.footer_social_link li a{  border: 1px solid #757b81; color: #fff;  border-radius: 50%; display: inline-block; height: 30px; line-height: 32px; text-align: center; width: 30px;}
.footer_social_link li a:hover{ background: #fcc315;}
.social_links li a .fa { color: #fff; font-size: 16px;}
.footer_social_link { margin-top: 10px;}

.top_header1 .dl-menuwrapper{ padding: 0;}
#paricing_page h2{ text-align: center;}

.business_details ul{ padding-top: 104px;}
.business_details li { font-size: 23px; line-height: 50px; color: #585c60;}

.standart{ text-align: center;}
.standart li { line-height: 50px;}
.standart li h3 { font-size: 46px; line-height: 50px; margin: 0; padding: 0; color: #585c60;}
.standart li span { color: #585c60; font-size: 26px;}
.circle_blue { background: #357cb7; vertical-align: middle; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; display: inline-block; height: 30px;  width: 30px;}
.circle_gray { background: #bfbfbf; vertical-align: middle; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; display: inline-block; height: 30px;  width: 30px;}
.blue_btn{ background: #357cb7; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; padding: 8px 30px;  font-family: 'source_sans_probold', Arial; font-size: 20px; line-height: 22px; display: inline-block; color: #fff;}
.blue_btn:hover{ background: #1f6299; color: #fff;}
.disable {display: none;}

.email_validate1 .get_started{ width: 100%;}

#section1 #fp-nav ul li a span{ background: #f00 !important;}

/*=======================Input Field Effect ================*/
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	width: 100%;	
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: 'source_sans_proregular', Arial;	
	-webkit-appearance: none; /* for box shadows to show on iOS */
}



.input__label {
	display: inline-block;
	float: right;
	padding: 0 10px;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 18px;
	height: 35px;
	line-height:35px;
	margin: 0;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	/*padding: 1.6em 0;*/
	width: 100%;
}


.input--haruki {
	margin:0 0 12px;
}

.input__field--haruki {
	padding:5px 10px;
	width: 100%;
	background: #fff;
	color: #78777d;
	font-size:16px;
	border-radius: 4px;
	height: 35px;	
  line-height: 16px;
  font-weight: normal;
}

.input__label--haruki {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
}

.input__label-content--haruki {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}



.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
	-webkit-transform: translate3d(-65%, 0, 0);
	transform: translate3d(-65%, 0,  0);
        color:#fff;
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
	-webkit-transform: translate3d(0, -0.5em, 0);
	transform: translate3d(0, -0.5em, 0);
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
	-webkit-transform: translate3d(0, 0.5em, 0);
	transform: translate3d(0, 0.5em, 0);
}

/*======================End Inpu Field ========================*/



/*=========================rotate word====================*/

.cd-headline.rotate-3 .cd-words-wrapper {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
  display: inline-block; 

}

.cd-headline.rotate-3 b {
  opacity: 0;
}
.cd-headline.rotate-3 i {
  display: inline-block;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-style: normal;
  color: #fcc315;
}
.is-visible .cd-headline.rotate-3 i {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cd-headline.rotate-3 i.in {
  -webkit-animation: cd-rotate-3-in 0.9s forwards;
  -moz-animation: cd-rotate-3-in 0.9s forwards;
  animation: cd-rotate-3-in 0.9s forwards;
}
.cd-headline.rotate-3 i.out {
  -webkit-animation: cd-rotate-3-out 0.9s forwards;
  -moz-animation: cd-rotate-3-out 0.9s forwards;
  animation: cd-rotate-3-out 0.9s forwards;
}

.no-csstransitions .cd-headline.rotate-3 i {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  opacity: 0;
}

.no-csstransitions .cd-headline.rotate-3 .is-visible i {
  opacity: 1;   
}

@-webkit-keyframes cd-rotate-3-in {
  0% {
    -webkit-transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
  }
}
@-moz-keyframes cd-rotate-3-in {
  0% {
    -moz-transform: rotateY(180deg);
  }
  100% {
    -moz-transform: rotateY(0deg);
  }
}
@keyframes cd-rotate-3-in {
  0% {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes cd-rotate-3-out {
  0% {
    -webkit-transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
  }
}
@-moz-keyframes cd-rotate-3-out {
  0% {
    -moz-transform: rotateY(0);
  }
  100% {
    -moz-transform: rotateY(-180deg);
  }
}
@keyframes cd-rotate-3-out {
  0% {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
}

.cd-headline {
    font-size: 6rem;    

  }


.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/*===================Header Text animation==========*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

/*=================Mobile pulse Effects=======================*/

.cbutton {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	color: #eb5665;
	font-size: 1.4em;
	overflow: visible;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
}

/* Effect Boris */
.cbutton--effect-boris::after {
	background: rgba(235,86,101,0.3);
}

.cbutton--effect-boris::after {
	-webkit-animation: anim-effect-boris 0.9s infinite;
	animation: anim-effect-boris 0.9s infinite;
}

@-webkit-keyframes anim-effect-boris {
	0% {
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes anim-effect-boris {
	0% {
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}


/*===============header Form fade animation===================*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}



.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated.d1{
 -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated.d2{
 -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animated.d3{
 -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

/*===================Video background animation================*/
#cloud_animation{ animation: bobble 4s infinite; position: absolute; top: 20%; left: 8%;}
#cloud_animation2{ animation: bobble 4s infinite; position: absolute; top: 20%; right: 10%;}
#breakline_animation1{  animation: breakline 4s infinite; position: absolute; top: 50%; left: 13%;}
#breakline_animation2{  animation: breakline 4s infinite; position: absolute; top: 75%; right: 5%;}
#spinner{-webkit-animation: spin 4s linear infinite; animation: spin 1.5s linear infinite; position: absolute; top: 70%; left: 12%;}
#spinner1{-webkit-animation: spin 4s linear infinite; animation: spin 1.5s linear infinite; position: absolute; top: 50%; right: 12%;}

@keyframes bobble {
    0% {
        transform: translate3d(50px, 40px, 0px);
        animation-timing-function: ease-in;
    }
     
    50% {
        transform: translate3d(50px, 50px, 0px);
        animation-timing-function: ease-out;
    }
     
    100% {
        transform: translate3d(50px, 40px, 0px);
        animation-timing-function: ease-in;
    }
}

@keyframes breakline {
   0% {
        transform: translate3d(-50px, -40px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(-50px, -50px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(-50px, -40px, 0px);
    }
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}



/*===============================SignUp====================================*/
.signup_page #fp-nav { display: none;}
.signup_cont {  color: #fff;  font-size: 60px; line-height: 65px;  margin: 50px auto;  width: 70%;}
.business_input{}

 .business_input, .business_input:focus {
  border:none;
}
.business_input {
  animation: blink-empty 1s infinite;
  border-left: #2c7a76 solid 1px;
  margin:5px ;
  background: none;
  color: #164743;
  width: 100%;
}

@keyframes blink-empty {
  50% {border-left: 1px solid #333;}
}

/*==========signup select box style start ====================*/

/* Default custom select styles */
div.cs-select {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	background: #fff;
	z-index: 100;
	width: 100%;
	max-width: 500px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
	display: none;
}

.cs-select span {
	display: block;
	position: relative;
	cursor: pointer;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cs-placeholder {
    font-size: 60px;
    padding-left: 15px;
    color: #2c7a76;
}

/* Placeholder and selected option */
.cs-select > span {
	padding-right: 65px;
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after {
	content: '\25BE';
	right: 20px;
}

.cs-select .cs-selected span::after {
	content: '\2713';
	margin-left: 1em;
}

.cs-select.cs-active > span::after {
	-webkit-transform: translateY(-50%) rotate(180deg);
	transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
	z-index: 200;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	width: 100%;
	background: #fff;
	visibility: hidden;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
	padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
	cursor: default;
}

/*========border style=====*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?-rdnm34');
	src:url('../fonts/icomoon/icomoon.eot?#iefix-rdnm34') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff?-rdnm34') format('woff'),
		url('../fonts/icomoon/icomoon.ttf?-rdnm34') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?-rdnm34#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

div.cs-skin-border {
	background: transparent;	
	max-width: 410px;
}

@media screen and (max-width: 30em) {
	div.cs-skin-border { font-size: 1em; }
}

.cs-skin-border > span {
	/*border: 5px solid #000;
	border-color: inherit;
	-webkit-transition: background 0.2s, border-color 0.2s;
	transition: background 0.2s, border-color 0.2s;*/
}

.cs-skin-border > span::after,
.cs-skin-border .cs-selected span::after {
	font-family: 'icomoon';
	content: '\e000';
	font-size: 30px;
	color: #2c7a76;
}

.cs-skin-border ul span::after {
	content: '';
	opacity: 0;
}

.cs-skin-border .cs-selected span::after {
	content: '\e00e';
	color: #ddd9c9;
	font-size: 1.5em;
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.cs-skin-border.cs-active > span {
	background: #fff;
	border-color: #fff;
	color: #2c7a76;
}

.cs-skin-border .cs-options {
	color: #2c7a76;
	font-size: 0.75em;
	opacity: 0;
	-webkit-transition: opacity 0.2s, visibility 0s 0.2s;
	transition: opacity 0.2s, visibility 0s 0.2s;
}

.cs-skin-border.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.cs-skin-border ul span {
	 font-size: 40px;
    line-height: 45px;
    padding: 10px 20px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.cs-skin-border .cs-options li span:hover,
.cs-skin-border li.cs-focus span {
	background: #f5f3ec;
}

.signup_nextlink{ color: #2c7a76;}
.signup_nextlink:hover{ color: #fff;}
.signup_nextlink:after{font-family: 'icomoon';
	content: '\e000';
	font-size: 30px;
	margin-left: 15px;
}

/*==========signup select box style end====================*/
.signup_buttons{ bottom: 80px; float: right; position: absolute; right: 10%;}
.white_signupbtn{  background: #fff; color: #18a29a; border: 2px solid transparent;  display: inline-block; font-size: 20px; font-weight: 700;  line-height: 22px; padding: 10px 25px; margin-left: 5px;}
.white_signupbtn:hover{ border: 2px solid #fff; color: #fff; background: none;}


/*=========================Signup STEP 2=========================*/

.signup_step2 .section {
  margin-bottom: 40px;
}

.section__title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
}

.section__content {
  padding-left: 3px; 
  width: 100%; 
}

/**
 * The cards
 *
 * Each card plays home to a front and back. I've set them up as squares here
 * by using the padding technique, but you may set them up in any dimensions
 * you like based on your site design.
 */
.card {
  position: relative;
  float: left; 
  width: 11%;
  text-align: center;
  margin: 0 5px 10px;
  cursor: pointer;
  box-shadow: 0 2px 0 #6a6a6a;
  -moz-box-shadow: 0 2px 0 #6a6a6a;
  -webkit-box-shadow: 0 2px 0 #6a6a6a;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}


/* card fronts and backs */
.card__front,
.card__back {
 /* position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #357cb7;
  font-size: 12px;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
	position: absolute;
  background: #fff;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.card__back {
  background-color: #fff;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* card text */
.card__text {
  display: inline-block;
 /* position: absolute;*/  
  color: #357cb7; 
  padding: 15px 0;
 
}

/* hover effect */
.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* random effect */
.card.effect__random.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card_img{ position: relative;}
.selected{  background:rgba(53,124,183,0.9); border-radius: 8px 8px 0 0; color: #fff; height: 100%; position: absolute; width: 100%; font-size: 18px; line-height: 95px; transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease;}
.selected:hover{ background:rgba(53,164,157,0.9);}
.close_card { color: #e84b5e;  position: absolute; right: 6px; top: 6px; z-index: 1; cursor: pointer;}

.mCustomScrollbar { height: 300px;}


/*============================Signup Step 3===================================*/


.signup_step3 h1 { border-bottom: 1px solid #fff; color: #fff;  font-size: 60px;  font-weight: normal; line-height: 65px;  margin: 0 0 20px; padding-bottom: 5px; font-family: 'source_sans_proregular', Arial;}
.subtag_select > li {  border: 1px solid #fff; border-radius: 30px; color: #fff; cursor: pointer;  display: inline-block;  padding: 5px 21px; margin-right: 10px; margin-bottom: 10px; transition:all 0.5s ease; -moz-transition:all 0.5s ease; -webkit-transition:all 0.5s ease;}
.subtag_select > li:nth-child(8n){ margin-right: 0;}
.subtag_select > li.selectedsub, .subtag_select > li:hover{ background: #fff; color: #32a09a;}
.art_culture { margin-bottom: 20px; margin-right: 30px;}
.signup_step3 .mCustomScrollbar{ height: 380px;}




/*==========fade left=============*/
.element-animation{
  animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
  20% {
    opacity:1;
    transform:  translate(20px,0px)  ;
  }
  100% {
    opacity:0;
    transform:  translate(-1000px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
  20% {
    opacity:1;
    -moz-transform:  translate(20px,0px)  ;
  }
  100% {
    opacity:0;
    -moz-transform:  translate(-1000px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
  20% {
    opacity:1;
    -webkit-transform:  translate(20px,0px)  ;
  }
  100% {
    opacity:0;
    -webkit-transform:  translate(-1000px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
  20% {
    opacity:1;
    -o-transform:  translate(20px,0px)  ;
  }
  100% {
    opacity:0;
    -o-transform:  translate(-1000px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
  20% {
    opacity:1;
    -ms-transform:  translate(20px,0px)  ;
  }
  100% {
    opacity:0;
    -ms-transform:  translate(-1000px,0px)  ;
  }
}

.element-animation.d1{
 -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.element-animation.d2{
 -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}


.element-animation.d3{
 -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}


.pp-viewing-page2 .dotstyle-fillup li a::after{ background: #357cb7; box-shadow: 0 0 1px #357cb7;}
.pp-viewing-page2 .dotstyle-fillup li a{ box-shadow: 0 0 0 2px #357cb7 inset}
.pp-viewing-page3 .dotstyle-fillup li a::after{ background: #357cb7; box-shadow: 0 0 1px #357cb7;}
.pp-viewing-page3 .dotstyle-fillup li a{ box-shadow: 0 0 0 2px #357cb7 inset}

.section_holder{ position: absolute; width: 100%; top: 0; height: 100%;}

.validation_error {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    float: right;
    padding: 7px;
    position: absolute;
    right: -65%;
    color:#f00;
    width: 180px;
    text-align: center;
}









